<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Stocks List" header-tag="h4" class="bg-primary-card">
                <b-tabs ref="tabs" class="profile-tabs">
                    <b-tab title="Stocks" active>
                        <div id="tab-activity" class="tab-pane  active">
                            <Stocks></Stocks>
                        </div>
                    </b-tab>
                    <b-tab title="Stock Logs">
                        <div id="tab-activity" class="tab-pane ">
                            <StockLogs></StockLogs>
                        </div>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    </div>
</template>

<script>
import Stocks from "./parts/stocks.vue"
import StockLogs from "./parts/stocklogs.vue"
export default {
    components: {
        Stocks,
        StockLogs,
    },
    name: "user_profile",
}
</script>
<style src="@/vendors/simple-line-icons/css/simple-line-icons.css"></style>
<style src="@/assets/css/custom_css/user_profile.css" scoped></style>

