<template>
    <div>
        <vuetable ref="vuetable"
            :api-url="apiUrl"
            :data-path="dataPath"
            :http-options="httpOptions"
            :pagination-path="paginationPath"
            :fields="fields"
            :css="css"
            :per-page="perPage"
            :multi-sort="multiSort"
            multi-sort-key="ctrl"
            :sort-order="sortOrder"
            :query-params="queryParams"
            :append-params="filterParams"
            :detail-row-component="detailRowComponent"
            @vuetable:initialized="onInitialized"
            @vuetable:loading="onLoading"
            @vuetable:loaded="onLoaded"
            @vuetable:cell-clicked="onCellClicked"
            @vuetable:pagination-data="onPaginationData">

            <template v-for="item in slotList" :slot="item" slot-scope="props">
                <slot :name="item" :row-data="props.rowData" :row-index="props.rowIndex"></slot>
            </template>

        </vuetable>
        <div class="clearfix">
            <vuetable-pagination-info ref="paginationInfo"
                    :css="css.pagination"
                    :info-template="paginationInfo"
                    info-class="pull-left">
            </vuetable-pagination-info>

            <vuetable-pagination-bootstrap ref="pagination"
                    :css="css.pagination"
                    @vuetable-pagination:change-page="onChangePage">
            </vuetable-pagination-bootstrap>
        </div>
    </div>
</template>

<script>

    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetablePaginationBootstrap from './VuetablePaginationBootstrap'
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'

    import BootstrapStyle from './bootstrap-css.js'

    export default {
        name: 'my-vuetable',
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationBootstrap,
            VuetablePaginationInfo
        },
        props: {
            apiUrl: {
                type: String,
                required: true
            },
            httpOptions: {
                type: Object
            },
            dataPath: {
                type: String,
            },
            paginationPath: {
                type: String
            },
            fields: {
                type: Array,
                required: true
            },
            multiSort: {
                type: Boolean,
                default: true
            },
            sortOrder: {
                type: Array,
                default() {
                    return []
                }
            },
            queryParams: {
                type: Object,
                default() {
                    return {
                        sort: 'sort',
                        page: 'page',
                        perPage: 'per_page'
                    }
                }
            },
            appendParams: {
                type: Object,
                default() {
                    return {}
                }
            },
            detailRowComponent: {
                type: String
            },
            perPage: {
                type: Number,
                default() {
                    return 0
                }
            },
            paginationInfo: {
                type: String,
                default() {
                    return 'Displaying <b>{from}</b> to <b>{to}</b> of <b>{total}</b> items'
                }
            }
        },
        data() {
            return {
                css: BootstrapStyle,
                slotList: [],
                params: {}
            }
        },
        computed: {
            filterParams() {
                return _.merge(this.appendParams, this.params)
            }
        },
        watch: {
            fields(value) {
                this.handleFields()
            }
        },
        beforeMounted() {
            if(this.appendParams)
                this.params = Object.assign({}, this.appendParams)
        },
        mounted () {

            this.control = this.$refs.vuetable

            // this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
            // this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        methods: {

            onInitialized() {
                this.handleFields()
                this.getSlot()
            },

            handleFields() {
                _.forEach(this.fields, (item, index) => {
                    if(item.width)
                        $($('th', this.$el)[index]).attr('width', item.width)

                    if(item.css)
                        $($('th', this.$el)[index]).attr('css', item.css)

                    if(item.style)
                        $($('th', this.$el)[index]).attr('style', item.style)
                })
            },

            extractName (string) {
                return string.split(':')[0].trim()
            },
            extractArgs (string) {
                return string.split(':')[1]
            },
            getSlot() {
                let self = this
                this.fields.forEach(function(field, i) {
                    if(self.extractName(field.name) === '__slot') {
                        self.slotList.push(self.extractArgs(field.name))
                    }
                });
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page)
            },
            setParams(dataObj) {
                this.params = _.merge(this.appendParams, dataObj)

                this.$nextTick(() => this.$refs.vuetable.refresh() )
            },
            resetParams () {
                this.params = {}
                this.$nextTick(() => this.$refs.vuetable.refresh() )
            },

            onCellClicked (dataItem, field, event) {
                this.$emit('vuetable:' + 'cell-clicked', dataItem, field, event)
            },
            onLoading() {

            },
            onLoaded() {

            }
        }
    }
</script>