 <template>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar -->
        <section class="sidebar">
            <div id="menu" role="navigation">
                <div class="nav_profile">
                    <profile></profile>
                </div>
                <vmenu>
                    <vsub-menu title="Members & Network" icon="ti-agenda">
                        <vmenu>
                            <vmenu-item link="/admin/registrations" icon="ti-user">
                                &nbsp; Registrations
                            </vmenu-item>
                            <vmenu-item link="/admin/member" icon="ti-link">
                                &nbsp; Members
                            </vmenu-item>
                            <vmenu-item link="/admin/downline-members/parent" icon="ti-stats-down">
                                &nbsp; Down-line by Parent
                            </vmenu-item>
                            <vmenu-item link="/admin/downline-members/sponsor" icon="fa fa-fw fa-users">
                                &nbsp; Down-line by Sponsor
                            </vmenu-item>
                            <vmenu-item link="/admin/downline-members/detail" icon="fa fa-fw fa-users">
                                &nbsp; Down-line Details
                            </vmenu-item>
                            <vmenu-item link="/admin/companies" icon="fa fa-fw fa-building">
                                &nbsp; Company
                            </vmenu-item>
                            <vmenu-item link="/admin/bonus-logs" icon="ti-gift">
                                &nbsp; Bonus Log
                            </vmenu-item>
                        </vmenu>
                    </vsub-menu>
                    <vsub-menu title="Items & Transaction" icon="ti-desktop">
                        <vmenu>
                            <vmenu-item link="/admin/product" icon="ti-briefcase">
                                &nbsp; Products
                            </vmenu-item>
                            <vmenu-item link="/admin/warehouse" icon="ti-package">
                                &nbsp; Warehouse
                            </vmenu-item>
                            <vmenu-item link="/admin/orders" icon="ti-folder">
                                &nbsp; Order
                            </vmenu-item>
                            <vmenu-item link="/admin/topup" icon="ti-wallet">
                                &nbsp; Topup Wallet
                            </vmenu-item>
                            <vmenu-item link="/admin/payments" icon="ti-credit-card">
                                &nbsp; Payment
                            </vmenu-item>
                            <vmenu-item link="/admin/deposits" icon="ti-money">
                                &nbsp; Deposit
                            </vmenu-item>
                            <vmenu-item link="/admin/deliveries" icon="ti-truck">
                                &nbsp; Delivery
                            </vmenu-item>
                            <vmenu-item link="/admin/transactions" icon="ti-exchange-vertical">
                                &nbsp; Transactions
                            </vmenu-item>
                        </vmenu>
                    </vsub-menu>
                    <vsub-menu title="Master Tables" icon="ti-server">
                        <vmenu>
                            <vmenu-item link="/admin/achievements" >
                                Achievements
                            </vmenu-item>
                            <vmenu-item link="/admin/country">
                                Countries
                            </vmenu-item>
                            <vmenu-item link="/admin/religion" >
                                Religion
                            </vmenu-item>
                            <vmenu-item link="/admin/bank" >
                                Bank
                            </vmenu-item>
                            <vmenu-item link="/admin/bank-account" >
                                Bank Account
                            </vmenu-item>
                            <vmenu-item link="/admin/product-type" >
                                Product Type
                            </vmenu-item>
                            <vmenu-item link="/admin/tags" >
                                Tags
                            </vmenu-item>
                            <vmenu-item link="/admin/network-center-type" >
                                Network Center Type
                            </vmenu-item>
                            <vmenu-item link="/admin/member-type" >
                                Member Type
                            </vmenu-item>
                        </vmenu>
                    </vsub-menu>
                    <vmenu-item :link="company_id" icon="fa fa-fw fa-file-text">
                        &nbsp; Articles
                    </vmenu-item>
                    <vsub-menu title="Reports" icon="ti-book">
                        <vmenu>
                            <vmenu-item link="/admin/reports/auditlog">
                                &nbsp; Audit Logs
                            </vmenu-item>
                            <vmenu-item link="/admin/reports/order">
                                &nbsp; Orders
                            </vmenu-item>
                            <vmenu-item link="/admin/reports/product-stock-logs">
                                &nbsp; Product Stock Logs
                            </vmenu-item>
                            <vmenu-item link="/admin/reports/product-stocks">
                                &nbsp; Product Stocks
                            </vmenu-item>
                            <vmenu-item link="/admin/reports/warehouses">
                                &nbsp; Warehouses
                            </vmenu-item>
                            <vmenu-item link="/admin/reports/downloads">
                                &nbsp; Download Report
                            </vmenu-item>
                        </vmenu>
                    </vsub-menu>
                </vmenu>
                <!-- / .navigation -->
            </div>
            <!-- menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
</template>
<script>
import {
    vmenu,
    vmenuItem,
    vsubMenu
} from './menu';
import profile from "../left-profile/user_profile.vue"
export default {
    name: "left-side",
    components: {
        vmenu,
        vsubMenu,
        vmenuItem,
        profile
    },
    data() {
        return {
            company_id: ''
        }
    },
    mounted () {
        let user = JSON.parse(localStorage.getItem('user'))
        this.company_id = '/admin/companies/'+ user.company_id +'/articles'

    }
}
</script>
