<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Wallets List" header-tag="h4" class="bg-primary-card">
                <div class="table-responsive">
                 <div class="text-left">
                    <div id="search-input-container">
                        <label>
                            <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                        </label>
                        <div class="actions float-right pr-4 mb-3">
                            <button type="button" class="btn btn-icon btn-primary m-r-50" @click="showModal"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                            <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                        </div>
                    </div>
                </div>
                <!-- Modal Component -->
                <b-modal ref="myModalRef" hide-footer title="Create Wallets">
                    <div class="d-block ">
                        <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="control has-icon has-icon-right">
                                            <select v-model="formData.type" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.type') }">
                                                <option value="" disabled hidden>Select Type</option>
                                                <option v-for="option in options" v-bind:key="option.index" v-bind:value="option.value">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                            <i v-show="errors.has('form-2.type')" class="fa fa-warning text-danger"></i>
                                            <span v-show="errors.has('form-2.type')" class="help is-danger text-danger">{{ errors.first('form-2.type') }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="control has-icon has-icon-right">
                                            <input v-model="formData.balance" name="balance" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.balance') }" type="number" placeholder="Balance">
                                            <i v-show="errors.has('form-2.balance')" class="fa fa-warning text-danger"></i>
                                            <span v-show="errors.has('form-2.balance')" class="help is-danger text-danger">{{ errors.first('form-2.balance') }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-12 col-md-12">
                                    <input type="submit" id="btncheck" value="Save" class="btn btn-primary btn-block btn-md btn-responsive" tabindex="7">
                                </div>
                            </div>
                        </form>
                    </div>
                </b-modal>
                <my-vuetable class="vuetable" ref="datatable"
                :api-url="dataTable.url"
                :http-options="dataTable.httpOptions"
                :data-path="dataTable.dataPath"
                :multi-sort="dataTable.multiSort"
                :pagination-path="dataTable.paginationPath"
                :fields="dataTable.fields"
                :per-page="dataTable.perPage"
                :append-params="dataTable.params"
                detail-row-component="">
                <template slot="actions" slot-scope="props">
                    <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                        <i class="icon fa fa-fw fa-pencil"></i>
                    </button>
                    <button class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                        <i class="icon fa fa-fw fa-trash-o"></i>
                    </button>
                </template>
            </my-vuetable>
        </div>
    </b-card>
</div>
</div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js";
import { Wallets } from "@/api"    
export default {
    components: {
        MyVuetable
    },
    data() {
        return {
            formFilter: {
                q: ''
            },
            member_id: this.$route.params.id,
            formData: {
                id: '',
                type: '',
                balance: '',
                topup: 0
            },
            tempBalance: 0,
            options: [
            { text: 'TOPUP', value: '0' },
            { text: 'BONUS', value: '1' },
            { text: 'TRANSFER', value: '2' },

            ],
            dataTable: {
                url: Wallets.pathUrl+'/members/'+this.$route.params.id+'/wallets',
                perPage: 10,
                multiSort: true,
                paginationPath: "",
                httpOptions: {
                    headers: {
                        "X-CSRF-TOKEN": Laravel.csrfToken,
                        Accept: "application/json"
                    }
                },
                fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: 'No',
                    width: '5%'
                },
                {
                    name: 'type',
                    sortField: 'type',
                    title: 'Type',
                    callback: this.modtype
                },
                {
                    name: 'balance',
                    sortField: 'balance',
                    title: 'Balance',
                },
                {
                    name: '__slot:actions',
                    title: 'Actions',
                    titleClass: 'text-right',
                    dataClass: 'text-right'
                },
                ],
                params: {
                    member_id: this.member_id
                }
            },
        }
    },
    methods: {
        modtype (value) {
            let type = ''
            if (value == 0) {
                type = 'TOPUP'
            } else if (value == 1) {
                type = 'Bonus'
            } else {
                type = 'TRANSFER'
            }

            return type
        },
        showForm(state, data) {

            this.clearForm()

            let title = 'Insert Wallets'
            if(state == 'edit') {
                title = 'Update Wallets'
                this.setForm(data)
            }
        },
        setForm(data) {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = data[index]
            })
            this.showModal()
        },
        clearForm() {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = ''
            })
            this.$validator.reset();
        },
        validateForm(scope) {
            console.log(this.$validator)
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    let id = this.formData.id
                    if (! id) {
                        Wallets.postData( this.member_id, this.formData ).then( response => {
                            this.$refs.myModalRef.hide();
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            console.log(error)
                        })
                    } else {
                        console.log(id)
                        Wallets.updateData( id, this.member_id , this.formData ).then( response => {
                            this.$refs.myModalRef.hide();
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            console.log(error)
                        })
                    }
                }
            });
        },
        showModal() {
            this.$refs.myModalRef.show();
        },
        onActionRow( state, item ) {
            let id = item.id;

            switch(state) {
                case 'edit':
                this.showForm('edit', item)
                break;
                case 'delete':
                swal({
                    title: "Restore",
                    text: "Are you sure to delete selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        Wallets.deleteData(id, this.member_id).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh();
                            toastr.success('Success Deleted!')

                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                });
                break;
            }
        },
        doFilter () {
            this.$refs.datatable.setParams(this.formFilter)
        }
    }
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="../../../assets/css/custom_css/toastr_notificatons.css"></style>
<style>
@media(max-width:320px){
   body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
