<template>
  <div class="row">
    <div class="col-lg-12">
      <b-card header="Transactions List" header-tag="h4" class="bg-primary-card">
        <div class="table-responsive">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <div id="search-input-container">
                  <label>
                    <input type="search" id="search-input" placeholder="Input Member ID" class="form-control mb-2" @keyup="doFilter"
                      v-model="formFilter.member_id">
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <p class="text-right">
                <i>Note :</i><br>
                <button class="btn btn-icon btn-primary btn-round m-r-50" alt="Stocks" type="button"> <i class="icon ti-split-h"></i></button>
                Split Transaction
                <button class="btn btn-icon btn-warning btn-round m-r-50" alt="Stocks" type="button"> <i class="icon fa fa-fw fa-location-arrow"></i></button>
                Transfer
              </p>
            </div>
          </div>

          <b-tabs content-class="mt-3">
            <b-tab title="All" active>

              <my-vuetable class="vuetable" ref="datatable" :api-url="dataTable.url" :http-options="dataTable.httpOptions"
                :data-path="dataTable.dataPath" :multi-sort="dataTable.multiSort" :pagination-path="dataTable.paginationPath"
                :fields="dataTable.fields" :per-page="dataTable.perPage" :append-params="dataTable.params"
                detail-row-component="">
                <template slot="actions" slot-scope="props">
                  <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('split', props.rowData, props.rowIndex)">
                    <i class="icon ti-split-h"></i>
                  </button>
                  <button class="btn btn-icon btn-warning btn-round m-r-50" v-if="!props.rowData.transferred" @click="onActionRow('transfer', props.rowData, props.rowIndex)">
                    <i class="icon fa fa-fw fa-location-arrow"></i>
                  </button>
                </template>
              </my-vuetable>
            </b-tab>
            <b-tab title="Transferred">
              <my-vuetable class="vuetable" ref="datatableT" :api-url="dataTable.url+'?transferred=true'" :http-options="dataTable.httpOptions"
                :data-path="dataTable.dataPath" :multi-sort="dataTable.multiSort" :pagination-path="dataTable.paginationPath"
                :fields="dataTable.fields" :per-page="dataTable.perPage" :append-params="dataTable.params"
                detail-row-component="">
                <template slot="actions" slot-scope="props">
                  <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('split', props.rowData, props.rowIndex)">
                    <i class="icon ti-split-h"></i>
                  </button>
                </template>
              </my-vuetable>
            </b-tab>
            <b-tab title="Pointed">
              <my-vuetable class="vuetable" ref="datatableP" :api-url="dataTable.url+'?pointed=true'" :http-options="dataTable.httpOptions"
                :data-path="dataTable.dataPath" :multi-sort="dataTable.multiSort" :pagination-path="dataTable.paginationPath"
                :fields="dataTable.fields" :per-page="dataTable.perPage" :append-params="dataTable.params"
                detail-row-component="">
                <template slot="actions" slot-scope="props">
                  <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('split', props.rowData, props.rowIndex)">
                    <i class="icon ti-split-h"></i>
                  </button>
                  <button class="btn btn-icon btn-warning btn-round m-r-50" v-if="!props.rowData.transferred"  @click="onActionRow('transfer', props.rowData, props.rowIndex)">
                    <i class="icon fa fa-fw fa-location-arrow"></i>
                  </button>
                </template>
              </my-vuetable>
            </b-tab>
          </b-tabs>
        </div>
      </b-card>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
  import toastr from "@/vendors/toastr/toastr.min.js";
  import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
  import accounting from 'accounting'

  import {
    Transaction
  } from "@/api"
  export default {
    components: {
      MyVuetable
    },
    data() {
      return {
        formFilter: {
          member_id: ''
        },
        dataTable: {
          url: Transaction.pathUrl,
          perPage: 10,
          multiSort: true,
          paginationPath: "",
          httpOptions: {
            headers: {
              "X-CSRF-TOKEN": Laravel.csrfToken,
              Accept: "application/json"
            }
          },
          fields: [{
              name: 'order.id',
              sortField: 'order.id',
              title: 'ID',
            },
            {
              name: 'order.wallet.member.id',
              sortField: 'order.wallet.member.id',
              title: 'Member ID'
            },
            {
              name: 'order.wallet.member.user.name',
              sortField: 'order.wallet.member.user.name',
              title: 'Member'
            },
            {
              name: 'product.name',
              sortField: 'product.name',
              title: 'Product',
              width: '20%'
            },
            {
              name: 'qty',
              sortField: 'qty',
              title: 'Qty',
            },
            {
              name: 'amount',
              sortField: 'amount',
              title: 'Amount',
              callback: this.formatNumber
            },
            {
              name: 'bonus',
              sortField: 'bonus',
              title: 'BV',
              callback: this.formatNumber
            },
            {
              name: 'points',
              sortField: 'points',
              title: 'Point',
            },
            {
              name: 'process_date',
              sortField: 'process_date',
              title: 'Process Date',
            },
            {
              name: 'order.status_name',
              sortField: 'order.status_name',
              title: 'Order Status',
            },
            {
              name: '__slot:actions',
              title: 'Actions',
              titleClass: 'text-right',
              dataClass: 'text-right'
            },
          ],
          params: {}
        },
      }
    },
    methods: {
      doFilter() {
        this.$refs.datatable.setParams(this.formFilter)
        this.$refs.datatableT.setParams(this.formFilter)
        this.$refs.datatableP.setParams(this.formFilter)
      },
      formatNumber(value) {
        return accounting.formatNumber(value, 2)
      },
      onActionRow(state, item) {
        let id = item.id
        let order_id = item.order.id

        switch (state) {
          case 'transfer':
            this.$router.push({
              name: 'transactions.transfer',
              params: {
                id: id
              }
            })
            break
          case 'split':
            this.$router.push({
              name: 'transactions.split',
              params: {
                id: order_id
              }
            })
            break
          case 'show':
            this.$router.push({
              name: 'product.show',
              params: {
                id: id
              }
            })
            break
        }


      }
    },
    mounted() {}
  }
</script>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
  @media(max-width:320px) {
    body #app .header .navbar-nav .messages-menu>.dropdown-menu {
      transform: translate3d(-80px, 55px, 0px) !important;
    }
  }
</style>