<template>
  <div class="row">
    <div class="col-lg-12">
      <b-card header="Transaction List" header-tag="h4" class="bg-primary-card">
        <div class="table-responsive">
         <div class="text-left">
          <div id="search-input-container">
            <label>
              <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
            </label>
          </div>
        </div>
        <my-vuetable class="vuetable" ref="datatable"
        :api-url="dataTable.url"
        :http-options="dataTable.httpOptions"
        :data-path="dataTable.dataPath"
        :multi-sort="dataTable.multiSort"
        :pagination-path="dataTable.paginationPath"
        :fields="dataTable.fields"
        :per-page="dataTable.perPage"
        :append-params="dataTable.params"
        detail-row-component="">
        <template slot="actions" slot-scope="props">
          <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
            <i class="ti ti-calendar"></i>
          </button>
          <button class="btn btn-icon btn-warning btn-round m-r-50" v-if="!props.rowData.transferred" @click="onActionRow('transfer', props.rowData, props.rowIndex)">
            <i class="icon fa fa-fw fa-location-arrow"></i>
          </button>
        </template>
      </my-vuetable>
      <b-modal ref="myModalRef" hide-footer title="Update Point Date">
        <div class="d-block ">
          <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p class="control has-icon has-icon-right">
                    <input v-model="point_date" name="point_date" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.point_date') }" type="date" placeholder="Point Date">
                    <i v-show="errors.has('form-2.point_date')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-2.point_date')" class="help is-danger text-danger">{{ errors.first('form-2.point_date') }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="row marginTop">
              <div class="col-12 col-md-12">
                <input type="submit" id="btncheck" value="Save" class="btn btn-primary btn-block btn-md btn-responsive" tabindex="7">
              </div>
            </div>
          </form>
        </div>

      </b-modal>
    </div>
  </b-card>
</div>
</div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js";
import { Transaction, Orders } from "@/api"    
import accounting from 'accounting'
export default {
  //  name: "users_list",
  components: {
    MyVuetable
  },
  data() {
    return {
      formFilter: {
        q: ''
      },
      member_id: this.$route.params.id,
      point_date: '',
      id: '',
      orders: [],
      dataTable: {
        url: Transaction.pathUrl+'?member_id='+this.$route.params.id,
            //    dataPath: 'body.data',
            perPage: 10,
            multiSort: true,
            paginationPath: "",
            httpOptions: {
              headers: {
                "X-CSRF-TOKEN": Laravel.csrfToken,
                Accept: "application/json"
              }
            },
            fields: [
            // {
            //   name: 'code',
            //   sortField: 'code',
            //   title: 'Code'
            // },
            {
              name: 'transfer_from_member_id',
              title: 'Transfer From',
              sortField: 'transfer_from_member_id'
            },
            {
              name: 'product.name',
              sortField: 'product.name',
              title: 'Product',
              width: '30%'
            },
            {
              name: 'qty',
              sortField: 'qty',
              title: 'Qty',
            },
            {
              name: 'amount',
              sortField: 'amount',
              title: 'Amount',
              callback: this.formatNumber
            },
            {
              name: 'bonus',
              sortField: 'bonus',
              title: 'Bonus',
              callback: this.formatNumber
            },
            {
              name: 'points',
              sortField: 'points',
              title: 'points',
            },
            {
              name: 'point_date',
              sortField: 'Point Date',
              title: 'Point Date',
            },
            {
              name: 'transferred',
              sortField: 'transferred',
              title: 'Is Transfer',
            },
            {
              name: '__slot:actions',
              title: 'Actions',
              titleClass: 'text-right',
              dataClass: 'text-right'
            },
            ],
            params: {
              member_id: this.member_id
            }
          },
        }
      },
      methods: {
        onActionRow( state, item ) {
          let order_id = item.order_id;
          this.id = item.id
          switch(state) {
            case 'edit':
            this.getOrder(order_id);
            this.point_date = ''
            this.$refs.myModalRef.show();
            break
            case 'transfer':
            this.$router.push({ name:'transactions.transfer', params: { id: this.id } }) 
            break
          }
        },
        formatNumber(value) {
          return accounting.formatNumber(value, 2)
        },
        doFilter () {
          console.log(this.formFilter)
          this.$refs.datatable.setParams(this.formFilter)
        },
        getOrder ( order_id ) {
          Orders.showData(order_id).then(response => {
            let datas = response.data
            this.orders = datas
            console.log(this.orders)
          })
        },
        validateForm(scope) {
          this.$validator.validateAll(scope).then((result) => {
            this.orders.transactions.map( result => {
              if (result.id == this.id) {
                result.point_date = this.point_date
              }
            })

            Orders.updateData( this.orders.id, this.orders ).then( response => {
              this.$refs.datatable.$refs.vuetable.refresh();
              this.$refs.myModalRef.hide();
              toastr.success(' Transaction Point Date successfuly updated! ')
            }).catch((error) => {
              let errorObject=JSON.parse(JSON.stringify(error));
              console.log(errorObject)
            })

          })
        }
      },
      created() {

      }
    }
    </script>
    <style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
    <style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
    <style src="@/vendors/toastr/toastr.min.css"></style>
    <style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
    <style>
    @media(max-width:320px){
      body #app .header .navbar-nav .messages-menu > .dropdown-menu {
        transform: translate3d(-80px, 55px, 0px) !important;
      }
    }
    </style>
