<template>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">        
              <!-- Data User -->
              <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-fw ti-star"></i> Package 
                    </h3>
                    <span class="float-right">
                        <i class="fa fa-fw ti-angle-up clickable"></i>
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">        
                        <div class="col-sm-7">
                            <div class="form-group row">
                                <div class="col-sm-3 float-md-right txt_media">
                                    <label class="form-control-label" for="name">Name: </label>  <span class="text-danger">*</span>
                                </div>
                                <div class="col-sm-9">
                                    <input v-model="form.name" name="name" type="text" class="form-control" id="name" placeholder="Input the Name"  v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.name') }">
                                    <i v-show="errors.has('form-2.name')" class="fa fa-warning text-danger"></i>
                                    <span v-show="errors.has('form-2.name')" class="help is-danger text-danger">{{ errors.first('form-2.name') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-icon btn-primary m-r-50 float-right" @click="showModal"> <span> Add Product </span> </button>
                            <div class="clearfix"></div><br>
                            <div class="table-responsive">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Qty</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <template v-if="form.package_products.length > 0">
                                        <tr v-for="(item, index) in form.package_products" v-bind:key="index"> 
                                            <td> {{ item.product.name }} </td>
                                            <td> {{ item.qty }} </td>
                                            <td>
                                                <button type="button" class="btn btn-icon btn-primary btn-round m-r-50" @click="editTemp( index, 'edit' )">
                                                    <i class="icon fa fa-fw fa-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-icon btn-danger btn-round m-r-50" @click="removeTemp( index )">
                                                    <i class="icon fa fa-fw fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr>
                                            <td colspan="3"> <i> Transaction is Empty </i> </td>
                                        </tr>
                                    </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <center>
                    <button class="btn btn-primary col-sm-1" type="submit"> Save </button> 
                    <router-link :to="{name: 'package.index'}"><button class="btn btn-warning col-sm-1" type="submit"> Cancel </button> </router-link>
                </center>
            </div>
        </div>
    </div>
    <!-- End User -->

</form>
<b-modal ref="myModalRef" hide-footer title="Add Transaction">
    <div class="d-block ">
        <form id="form-validation3" @submit.prevent="validateTransaction('form-transaction')" class="columns column is-multiline is-12" data-vv-scope="form-transaction" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Product: </label>
                            <p class="control has-icon has-icon-right">
                               <multiselect v-model="formData.package_product.product_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.product_id') }" id="product_id" :options="formData.productOpt" track-by="name" label="name" placeholder="Select Product" @search-change="asyncFindProduct"></multiselect>
                               <i v-show="errors.has('form-transaction.product_id')" class="fa fa-warning text-danger"></i>
                               <span v-show="errors.has('form-transaction.product_id')" class="help is-danger text-danger">{{ errors.first('form-transaction.product_id') }}</span>
                           </p>
                       </div>
                   </div>
                   <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label">Qty: </label>
                        <p class="control has-icon has-icon-right">
                            <input v-model="formData.package_product.qty" name="qty" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-transaction.qty') }" type="number" placeholder="qty">
                            <i v-show="errors.has('form-transaction.qty')" class="fa fa-warning text-danger"></i>
                            <span v-show="errors.has('form-transaction.qty')" class="help is-danger text-danger">{{ errors.first('form-transaction.qty') }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row marginTop">
            <div class="col-12 col-md-12">
                <input type="submit" id="btncheck" value="Save" class="btn btn-primary btn-block btn-md btn-responsive">
            </div>
        </div>
    </form>
</div>
</b-modal>
</div>
</div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import Datepicker from 'vuejs-datepicker'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { Product, Package } from "@/api"
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import Autocomplete from 'vue2-autocomplete-js'

export default {
    components: {
        Multiselect,
        Datepicker,
        flatPickr,
        PulseLoader,
        Autocomplete
    },
    data() {
        return {
            loading: false,
            config: {
                enableTime: true,
                dateFormat: 'Y-m-d',
            },
            form: {
                id: '',
                name: '',
                package_products: []
            },
            formData: {
                products: [],
                productOpt:[],
                package_product: {
                  id: '',
                  qty: '',
                  product_id: '',
                  product: {
                      name: ''
                  }
              },
          },
          value: null,
          is_edit: '',
      }
  },
  methods: {
    init () {
        if(this.$route.params.id) {
            this.initEdit()
        } else {
            this.initAdd()
        }
    },  
    initAdd() {
        this.getProduct()
    },
    initEdit () {
        let member_type_id = this.$route.params.member_type_id
        let id = this.$route.params.id
        Package.showData(id, member_type_id).then(response => {
            let data = response.data
            _.forEach(this.form, (item, index) => {
                this.form[index] = data[index]
            })

            this.getProduct()
        })
    },
    getProduct() {
        Product.getData().then( response => {
            let data = response.data.data
            this.formData.products = []
            this.formData.products = data
        })
    },
    validateForm(scope) {
        this.$validator.validateAll(scope).then((result) => {
            if (result) {
                let id = this.form.id
                let member_type_id =  this.$route.params.member_type_id
                if (!id) {
                    let datas = []
                    this.form.package_products.map( result => {
                        let data = {
                            qty: result.qty,
                            product_id: result.product_id,
                        }
                        datas.push(data)
                    })
                    this.form.package_products = datas  
                    Package.postData( member_type_id, this.form ).then( response => {
                      this.$router.push({ name: 'package.index' })
                      toastr.success('Package is successfully created! ' )
                  }).catch((error) => {
                    let errorObject=JSON.parse(JSON.stringify(error));
                    toastr.error( errorObject.response.data.error )
                })
              } else {
                let datas = []
                this.form.package_products.map( result => {
                    let product_id
                    if (result.product_id.code != null) {
                        product_id = result.product_id.code
                    } else {
                        product_id = result.product_id
                    }
                    let data
                    if (result.id == '') {
                        data = {
                            qty: result.qty,
                            product_id: product_id
                        }
                    } else {
                        data = {
                            qty: result.qty,
                            product_id: product_id,
                        }
                    }

                    datas.push(data)
                })
                this.form.package_products = datas
                console.log(this.form)     
                Package.updateData( member_type_id , id, this.form ).then( response => {
                   this.$router.push({ name: 'package.index' })
                   
                    toastr.success('Package is successfully updated! ' )
               }).catch((error) => {
                let errorObject=JSON.parse(JSON.stringify(error));
                toastr.error( errorObject.response.data.error )
            })
           }
       }
   })
    },
    validateTransaction(scope) {
        this.$validator.validateAll(scope).then((result) => {
            if (result) {
                if (this.is_edit >= 0 && this.formData.type != 'point') {
                    this.form.package_products.splice(this.is_edit, 1)
                }
                this.formData.package_product.product.name = this.formData.package_product.product_id.name
                this.formData.package_product.product_id = this.formData.package_product.product_id.code
                this.form.package_products.push( this.formData.package_product )
                this.$refs.myModalRef.hide()
                this.formData.package_product = {
                    id: '',
                    qty: '',
                    product_id: '',
                    product: {
                      name: ''
                  }
              }
          }
      })
    },
    showModal() {
        this.formData.type = 'add'
        this.is_edit = 'add'
        this.clearDetail()
        this.$refs.myModalRef.show()
    },
    clearDetail() {
        this.formData.package_product.product_id = ''
        this.formData.package_product.qty = ''
        this.formData.package_product.product.name = ''
    },
    editTemp( index, type ) {
        this.formData.type = type
        this.formData.package_product.product_id = this.form.package_products[index].product_id
        this.formData.package_product.qty = this.form.package_products[index].qty
        this.is_edit = index
        Product.showData( this.form.package_products[index].product_id ).then( response => {
            let data = response.data
            let obj = {
                name: data.name,
                code: data.id
            }
            this.formData.package_product.product_id = obj
        })

        this.getProduct()
        this.$refs.myModalRef.show()
    },
    removeTemp( index ) {
        this.form.package_products.splice(this.is_edit, 1)
    },
    asyncFindProduct (query) {
        let optional = '?name='+query
        Product.getData(optional).then( response => {
            let data = response.data.data
            
            this.formData.products = data
            _.forEach(this.formData.products, (item, index) => {
             let data = {
                name: item.name_printed +' '+ item.id,
                code: item.id
            }
            this.formData.productOpt = []
            this.formData.productOpt.push(data)
        })
        })
    }
},
mounted () {
    this.init()
},
watch: {

    'formData.products': function () {
        this.formData.productOpt = []
        _.forEach(this.formData.products, (item, index) => {
            let data = {
                name: item.name,
                code: item.id
            }
            this.formData.productOpt.push(data)
        })
    }
}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>