<template>
	<div>
		<div class="row">
			<div class="col-lg-12">
				<b-card header="Filters" header-tag="h4" class="bg-primary-card">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Order</label>
								<select class="form-control" placeholder="Choose Order Code"></select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Warehouse ID</label>
								<select class="form-control" placeholder="Choose Warehouse ID"></select>
							</div>
						</div>
					</div>

					<button class="btn btn-primary" type="button"> Reset </button>
				</b-card>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b-card header="Report Warehouses" header-tag="h4" class="bg-primary-card">
					<div class="table-responsive">
						<b-table striped hover :items="warehouses" :fields="fields">
							<template slot="actions" slot-scope="row">
						      <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
						      <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
						       {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
						      </b-button>
						    </template>
						    <template slot="row-details" slot-scope="row">
						      <b-card>
						        <b-table :items="row.item.stocks" :fields="field_childs">
						        	<template slot="product" slot-scope="data">
						        		{{ data.value.name }}
						        	</template>
						       	</b-table>
						      </b-card>
						    </template>
						</b-table>
					</div>
				</b-card>
			</div>
		</div>
	</div>
</template>
<script>
import Vue from 'vue'
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import toastr from "@/vendors/toastr/toastr.min.js"
import mytable from '@/components/reports/partials/my_report'

import { Report } from "@/api"    
export default {
	components: {
        mytable
    },
	data() {
		return {
			warehouses: [],
			fields: [
				{
					key: 'id',
					sortable: true
				},
				{
					key: 'name',
					sortable: true
				},
				{
					key: 'address',
					sortable: true
				},
				{
					key: 'created_at',
					sortable: true
				},
				'actions'
			],
			field_childs: [
				'product',
				'qty',
				'exp_date'
			]
		}
	},
	mounted() {
		Report.getWarehouses().then( response => {
			let warehouses = response.data
			this.warehouses = warehouses
		})
	}
}
</script>