<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Warehouse List" header-tag="h4" class="bg-primary-card">
                <div class="card p-3">
                    <div class="table-responsive">
                     <div class="text-left">
                        <div id="search-input-container">
                            <label>
                                <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                            </label>
                            <div class="actions float-right pr-4 mb-3">
                                <button type="button" class="btn btn-icon btn-primary m-r-50" @click="showModal"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>

                            </div>
                        </div>
                    </div>
                    <b-modal ref="myModalRef" hide-footer title="Create Warehouse">
                        <div class="d-block ">
                            <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.id" name="id" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.id') }" type="text" placeholder="Code">
                                                <i v-show="errors.has('form-2.id')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.id')" class="help is-danger text-danger">{{ errors.first('form-2.id') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.name" name="name" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.name') }" type="text" placeholder="Name">
                                                <i v-show="errors.has('form-2.name')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.name')" class="help is-danger text-danger">{{ errors.first('form-2.name') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <select class="form-control" v-model="formData.type">
                                                    <option value="0"> Regular </option>
                                                    <option value="1"> Central </option>
                                                </select>
                                                <i v-show="errors.has('form-2.type')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.type')" class="help is-danger text-danger">{{ errors.first('form-2.type') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.address" name="address" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.address') }" type="text" placeholder="address">
                                                <i v-show="errors.has('form-2.address')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.address')" class="help is-danger text-danger">{{ errors.first('form-2.address') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.address_city" name="address_city" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.address_city') }" type="text" placeholder="address_city">
                                                <i v-show="errors.has('form-2.address_city')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.address_city')" class="help is-danger text-danger">{{ errors.first('form-2.address_city') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.address_state" name="address_state" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.address_state') }" type="text" placeholder="address_state">
                                                <i v-show="errors.has('form-2.address_state')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.address_state')" class="help is-danger text-danger">{{ errors.first('form-2.address_state') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.address_zipcode" name="address_zipcode" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.address_zipcode') }" type="text" placeholder="address_zipcode">
                                                <i v-show="errors.has('form-2.address_zipcode')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.address_zipcode')" class="help is-danger text-danger">{{ errors.first('form-2.address_zipcode') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row marginTop">
                                    <div class="col-12 col-md-12">
                                        <input type="submit" id="btncheck" value="Save"
                                        class="btn btn-primary btn-block btn-md btn-responsive"
                                        tabindex="7">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </b-modal>
                    <my-vuetable class="vuetable" ref="datatable"
                    :api-url="dataTable.url"
                    :http-options="dataTable.httpOptions"
                    :data-path="dataTable.dataPath"
                    :multi-sort="dataTable.multiSort"
                    :pagination-path="dataTable.paginationPath"
                    :fields="dataTable.fields"
                    :per-page="dataTable.perPage"
                    :append-params="dataTable.params"
                    detail-row-component="">
                    <template slot="actions" slot-scope="props">
                        <!-- <button class="btn btn-icon btn-warning btn-round m-r-50" alt="Stocks" @click="onActionRow('sell', props.rowData, props.rowIndex)">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </button> -->
                        <!-- <button class="btn btn-icon btn-primary btn-round m-r-50" alt="Stocks" @click="onActionRow('transfer', props.rowData, props.rowIndex)">
                            <i class="fa fa-fw fa-location-arrow"></i>
                        </button> -->
                        <button class="btn btn-icon btn-success btn-round m-r-50" alt="Stocks" @click="onActionRow('show', props.rowData, props.rowIndex)">
                            <i class="fa fa-fw fa-archive"></i>
                        </button>
                        <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                            <i class="icon fa fa-fw fa-pencil"></i>
                        </button>
                        <button class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                            <i class="icon fa fa-fw fa-trash-o"></i>
                        </button>
                    </template>
                </my-vuetable>
            </div>
        </div>
    </b-card>
</div>
</div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js";
import { Warehouse } from "@/api"    
export default {
  components: {
    MyVuetable
},
data() {
    return {
        formFilter: {
            q: ''
        },
        action: 'add',
        formData: {
            id: '',
            name: '',
            type: '',
            address: '',
            address_city: '',
            address_state: '',
            address_zipcode: '',
            country_id: 1,
            company_id: 1
        },
        dataTable: {
            url: Warehouse.pathUrl,
            perPage: 10,
            multiSort: true,
            paginationPath: "",
            httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
            },
            fields: [
            {
                name: 'id',
                sortField: 'id',
                title: 'No',
                width: '5%'
            },
            {
                name: 'name',
                sortField: 'name',
                title: 'Name',
            },
            {
                name: 'address',
                sortField: 'address',
                title: 'Address',
            },
            {
                name: 'created_at',
                sortField: 'created_at',
                title: 'Created At',
            },
            {
                name: '__slot:actions',
                title: 'Actions',
                titleClass: 'text-right',
                dataClass: 'text-right'
            },
            ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        showForm(state, data) {

            this.clearForm()

            let title = 'Insert Bank'
            if(state == 'edit') {
                title = 'Update Bank'
                this.setForm(data)
            }
        },
        setForm(data) {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = data[index]
            })
            this.showModal()
        },
        clearForm() {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = ''
            })
            this.$validator.reset();
        },
        validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    let id = this.formData.id
                    if (this.action == 'add') {
                        Warehouse.postData( this.formData ).then( response => {
                            this.$refs.myModalRef.hide();
                            toastr.success('Warehouse Successfully created!')
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            toastr.error('Error :'+ error)
                        })
                    } else {
                        Warehouse.updateData( id, this.formData ).then( response => {
                            this.$refs.myModalRef.hide();
                            toastr.success('Warehouse Successfully updated!')
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            toastr.error('Error :'+ error)
                        })
                    }
                }
            });
        },
        showModal() {
            this.$refs.myModalRef.show();
        },
        onActionRow( state, item ) {
            let id = item.id;

            switch(state) {
                case 'edit':
                this.action = 'edit'
                this.showForm('edit', item)
                break;
                case 'show':
                this.$router.push({ name:'stock_warehouse.index', params: { warehouse_id: id } }) 
                break;
                case 'transfer':
                this.$router.push({ name:'warehouse.transfer', params: { id: id } }) 
                break;
                case 'delete':
                swal({
                    title: "Restore",
                    text: "Are you sure to delete selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        Warehouse.deleteData(id).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh();
                            toastr.success('Success Deleted!')

                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                });
                break;
            }
        },
        doFilter () {
            console.log(this.formFilter)
            this.$refs.datatable.setParams(this.formFilter)
        }
    },
    mounted() {}
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
@media(max-width:320px){
   body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
