<template>
  <div>
    <div class="row">
      <div class="col-lg-12">

        <div class="card ">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fa fa-fw ti-star"></i> Data User 
            </h3>
            <span class="float-right">
              <i class="fa fa-fw ti-angle-up clickable"></i>
            </span>
          </div>
          <div class="card-body">
            <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">   
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="name">Member ID:
                        <span class="text-danger">*</span>
                      </label>
                    </div>
                    <div class="col-sm-8">
                      <input v-model="form.id" type="text" class="form-control" name="id" id="id" placeholder="Member ID" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.id') }">
                      <i v-show="errors.has('form-2.id')" class="fa fa-warning text-danger"></i>
                      <span v-show="errors.has('form-2.id')" class="help is-danger text-danger">{{ errors.first('form-2.id') }}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="name">Name: </label>  <span class="text-danger">*</span>
                    </div>
                    <div class="col-sm-8">
                      <input v-model="form.name" name="name" @change="nameChange" id="name" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.name') }" type="text" placeholder="Full Name">
                      <i v-show="errors.has('form-2.name')" class="fa fa-warning text-danger"></i>
                      <span v-show="errors.has('form-2.name')" class="help is-danger text-danger">{{ errors.first('form-2.name') }}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="email">Email: </label>
                    </div>
                    <div class="col-sm-8">
                      <input v-model="form.email" name="email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="email">Username: </label>  <span class="text-danger">*</span>
                    </div>
                    <div class="col-sm-8">
                      <input v-model="form.username" name="username" type="text" class="form-control" id="username" placeholder="Username"  v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.username') }">
                      <i v-show="errors.has('form-2.username')" class="fa fa-warning text-danger"></i>
                      <span v-show="errors.has('form-2.username')" class="help is-danger text-danger">{{ errors.first('form-2.username') }}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="control-label">Gender:</label>  <span class="text-danger">*</span>
                    </div>
                    <div class="col-sm-8">
                      <b-form-radio-group id="radios2" v-model="form.gender" name="gender">
                        <b-form-radio  value="0">
                          Male
                        </b-form-radio>
                        <b-form-radio  value="1">
                          Female
                        </b-form-radio>
                      </b-form-radio-group>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="password">Password: </label> <span class="text-danger">*</span>
                    </div>
                    <div class="col-sm-8" v-if="!form.id">
                      <input v-model="form.password" name="password" type="password" class="form-control" id="password" placeholder="Password"  v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.email') }">
                      <i v-show="errors.has('form-2.password')" class="fa fa-warning text-danger"></i>
                      <span v-show="errors.has('form-2.password')" class="help is-danger text-danger">{{ errors.first('form-2.password') }}</span>
                    </div>
                    <div class="col-sm-8" v-else>
                      <input v-model="form.password" name="password" type="password" class="form-control" id="password" placeholder="Password" >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="birth_date">Birth Date: </label>  <span class="text-danger">*</span>
                    </div>
                    <div class="col-sm-8">
                      <flat-pickr v-model="form.birth_date" name="birth_date" :config="config" class="form-control" :readonly=false v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.birth_date') }"></flat-pickr>
                      <i v-show="errors.has('form-2.birth_date')" class="fa fa-warning text-danger"></i>
                      <span v-show="errors.has('form-2.birth_date')" class="help is-danger text-danger">{{ errors.first('form-2.birth_date') }}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="postal_Address">Address:</label>  
                    </div>
                    <div class="col-sm-8">
                      <textarea v-model="form.address" rows="3" class="form-control resize_vertical" id="address" placeholder="Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="control-label">RT / RW:</label>
                    </div>
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-sm-6">
                          <input v-model="form.address_rt" type="number" class="form-control" id="rt" placeholder="RT">
                        </div>
                        <div class="col-sm-6">
                          <input v-model="form.address_rw" type="number" class="form-control" id="rw" placeholder="RW">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 float-md-right txt_media">
                      <label class="form-control-label" for="phone_Number">Zip Code: </label>
                    </div>
                    <div class="col-sm-8">
                      <input v-model="form.zip_code" type="number" class="form-control" id="phone_Number" placeholder="Zip Code">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <b-card no-body>
                    <b-tabs ref="tabs" card >
                      <b-tab title="Data Member " active>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="reg_date">Register Date: </label> <span class="text-danger">*</span>
                              </div>
                              <div class="col-sm-8">
                                <flat-pickr v-model="form.reg_date" :config="config" class="form-control" :readonly=false></flat-pickr>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="name_printed">Name: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.name_printed" readonly="readonly" type="text" class="form-control" id="name_printed" placeholder="Name Printed">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="achievement_id">Archivment: </label>
                              </div>
                              <div class="col-sm-8">
                                <multiselect v-model="form.achievement_id" id="product_type_id" :options="formData.achievementOpt" :value="value" track-by="name" label="name" placeholder="Select Achievement"></multiselect>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="sponsor_id">Sponsor: </label>
                              </div>
                              <div class="col-sm-8">
                                <multiselect v-model="form.sponsor_id" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Sponsor" @search-change="asyncFind"></multiselect>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="tax_id">NPWP: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.tax_id" type="text" class="form-control" id="tax_id" placeholder="NPWP">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="bonus_date">Bonus Date: </label> <span class="text-danger">*</span>
                              </div>
                              <div class="col-sm-8">
                                <flat-pickr v-model="form.bonus_date" :config="config" class="form-control" :readonly=false></flat-pickr>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="paretn_id">Upline: </label>
                              </div>
                              <div class="col-sm-8">
                                <multiselect v-model="form.parent_id" id="parent_id" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Upline" @search-change="asyncFind"></multiselect>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="member_type_id">Member Type: </label>
                              </div>
                              <div class="col-sm-8">
                                <select v-model="form.member_type_id" class="form-control">
                                  <option value=""> Select Member Type </option>
                                  <option v-for="option in formData.member_typeOpt" v-bind:value="option.code">
                                    {{ option.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="official_id">Official: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.official_id" type="text" class="form-control" id="official_id" placeholder="Official">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="current_personal_points">Current Personal Points: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.current_personal_points" type="number" class="form-control" id="current_personal_points" placeholder="Current Personal Points">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="current_group_points">Current Group Points: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.current_group_points" type="number" class="form-control" id="current_group_points" placeholder="Current Group Points">
                              </div>
                            </div>
                          </div>
                        </div>
                      </b-tab>
                      <b-tab title="Data Phone">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="phone_home">Home: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.phone_home" type="number" class="form-control" id="phone_home" placeholder="Phone Home">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="phone_office">Office: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.phone_office" type="number" class="form-control" id="phone_office" placeholder="Phone Office">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="phone_mobile">Mobile: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.phone_mobile" type="number" class="form-control" id="phone_mobile" placeholder="Phone Mobile">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="phone_fax">Fax: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.phone_fax" type="number" class="form-control" id="phone_fax" placeholder="Phone Fax">
                              </div>
                            </div>
                          </div>
                        </div>
                      </b-tab>
                      <b-tab title="Data Bank" >
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="bank_id">Bank: </label>
                              </div>
                              <div class="col-sm-8">
                                <multiselect v-model="form.bank_id" id="product_type_id" :options="formData.bankOpt" :value="value" track-by="name" label="name" placeholder="Select Bank"></multiselect>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="bank_account_no">Account No: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.bank_account_no" type="text" class="form-control" id="bank_account_no" placeholder="bank_account_no">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="bank_account_name">Account Name: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.bank_account_name" type="text" class="form-control" id="bank_account_name" placeholder="bank_account_name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="bank_account_city">Account City: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.bank_account_city" type="text" class="form-control" id="bank_account_city" placeholder="bank_account_city">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 float-md-right txt_media">
                                <label class="form-control-label" for="bank_account_city">Account City: </label>
                              </div>
                              <div class="col-sm-8">
                                <input v-model="form.bank_account_city" type="text" class="form-control" id="bank_account_city" placeholder="bank_account_city">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                           <div class="form-group row">
                            <div class="col-sm-4 float-md-right txt_media">
                              <label class="form-control-label" for="beneficiary_name">Beneficiary Name: </label>
                            </div>
                            <div class="col-sm-8">
                              <input v-model="form.beneficiary_name" type="text" class="form-control" id="beneficiary_name" placeholder="beneficiary_name">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-4 float-md-right txt_media">
                              <label class="form-control-label" for="beneficiary_relation">Beneficiary Relation: </label>
                            </div>
                            <div class="col-sm-8">
                              <input v-model="form.beneficiary_relation" type="text" class="form-control" id="beneficiary_relation" placeholder="beneficiary_relation">
                            </div>
                          </div>
                        </div>
                      </div>
                    </b-tab>
                  </b-tabs>
                </b-card>
              </div>
            </div>

            <div class="text-center">
              <button class="button btn btn-secondary col-sm-2" type="reset" name="button" @click="errors.clear('form-2')">Reset</button>
              <button type="submit" class="btn btn-primary col-sm-2">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js";
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import toastr from "@/vendors/toastr/toastr.min.js";
import Multiselect from 'vue-multiselect';
import select2 from "@/vendors/select2/dist/js/select2.min.js"
import Datepicker from 'vuejs-datepicker'
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import { Member, Country, Bank, Achievements, MemberType } from "@/api";

export default {
  components: {
    Multiselect,
    Datepicker,
    flatPickr,
    select2
  },
  data() {
    return {
      format: 'yyyy-MM-dd',
      config: {
        enableTime: true,
        dateFormat: 'Y-m-d',
      },
      form: {
        id: '',
        name:'',
        password: '',
        email:'',
        username: '',
        reg_date: '',
        birth_date:'',
        bonus_date: '',
        gender:'',
        achievement_id:'',
        parent_id:'',
        sponsor_id:'',
        member_type_id:'',
        name_printed:'',
        official_id:'',
        tax_id:'',
        current_personal_points:0,
        current_group_points:0,
        address:'',
        address_rt:'',
        address_rw:'',
        address_zipcode:'',
        address_city:'',
        address_state:'',
        country_id:'',
        phone_home:'',
        phone_office:'',
        phone_mobile:'',
        phone_fax:'',
        beneficiary_name:'',
        beneficiary_relation:'',
        bank_account_no:'',
        bank_account_name:'',
        bank_account_city:'',
        bank_account_branch:'',
        bank_id: ''

      },
      formData: {
        country: [],
        countryOpt: [],
        achievement: [],
        achievementOpt:[],
        bank: [],
        bankOpt: [],
        member_types: [],
        member_typeOpt: [],
        memberOpt: [],
        members: []
      },
      value: null,
      formTemp: {
        product_type_id: '',
        country: null
      }
    };
  },
  methods: {
    init () {
      if(this.$route.name == 'member.edit') {
        this.initEdit()
      } else {
        this.initAdd()
      }
    },  
    initAdd() {
      // this.getCountry()
      this.getMembers()
      this.getAchievement()
      this.getBank()
      this.getMemberTypes()
    },
    initEdit () {
      let member_id = this.$route.params.id
      Member.showData(member_id).then(response => {
        let member = response.data
        member.name = member.user.name
        member.email = member.user.email
        member.username = member.user.username

        _.forEach(this.form, (item, index) => {
          this.form[index] = member[index]
        })

        Member.showData( member.parent_id ).then( response => {
          let data = response.data
          let obj = {
            name: data.name_printed+' ['+data.id+'] ',
            code: data.id
          }

          this.form.parent_id = obj
        })

        Member.showData( member.sponsor_id ).then( response => {
          let data = response.data
          let obj = {
            name: data.name_printed+' ['+data.id+'] ',
            code: data.id
          }

          this.form.sponsor_id = obj
        })
      })
      this.getMemberTypes()
      this.getAchievement()
      this.getBank()
      this.getMembers()
    },
    getAchievement() {
      let optional = '?limit=528';
      Achievements.getData(optional).then( response => {
        let data = response.data.data

        this.formData.achievement = data
      })
    },
    getBank() {
      let optional = '?limit=528';
      Bank.getData(optional).then( response => {
        let data = response.data.data

        this.formData.bank = data
      })
    },
    getMemberTypes() {
      MemberType.getData().then( response => {
        let data = response.data.data

        this.formData.member_types = data
      })
    },
    getMembers() {
      Member.getData().then( response => {
        let data = response.data.data

        this.formData.members = data
      })
    },
    asyncFind (query) {
      let optional = '?id='+query
      Member.getData(optional).then( response => {
        let data = response.data.data

        this.formData.members = data
        _.forEach(this.formData.members, (item, index) => {
         let data = {
          name: item.name_printed +' '+ item.id,
          code: item.id
        }
        this.formData.memberOpt = []
        this.formData.memberOpt.push(data)
      })
      })
    },
    nameChange() {
      this.form.name_printed = this.form.name
    },
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        console.log(result)
        if (result) {
          let id = this.form.id
          // this.form.country_id = this.form.country_id.code
          console.log(this.form)
          if (this.form.achievement_id != null || this.form.achievement_id != '' || this.form.achievement_id === undefined) {
            this.form.achievement_id = this.form.achievement_id.code  
          }

          if (this.form.parent_id != null || this.form.parent_id != '' || this.form.parent_id === undefined) {
            this.form.parent_id = this.form.parent_id.code  
          }

          if (this.form.sponsor_id != null || this.form.sponsor_id != '' || this.form.sponsor_id === undefined) {
            this.form.sponsor_id = this.form.sponsor_id.code  
          }

          if (this.form.bank_id != null || this.form.bank_id === undefined) {
            this.form.bank_id = this.form.bank_id.code
          }

          if (this.$route.name != 'member.edit') {
            Member.postData( this.form ).then( response => {
              this.$router.push({ name: 'member.index' })
              toastr.success('Member success created! ' )
            }).catch((error) => {
             let errorObject=JSON.parse(JSON.stringify(error));
             toastr.error( errorObject.response.data.error )
           })
          } else {
            Member.updateData( id, this.form ).then( response => {
              this.$router.push({ name: 'member.index' })
              toastr.success('Member success updated! ' )
            }).catch((error) => {
              let errorObject=JSON.parse(JSON.stringify(error));
              toastr.error( errorObject.response.data.error )
            })
          }
        }
      });
    },
  },
  mounted () {
    this.init()
  },
  watch: {
    'formData.country': function () {
      _.forEach(this.formData.country, (item, index) => {

        let data = {
          name: item.name,
          code: item.id
        }
        this.formData.countryOpt.push(data)
      })
    },
    'formData.achievement': function () {
      _.forEach(this.formData.achievement, (item, index) => {

        let data = {
          name: item.code+' - '+item.desc,
          code: item.id
        }
        this.formData.achievementOpt.push(data)
      })
    },
    'formData.bank': function () {
      _.forEach(this.formData.bank, (item, index) => {

        let data = {
          name: item.name,
          code: item.id
        }
        this.formData.bankOpt.push(data)
      })
    },
    'formData.member_types': function () {
      _.forEach(this.formData.member_types, (item, index) => {

        let data = {
          name: item.name,
          code: item.id
        }
        this.formData.member_typeOpt.push(data)
      })
    },
    'formData.members': function () {
      this.formData.memberOpt = []
      _.forEach(this.formData.members, (item, index) => {
       let data = {
        name: item.name_printed +' ['+ item.id+']',
        code: item.id
      }
      this.formData.memberOpt.push(data)
    })
    },
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>

