<template>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" >
            Data User
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>:</td>
                  <td>{{ this.$route.params.id }}</td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>:</td>
                  <td>{{ form.user.name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>:</td>
                  <td>{{ form.user.email }}</td>
                </tr>
                <tr>
                  <td>Member Type</td>
                  <td>:</td>
                  <td>{{ form.member_type == null ? '' : form.member_type.name }}</td>
                </tr>
                <tr>
                  <td>Birth Date</td>
                  <td>:</td>
                  <td>{{ form.birth_date }}</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td>:</td>
                  <td>{{ form.gender_name }}</td>
                </tr>
                <tr>
                  <td>Zip Code</td>
                  <td>:</td>
                  <td>{{ form.address_zipcode }}</td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>:</td>
                  <td>{{ form.country_id}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>:</td>
                  <td>{{ form.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" >
            Data Member
          </div>
          <div class="card-body">
           <table class="table">
            <tbody>
              <tr>
                <td>Name Printed</td>
                <td>:</td>
                <td>{{ form.name_printed }}</td>
              </tr>
              <tr>
                <td>NPWP</td>
                <td>:</td>
                <td>{{ form.tax_id }}</td>
              </tr>
              <tr>
                <td>Official ID</td>
                <td>:</td>
                <td>{{ form.official_id }}</td>
              </tr>
              <tr>
                <td>Upline </td>
                <td>:</td>
                <td>{{ form.parent_id }}</td>
              </tr>
              <tr>
                <td>Sponsor </td>
                <td>:</td>
                <td>{{ form.sponsor_id }}</td>
              </tr>
              <tr>
                <td>Beneficiary Name </td>
                <td>:</td>
                <td>{{ form.beneficiary_name }}</td>
              </tr>
              <tr>
                <td>Beneficiary Relation </td>
                <td>:</td>
                <td>{{ form.beneficiary_relation }}</td>
              </tr>
              <tr>
                <td>Bonus Date </td>
                <td>:</td>
                <td>{{ form.bonus_date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</template>
<script>
import { Member } from "@/api";

export default {
  data() {
    return {
      member_id: this.$route.params.id,
      form: {
        id: '',
        name:'',
        password: '',
        email:'',
        reg_date: '',
        birth_date:'',
        bonus_date: '',
        gender:'',
        gender_name: '',
        achievement_id:'',
        parent_id:'',
        sponsor_id:'',
        member_type_id:'',
        name_printed:'',
        official_id:'',
        tax_id:'',
        current_personal_points:0,
        current_group_points:0,
        address:'',
        address_rt:'',
        address_rw:'',
        address_zipcode:'',
        address_city:'',
        address_state:'',
        country_id:'',
        phone_home:'',
        phone_office:'',
        phone_mobile:'',
        phone_fax:'',
        beneficiary_name:'',
        beneficiary_relation:'',
        bank_account_no:'',
        bank_account_name:'',
        bank_account_city:'',
        bank_account_branch:'',
        bank_id: '',
        member_type: '',
        user: []

      }
    }
  },
  mounted: function() {
    this.getMember()
  },
  methods: {
    getMember() {
      let member_id = this.$route.params.id
      Member.showData( member_id ).then( response => {
        let data = response.data
        _.forEach(this.form, (item, index) => {
          this.form[index] = data[index]
        })

        if (data.parent_id) {
          Member.showData( data.parent_id ).then( response => {
            let data = response.data

            this.form.parent_id = data.name_printed+' ['+data.id+']'
          })    
        }

        if (data.sponsor_id) {
          Member.showData( data.sponsor_id ).then( response => {
            let data = response.data

            this.form.sponsor_id = data.name_printed+' ['+data.id+']'
          })
        }
      })
    }
  },
  destroyed: function() {

  }
}
</script>
