<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Network Center Type" header-tag="h4" class="bg-primary-card">
                 <div class="card p-3">
                <div class="table-responsive">
                     <div class="text-left">
                        <div id="search-input-container">
                            <label>
                                <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                            </label>
                            <div class="actions float-right pr-4 mb-3">
                                <button type="button" class="btn btn-icon btn-primary m-r-50" @click="showModal"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                                <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                            </div>
                        </div>
                    </div>
                    <!-- Modal Component -->
                    <b-modal ref="myModalRef" hide-footer title="Create Network Center Type">
                        <div class="d-block ">
                            <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.name" name="name" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.name') }" type="text" placeholder="Name">
                                                <i v-show="errors.has('form-2.name')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.name')" class="help is-danger text-danger">{{ errors.first('form-2.name') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.fee_percentage" name="fee_percentage" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.fee_percentage') }" type="text" placeholder="Fee Percentage">
                                                <i v-show="errors.has('form-2.fee_percentage')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.fee_percentage')" class="help is-danger text-danger">{{ errors.first('form-2.fee_percentage') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.company_id" name="company_id" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.company_id') }" type="text" placeholder="company_id">
                                                <i v-show="errors.has('form-2.company_id')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.company_id')" class="help is-danger text-danger">{{ errors.first('form-2.company_id') }}</span>
                                            </p>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row marginTop">
                                    <div class="col-12 col-md-12">
                                        <input type="submit" id="btncheck" value="Save"
                                                class="btn btn-primary btn-block btn-md btn-responsive"
                                                tabindex="7">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </b-modal>
                    <my-vuetable class="vuetable" ref="datatable"
                        :api-url="dataTable.url"
                        :http-options="dataTable.httpOptions"
                        :data-path="dataTable.dataPath"
                        :multi-sort="dataTable.multiSort"
                        :pagination-path="dataTable.paginationPath"
                        :fields="dataTable.fields"
                        :per-page="dataTable.perPage"
                        :append-params="dataTable.params"
                        detail-row-component="">
                        <template slot="actions" slot-scope="props">
                            <button class="btn btn-xs btn-info" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                                <i class="fa fa-pencil"></i> Edit
                            </button>
                            <button class="btn btn-xs btn-danger" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>
                        </template>
                    </my-vuetable>
                </div>
                 </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js";
import { NetworkCenterType } from "@/api"    
export default {
  //  name: "users_list",
    components: {
        MyVuetable
    },
    data() {
        return {
            formFilter: {
                q: ''
            },
            formData: {
                id: '',
                name: '',
                fee_percentage: '',
                company_id: ''
            },
            dataTable: {
                url: NetworkCenterType.pathUrl,
            //    dataPath: 'body.data',
                perPage: 10,
                multiSort: true,
                paginationPath: "",
                httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
                },
                fields: [
                    {
                        name: 'id',
                        sortField: 'id',
                        title: 'No',
                        width: '5%'
                    },
                    {
                        name: 'name',
                        sortField: 'name',
                        title: 'Name',
                    },
                    {
                        name: 'fee_percentage',
                        sortField: 'fee_percentage',
                        title: 'Fee Percentage',
                    },
                    {
                        name: 'company_id',
                        sortField: 'company_id',
                        title: 'Company',
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        titleClass: 'text-right',
                        dataClass: 'text-right'
                    },
                ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        showForm(state, data) {

            this.clearForm()

            let title = 'Insert Network Center Type'
            if(state == 'edit') {
                title = 'Update Network Center Type'
                this.setForm(data)
            }
        },
        setForm(data) {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = data[index]
            })
            this.showModal()
        },
        clearForm() {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = ''
            })
            this.$validator.reset();
        },
        validateForm(scope) {
            console.log(this.$validator)
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    let id = this.formData.id
                    if (! id) {
                        NetworkCenterType.postData( this.formData ).then( response => {
                            this.$refs.myModalRef.hide();
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            console.log(error)
                        })
                    } else {
                        console.log(id)
                        NetworkCenterType.updateData( id, this.formData ).then( response => {
                            this.$refs.myModalRef.hide();
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            console.log(error)
                        })
                    }
                }
            });
        },
        showModal() {
            this.$refs.myModalRef.show();
        },
        onActionRow( state, item ) {
            let id = item.id;

            switch(state) {
                case 'edit':
                this.showForm('edit', item)
                break;
                case 'delete':
                swal({
                        title: "Restore",
                        text: "Are you sure to delete selected data ?",
                        showCancelButton: true,
                        confirmButtonColor: '#66cc99',
                        cancelButtonColor: '#ff6666',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger'
                    })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            NetworkCenterType.deleteData(id).then((response) => {

                                this.$refs.datatable.$refs.vuetable.refresh();
                                toastr.success('Success Deleted!')

                            }).catch((error) => {
                                let data = error.response.data
                                toastr.error('Failed')
                            })
                        }
                    });
                break;
            }
        },
        doFilter () {
            console.log(this.formFilter)
            this.$refs.datatable.setParams(this.formFilter)
        }
    },
    mounted() {}
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
    @media(max-width:320px){
       body #app .header .navbar-nav .messages-menu > .dropdown-menu{
        transform: translate3d(-80px, 55px, 0px) !important;
        }
    }
</style>
