<template>
  <div>
    <form @submit.prevent="validateForm('form-1')" class="columns column is-multiline is-12" data-vv-scope="form-1">
      <div class="row">
        <div class="col-sm-6">
          <div class="column is-12 row">
            <label class="label col-sm-4" for="name">Name<span class="text-danger">*</span></label>
            <p class="control has-icon has-icon-right col-sm-8">
              <input v-model="form.name" name="name" id="name" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.name') }" type="text" placeholder="Input the Name">
              <i v-show="errors.has('form-1.name')" class="fa fa-warning text-danger"></i>
              <span v-show="errors.has('form-1.name')" class="help is-danger text-danger">{{ errors.first('form-1.name') }}</span>
            </p>
          </div>
          <div class="column is-12 row">
            <label class="label col-sm-4" for="name">Email<span class="text-danger">*</span></label>
            <p class="control has-icon has-icon-right col-sm-8">
              <input v-model="form.email" name="email" id="email" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.email') }" type="email" placeholder="Input the Email">
              <i v-show="errors.has('form-1.email')" class="fa fa-warning text-danger"></i>
              <span v-show="errors.has('form-1.email')" class="help is-danger text-danger">{{ errors.first('form-1.email') }}</span>
            </p>
          </div>
          <div class="form-group row">
            <div class="col-sm-4 float-md-right txt_media">
              <label class="form-control-label" for="birth_date">Birth Date: </label>
            </div>
            <div class="col-sm-8">
              <flat-pickr v-model="form.birth_date" name="birth_date" :config="config" class="form-control" :readonly=false></flat-pickr>
            </div>
          </div>
          <div class="column is-12 row">
            <label class="label col-sm-4" for="completed_date">Completed Date</label>
            <p class="control has-icon has-icon-right col-sm-8">
              <flat-pickr v-model="form.completed_date" name="completed_date" :config="config" placeholder="Completed Date" class="form-control" :readonly=false ></flat-pickr>
            </p>
          </div>
          <div class="column is-12 row">
            <label class="label col-sm-4" for="product_type">Status</label>
            <p class="control has-icon has-icon-right col-sm-8">
              <multiselect v-model="form.status" id="status" :options="formData.statusOpt" :value="value" track-by="name" label="name" placeholder="Select Status"></multiselect>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <div class="col-sm-4 float-md-right txt_media">
              <label class="control-label">RT / RW:</label></div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-6">
                    <input v-model="form.address_rt" type="number" class="form-control" id="rt" placeholder="RT">
                  </div>
                  <div class="col-sm-6">
                    <input v-model="form.address_rw" type="number" class="form-control" id="rw" placeholder="RW">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4 float-md-right txt_media">
                <label class="form-control-label" for="phone_Number">Zip Code: </label>
              </div>
              <div class="col-sm-8">
                <input v-model="form.zip_code" type="number" class="form-control" id="phone_Number" placeholder="Zip Code">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4 float-md-right txt_media">
                <label class="form-control-label" for="postal_Address">Address:</label>
              </div>
              <div class="col-sm-8">
                <textarea v-model="form.address" rows="3" class="form-control resize_vertical" id="address" placeholder="Address"></textarea>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <b-card no-body>
              <b-tabs ref="tabs" card >
                <b-tab title="Data Member " active>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group row">
                        <div class="col-sm-4 float-md-right txt_media">
                          <label class="form-control-label" for="tax_id">Member Type: </label>
                        </div>
                        <div class="col-sm-8">
                          <multiselect v-model="form.member_type_id" id="member_type_id" @input="getPackage" :options="formData.member_typeOpt" :value="value" track-by="name" label="name" placeholder="Select Member Type"></multiselect>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-4 float-md-right txt_media">
                          <label class="form-control-label" for="tax_id">Package: <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-8">
                         <multiselect v-model="form.package_id" id="package_id" :options="formData.packageOpt" :value="value" track-by="name" label="name" placeholder="Select Package"></multiselect>
                       </div>
                     </div>
                     <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="tax_id">NPWP: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.tax_id" type="text" class="form-control" id="tax_id" placeholder="NPWP">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="tax_id">Sponsor: </label>
                      </div>
                      <div class="col-sm-8">
                        <multiselect v-model="form.member_id" @input="getWallet" id="member_id" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Sponsor" @search-change="asyncFind"></multiselect>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="tax_id">Wallet: </label>
                      </div>
                      <div class="col-sm-8">
                        <multiselect v-model="form.sponsor_wallet_id" id="member_id" :options="formData.walletOpt" track-by="name" label="name" placeholder="Select Wallet"></multiselect>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="official_id">Official: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.official_id" type="text" class="form-control" id="official_id" placeholder="Official">
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab>
              <b-tab title="Data Phone">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="phone_home">Home: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.phone_home" type="number" class="form-control" id="phone_home" placeholder="Phone Home">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="phone_office">Office: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.phone_office" type="number" class="form-control" id="phone_office" placeholder="Phone Office">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="phone_mobile">Mobile: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.phone_mobile" type="number" class="form-control" id="phone_mobile" placeholder="Phone Mobile">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="phone_fax">Fax: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.phone_fax" type="number" class="form-control" id="phone_fax" placeholder="Phone Fax">
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab>
              <b-tab title="Data Bank" >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="bank_account_no">Account No: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.bank_account_no" type="text" class="form-control" id="bank_account_no" placeholder="bank_account_no">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="bank_account_name">Account Name: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.bank_account_name" type="text" class="form-control" id="bank_account_name" placeholder="bank_account_name">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="bank_account_city">Account City: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.bank_account_city" type="text" class="form-control" id="bank_account_city" placeholder="bank_account_city">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-4 float-md-right txt_media">
                        <label class="form-control-label" for="bank_account_city">Account City: </label>
                      </div>
                      <div class="col-sm-8">
                        <input v-model="form.bank_account_city" type="text" class="form-control" id="bank_account_city" placeholder="bank_account_city">
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab>
            </b-tabs>
          </b-card>
        </div>
      </div>
      <div class="column is-12">
        <div class="control text-center">
          <button class="button btn btn-primary col-sm-2" type="submit" name="button">Save</button>
          <button class="button btn btn-secondary col-sm-2" type="reset" name="button" @click="errors.clear('form-1')">Reset</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import select2 from "@/vendors/select2/dist/js/select2.min.js"
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { Registration, Wallets, Member, MemberType, Package } from "@/api"

export default {
  components: {
    Multiselect,
    flatPickr,
  },
  data() {
    return {
      format: 'yyyy-MM-dd',
      config: {
        enableTime: true,
        dateFormat: 'Y-m-d',
      },
      form: {
        id: '',
        name: '',
        email: '',
        package_id: '',
        member_id: '',
        completed_date: '',
        sponsor_wallet_id: '',
        member_type_id: '',
        status: '',
        address:'',
        address_rt:'',
        address_rw:'',
        address_zipcode:'',
        address_city:'',
        address_state:'',
        phone_home:'',
        phone_office:'',
        phone_mobile:'',
        phone_fax:'',
        beneficiary_name:'',
        beneficiary_relation:'',
        bank_account_no:'',
        bank_account_name:'',
        bank_account_city:'',
        bank_account_branch:'',
        tax_id:'',
        birth_date:'',
      },
      formData: {
        members: [],
        memberOpt: [],
        wallets: [],
        walletOpt:[],
        member_types: [],
        member_typeOpt: [],
        packages: [],
        packageOpt: [],
        status: [],
        statusOpt: []
      },
      value: null
    }
  },
  methods: {
    init () {
      if(this.$route.params.id) {
        this.initEdit()
      } else {
        this.initAdd()
      }
    },  
    initAdd() {
      this.getMembers()
      this.getMemberType()
      this.getStatus()
    },
    initEdit () {
      let id = this.$route.params.id
      Registration.showData(id).then( response =>  {
        let registration = response.data

        _.forEach(this.form, (item, index) => {
          this.form[index] = registration[index]
        })

        Member.showData( registration.sponsor_wallet.member_id ).then( response => {
          let data = response.data
          let obj = {
            name: data.name_printed+' ['+data.id+'] ',
            code: data.id
          }

          this.form.member_id = obj

          Wallets.showData( registration.sponsor_wallet.member_id, registration.sponsor_wallet_id ).then( response => {
            let data = response.data
            let obj = {
              name: data.balance,
              code: data.id
            }

            this.form.sponsor_wallet_id = obj
          })

          this.getWallet()
        })


        MemberType.showData( registration.package.member_type_id ).then( response => {
          let data = response.data
          let obj = {
            name: data.name,
            code: data.id
          }

          this.form.member_type_id = obj

          Package.showData( registration.package.member_type_id, registration.package_id ).then( response => {
            let data = response.data
            let obj = {
              name: data.name,
              code: data.id
            }

            this.form.package_id = obj
          })

          this.getPackage()
        })

        let self = this
        Registration.getStatus().then((result) => {
          let datas =  result.data
          _.forEach(datas, function(value, key) {
            if (key == registration.status) {
              let obj = {
                name: value,
                code: key
              }

              self.form.status = obj
            }
          })
        })
      })

      this.getStatus()
      this.getMembers()
      this.getMemberType()

    },
    getStatus() {
      Registration.getStatus().then((result) => {
        let datas =  result.data
        this.formData.status = datas
      })
    },
    getMembers() {
            // let optional = '?limit=1000'
            Member.getData().then( response => {
              let data = response.data.data

              this.formData.members = data
            })
          },
          getMemberType() {
            // let optional = '?limit=1000'
            MemberType.getData().then( response => {
              let data = response.data.data

              this.formData.member_types = data
            })
          },
          getWallet() {
            // console.log(this.form.member_id)
            // let optional = '?limit=528'
            Wallets.getData( this.form.member_id.code ).then( response => {
              let data = response.data.data
              this.formData.wallets = []
              this.formData.wallets = data
            })
          },
          getPackage() {
            Package.getData( this.form.member_type_id.code ).then( response => {
              let data = response.data.data
              this.formData.packages = []
              this.formData.packages = data
            })
          },
          asyncFind (query) {
            let optional = '?id='+query
            Member.getData(optional).then( response => {
              let data = response.data.data

              this.formData.members = data
              _.forEach(this.formData.members, (item, index) => {
               let data = {
                name: item.name_printed +' '+ item.id,
                code: item.id
              }
              this.formData.memberOpt = []
              this.formData.memberOpt.push(data)
            })
            })
          },
          validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
              if (result) {
                let id = this.form.id
                this.form.member_id = this.form.member_id.code
                this.form.sponsor_wallet_id = this.form.sponsor_wallet_id.code
                this.form.package_id = this.form.package_id.code
                this.form.status = this.form.status.code
                console.log(this.form)
                if (! id) {
                  Registration.postData( this.form ).then( response => {
                    this.$router.push({ name: 'registrations.index' })
                    toastr.success('Registration is success created! ' )
                  }).catch((error) => {
                    let errorObject = JSON.parse( JSON.stringify(error) );
                    toastr.error( errorObject.response.data.error )
                  })
                } else {
                  Registration.updateData( id, this.form ).then( response => {
                    this.$router.push({ name: 'registrations.index' })
                    toastr.success('Registration is success created! ' )

                  }).catch((error) => {
                    let errorObject=JSON.parse(JSON.stringify(error));
                    toastr.error( errorObject.response.data.error )
                  })
                }
              }
            })
          },
        },
        mounted () {
          this.init()
        },
        watch: {
          'formData.wallets': function () {

            this.formData.walletOpt = []
            _.forEach(this.formData.wallets, (item, index) => {
              let data = {
                name: item.balance+ ' ['+ item.type_name +']',
                code: item.id
              }
              this.formData.walletOpt.push(data)
            })
          },
          'formData.members': function () {
            this.formData.memberOpt = []
            _.forEach(this.formData.members, (item, index) => {
             let data = {
              name: item.name_printed +' ['+ item.id+']',
              code: item.id
            }
            this.formData.memberOpt.push(data)
          })
          },
          'formData.member_types': function () {
            _.forEach(this.formData.member_types, (item, index) => {
            // console.log(item.name)
            let data = {
              name: item.name,
              code: item.id
            }
            this.formData.member_typeOpt.push(data)
          })
          },
          'formData.packages': function () {
            _.forEach(this.formData.packages, (item, index) => {
            // console.log(item.name)
            let data = {
              name: item.name,
              code: item.id
            }
            this.formData.packageOpt.push(data)
          })
          },
          'formData.status': function () {
            _.forEach(this.formData.status, (item, index) => {
              let data = {
                name: item,
                code: index
              }
              this.formData.statusOpt.push(data)
            })
          }
        },
      }
      </script>
      <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
      <style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
      <style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
      <style src="@/vendors/toastr/toastr.min.css"></style>
      <style src="@/assets/css/custom_css/toastr_notificatons.css"></style>

