<template>
	<div>
		<div class="row">
			<div class="col-lg-12">
				<b-card header="Filters" header-tag="h4" class="bg-primary-card">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Invoice Date Start</label>
								<input type="date" class="form-control" name="" v-model="search.invoice_date_start">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Invoice Date End</label>
								<input type="date" class="form-control" name="" v-model="search.invoice_date_end">
							</div>
						</div>
					</div>

					<button class="btn btn-primary" type="button" @click="doFilter"> Search </button>
				</b-card>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b-card header="Report Orders" header-tag="h4" class="bg-primary-card">
					<div class="table-responsive">
						<b-table striped hover :items="orders" :fields="fields">
							<template slot="actions" slot-scope="row">
								<!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
								<b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
									{{ row.detailsShowing ? 'Hide' : 'Show'}} Details
								</b-button>
							</template>
							<template slot="row-details" slot-scope="row">
								<b-card>
									<b-table :items="row.item.transactions" :fields="field_transactions">
										<template slot="product" slot-scope="data">
											{{ data.value.name }}
										</template>
									</b-table>
								</b-card>
							</template>
						</b-table>
					</div>
				</b-card>
			</div>
		</div>
	</div>
</template>
<script>
import Vue from 'vue'
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import toastr from "@/vendors/toastr/toastr.min.js"

import { Report } from "@/api"    
export default {
	data() {
		return {
			search: {
				invoice_date_start: '',
				invoice_date_end: '',
				order_id: '',
			},
			orders: [],
			fields: [
			{
				key: 'id',
				sortable: true
			},
			{
				key: 'invoice_no',
				sortable: true
			},
			{
				key: 'invoice_date',
				sortable: true
			},
			{
				key: 'bill_no',
				sortable: true
			},
			{
				key: 'status_name',
				sortable: true
			},
			{
				key: 'created_at',
				sortable: true
			},
			'actions'
			],
			field_transactions: [
			'product',
			'qty',
			'type_name',
			'amount',
			'point',
			'created_at'
			],
			field_wallet: [
			'member_id',
			'member',
			'balance',
			'type_name'
			],
		}
	},
	methods: {
		getOrder() {
			Report.getOrders().then( response => {
				let orders = response.data
				this.orders = orders
			})
		},
		doFilter () {
			let filter = '?invoice_date_start=' + this.search.invoice_date_start + '&invoice_date_end=' + this.search.invoice_date_end 	
			Report.getOrders( filter ).then( response => {
				let orders = response.data
				this.orders = orders
			})
		}
	},
	created () {
		
	}
}
</script>