<template>
	<div>
		<div class="row">
			<div class="col-lg-12">
				<b-card header="Filters" header-tag="h4" class="bg-primary-card">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Name</label>
								<input type="text" name="name" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Product Type</label>
								<select class="form-control" placeholder="Choose Product Type"></select>
							</div>
						</div>
					</div>

					<button class="btn btn-primary" type="button"> Reset </button>
				</b-card>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b-card header="Report Product Stock" header-tag="h4" class="bg-primary-card">
					<div class="table-responsive">
						<div class="text-left">
							<div id="search-input-container">

							</div>
						</div>
						<mytable
						    :data="gridData"
						    :columns="gridColumns"
						    :filter-key="searchQuery">
						 </mytable>
					</div>
				</b-card>
			</div>
		</div>
	</div>
</template>
<script>
import Vue from 'vue'
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import toastr from "@/vendors/toastr/toastr.min.js"
import mytable from '@/components/reports/partials/my_report'

import { Report } from "@/api"    
export default {
	components: {
        mytable
    },
	data() {
		return {
			searchQuery: '',
		    gridColumns: [
		    'name', 
		    'base_price',
		    'bonus_value',
		    'point_value',
		    'retail_price',
		    'weight',
		    'desc_short',
		    'created_at',
		    ],
		    gridData: []
		}
	},
	mounted() {
		Report.getProductStocks().then( response => {
				let logs = response.data

				this.gridData = logs;
			})	
	}
}
</script>