<template>
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">        
				<!-- Data User -->
				<div class="card ">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fa fa-fw ti-star"></i> Delivery 
						</h3>
						<span class="float-right">
							<i class="fa fa-fw ti-angle-up clickable"></i>
						</span>
					</div>
					<div class="card-body">
						<div class="row">        
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label" for="name">Product :
										<span class="text-danger">*</span>
									</label>
									<multiselect v-model="form.product_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.product_id') }" id="product_id" :options="formData.productOpt" track-by="name" label="name" placeholder="Select Product" @search-change="asyncFindProduct"></multiselect>
									<i v-show="errors.has('form-2.product_id')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form-2.product_id')" class="help is-danger text-danger">{{ errors.first('form-2.product_id') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label" for="name">Process Date :
										<span class="text-danger">*</span>
									</label>
									<flat-pickr v-model="form.process_date" name="process_date" :config="config" class="form-control" :readonly=false placeholder="Process Date" ></flat-pickr>
									<i v-show="errors.has('form-2.process_date')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form-2.process_date')" class="help is-danger text-danger">{{ errors.first('form-2.process_date') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label">Qty before</label>
									<input v-model="form.qty_before" name="qty_before" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form.qty_before') }" type="number" placeholder="qty_before">
									<i v-show="errors.has('form.qty_before')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form.qty_before')" class="help is-danger text-danger">{{ errors.first('form.qty_before') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label">Available before</label>
									<input v-model="form.available_before" name="available_before" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form.available_before') }" type="number" placeholder="available_before">
									<i v-show="errors.has('form.available_before')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form.available_before')" class="help is-danger text-danger">{{ errors.first('form.available_before') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label">Qty In</label>
									<input v-model="form.qty_in" name="qty_in" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form.qty_in') }" type="number" placeholder="qty_in">
									<i v-show="errors.has('form.qty_in')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form.qty_in')" class="help is-danger text-danger">{{ errors.first('form.qty_in') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label">Available In</label>
									<input v-model="form.available_in" name="available_in" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form.available_in') }" type="number" placeholder="available_in">
									<i v-show="errors.has('form.available_in')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form.available_in')" class="help is-danger text-danger">{{ errors.first('form.available_in') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label">Qty Out</label>
									<input v-model="form.qty_out" name="qty_out" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form.qty_out') }" type="number" placeholder="qty_out">
									<i v-show="errors.has('form.qty_out')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form.qty_out')" class="help is-danger text-danger">{{ errors.first('form.qty_out') }}</span>
								</div>
							</div>
							
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label">Available Out</label>
									<input v-model="form.available_out" name="available_out" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form.available_out') }" type="number" placeholder="available_out">
									<i v-show="errors.has('form.available_out')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form.available_out')" class="help is-danger text-danger">{{ errors.first('form.available_out') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label" for="name">Expired Date :
										<span class="text-danger">*</span>
									</label>
									<flat-pickr v-model="form.exp_date" name="exp_date" :config="config" class="form-control" :readonly=false placeholder="Expired Date" ></flat-pickr>
									<i v-show="errors.has('form-2.exp_date')" class="fa fa-warning text-danger"></i>
									<span v-show="errors.has('form-2.exp_date')" class="help is-danger text-danger">{{ errors.first('form-2.exp_date') }}</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="form-control-label" for="name">Note :
										<span class="text-danger">*</span>
									</label>
									<textarea v-model="form.note" class="form-control" name="note" placeholder="Note"></textarea>
									
								</div>
							</div>
							
						</div>

						<div class="col-sm-12">
							<center>
								<button class="btn btn-primary col-sm-1" type="submit"> Save </button> 
								<router-link :to="{name: 'deliveries.index'}"><button class="btn btn-warning col-sm-1" type="submit"> Cancel </button> </router-link>
							</center>
						</div>
					</div>
				</div>
				<!-- End User -->

			</form>
		</div>
	</div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import Datepicker from 'vuejs-datepicker'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { Member, Product, Stocks, StockLogs } from "@/api"
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
	components: {
		Multiselect,
		Datepicker,
		flatPickr,
		PulseLoader
	},
	data() {
		return {
			loading: false,
			config: {
				enableTime: true,
				dateFormat: 'Y-m-d',
			},
			warehouse_id: this.$route.params.warehouse_id,
			form: {
				qty_before : 0,
				qty_in : 0,
				qty_out : 0,
				available_before : 0,
				available_in : 0,
				available_out : 0,
				exp_date : '',
				process_date : '',
				product_id : '',
				note : '',
				transaction_id : '',
				warehouse_stock_log_id : '',
				member_stock_id : '',
			},
			formData: {
				products: [],
				productOpt:[],
			},
			value: null,
		}
	},
	methods: {
		init () {
			if(this.$route.params.id) {
				this.initEdit()
			} else {
				this.initAdd()
			}
		},  
		initAdd() {
			this.getProduct()
		},
		initEdit () {

		},
		getProduct() {
			Product.getData().then( response => {
				let data = response.data.data
				this.formData.products = []
				this.formData.products = data
			})
		},
		asyncFindProduct (query) {
			let optional = '?name='+query
			Product.getData(optional).then( response => {
				let data = response.data.data

				this.formData.products = data
				_.forEach(this.formData.products, (item, index) => {
					let data = {
						name: item.name_printed +' '+ item.id,
						code: item.id
					}
					this.formData.productOpt = []
					this.formData.productOpt.push(data)
				})
			})
		},
		validateForm(scope) {
			this.$validator.validateAll(scope).then((result) => {
				if (result) {
					let id = this.form.id
					this.form.product_id = this.form.product_id.code
					if (!id) {
						StockLogs.postData( this.warehouse_id, this.form ).then( response => {
							this.$router.push({ name:'stock_warehouse.index', params: { warehouse_id: this.warehouse_id } }) 
							toastr.success('Stock Logs success created! ' )
						}).catch((error) => {
							toastr.error( 'Err' + error )
						})
					} else {
						StockLogs.updateData( id, this.form ).then( response => {
							this.$router.push({ name:'stock_warehouse.index', params: { warehouse_id: this.warehouse_id } }) 
							toastr.success('Stock Logs success updated! ' )
						}).catch((error) => {
							console.log(error)
							toastr.error( 'Err' + error )
						})
					}
				}
			})
		}
	},
	mounted () {
		this.init()
	},
	watch: {
		'formData.products': function () {
			this.formData.productOpt = []
			_.forEach(this.formData.products, (item, index) => {
				let data = {
					name: item.name,
					code: item.id
				}
				this.formData.productOpt.push(data)
			})
		}
	}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>

