<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="card p-3">
                <div class="table-responsive">
                    <div class="text-left">
                        <div id="search-input-container">
                            <label>
                                <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                            </label>
                            <div class="actions float-right pr-4 mb-3">
                                    <button type="button" class="btn btn-icon btn-primary m-r-50" @click="gotoForm"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                            </div>
                        </div> 
                    </div>
                    <my-vuetable class="vuetable" ref="datatable"
                    :api-url="dataTable.url"
                    :http-options="dataTable.httpOptions"
                    :data-path="dataTable.dataPath"
                    :multi-sort="dataTable.multiSort"
                    :pagination-path="dataTable.paginationPath"
                    :fields="dataTable.fields"
                    :per-page="dataTable.perPage"
                    :append-params="dataTable.params"
                    detail-row-component="">
                    <!-- <template slot="actions" slot-scope="props">
                        <button class="btn btn-icon btn-warning btn-round m-r-50" alt="Stocks" @click="onActionRow('sell', props.rowData, props.rowIndex)">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-icon btn-success btn-round m-r-50" alt="Stocks" @click="onActionRow('transfer', props.rowData, props.rowIndex)">
                            <i class="fa fa-fw fa-location-arrow"></i>
                        </button>
                    </template> -->
                </my-vuetable>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js";
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import Multiselect from 'vue-multiselect';
import { StockLogs, Product, Warehouse } from "@/api"    
export default {
  //  name: "users_list",
  components: {
    MyVuetable,
    flatPickr,
    Multiselect
},
data() {
    return {
        formFilter: {
            q: ''
        },
        warehouse_id: this.$route.params.warehouse_id,
        value: null,
        product_name: '',
        dataTable: {
            url: StockLogs.pathUrl+'/warehouses/'+this.$route.params.warehouse_id+'/stockLogs',
            //    dataPath: 'body.data',
            perPage: 10,
            multiSort: true,
            paginationPath: "",
            httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
            },
            fields: [
            {
                name: 'product.name',
                sortField: 'product.name',
                title: 'Product'

            },
            {
                name: 'qty_before',
                sortField: 'qty_before',
                title: 'Qty Before'
            },
            {
                name: 'qty_in',
                sortField: 'qty_in',
                title: 'Qty In'
            },
            {
                name: 'qty_out',
                sortField: 'qty_out',
                title: 'Qty Out'
            },
            {
                name: 'process_date',
                sortField: 'process_date',
                title: 'Process Date',
            },
            {
                name: 'exp_date',
                sortField: 'exp_date',
                title: 'Expired Date',
            },
            // {
            //     name: '__slot:actions',
            //     title: 'Actions',
            //     titleClass: 'text-right',
            //     dataClass: 'text-right'
            // },
            ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {
                    warehouse_id: this.warehouse_id
                }
            },
        }
    },
    methods: {
        onActionRow( state, item ) {
            let id = item.id;

            switch(state) {
                case 'sell':
                swal({
                    title: "Sell",
                    text: "Are you sure to sell selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, Sell!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        let params = {
                            warehouse_id : this.warehouse_id,
                            qty: 1,
                            product_id: item.product_id,
                            exp_date: item.exp_date
                        }

                        Warehouse.sell(this.warehouse_id, params).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh();
                            toastr.success('Success Sell!')

                        }).catch((error) => {
                            let data = error.response.data
                            console.log(data)
                            toastr.error(data.error)
                        })
                    }
                });
                break;
                case 'transfer':
                swal({
                    title: "Transfer",
                    text: "Are you sure to transfer selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, Transfer!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        let params = {
                            warehouse_id : this.warehouse_id,
                            qty: item.qty,
                            product_id: item.product_id,
                            exp_date: item.exp_date
                        }

                        Warehouse.transfer(this.warehouse_id, params).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh();
                            toastr.success('Success Transfered!')

                        }).catch((error) => {
                            let data = error.response.data
                            console.log(data)
                            toastr.error(data.error)
                        })
                    }
                });
                break;
            }
        },
        gotoForm () {
            this.$router.push({ name:'stock_warehouse.stockLogs.create', params: { warehouse_id: this.warehouse_id } }) 
        },
        doFilter () {
            this.$refs.datatable.setParams(this.formFilter)
        }
    },
    mounted() {
        // this.getProducts()
    }
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
@media(max-width:320px){
   body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
