<template>
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fa fa-fw ti-wallet"></i> Transfer
          </h3>
        </div>
        <div class="card-body">
          <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">        
            <div class="form-group">
              <label> Warehouse </label>
              <multiselect v-model="form.warehouse_id" :options="formData.warehouseOpt" @search-change="asyncFindWarehouse" track-by="name" label="name" placeholder="Transfer to warehouse.."></multiselect>

              <i v-show="errors.has('form.warehouse_id')" class="fa fa-warning text-danger"></i>
              <span v-show="errors.has('form.warehouse_id')" class="help is-danger text-danger">{{ errors.first('form.warehouse_id') }}</span>
            </div>
            
            <div class="form-group">
              <label>Qty</label>
              <input type="number" name="" class="form-control" v-model="form.qty">
            </div>

            <div class="form-group">
              <label>Process Date</label>
              <input type="date" name="" class="form-control" v-model="form.process_date">
            </div>

            <div class="col-sm-12">
              <center>
                <button class="btn btn-primary col-sm-2" type="submit"> <i class="icon fa fa-fw fa-location-arrow"></i> Transfer </button> 
                <router-link :to="{name: 'member.index'}"><button class="btn btn-warning col-sm-2" type="submit"> Cancel </button> </router-link>
              </center>
            </div>
          </form>
        </div>
      </div>  
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fa fa-fw ti-info"></i> Information 
          </h3>
        </div>
        <div class="card-body">
          <center>
            <p>Product</p>
            <h3>{{ stock.name }}</h3>
          </center>
          <br>
          <p><label>Current Stock : {{ stock.qty }}</label></p>
          <p><label>Expired Date : {{ stock.exp_date }}</label></p>
          <hr>
          <p><label>Transfer to Warehouse : {{ form.warehouse_id.name }}</label></p>
          <p><label>Address: {{ form.warehouse_id.address }}</label></p>
        </div>
      </div>  
    </div>
  </div>
</template>

<script type="text/javascript">
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import Multiselect from 'vue-multiselect'
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import { Product, Warehouse, StockWarehouse } from "@/api"
import toastr from "@/vendors/toastr/toastr.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
export default {
  components: {
    Multiselect
  },
  data() {
    return {
      warehouse_id: this.$route.params.warehouse_id,
      id: this.$route.params.id,
      stock: {
        name: '',
        qty: '',
        exp_date: '',
        product_id: ''
      },
      form: {
        warehouse_id: '',
        product_id: '',
        qty: '',
        process_date: '',
        exp_date: ''
      },
      formData: {
        products: [],
        productOpt:[],
        warehouses: [],
        warehouseOpt:[],
      },
    }
  },
  methods: {
    getWarehouse() {
      Warehouse.getData().then((response) => {
        let data = response.data.data
        this.formData.warehouses = []
        this.formData.warehouses = data
      })
    },
    getProduct() {
      Product.getData().then( response => {
        let data = response.data.data
        this.formData.products = []
        this.formData.products = data
      })
    },
    getStock() {
      StockWarehouse.showData(this.warehouse_id, this.id).then( response => {
        let data = response.data
        this.stock.name =  data.product.name
        this.stock.qty = data.available
        this.stock.exp_date = data.exp_date
        this.stock.product_id = data.product_id
      })
    },
    asyncFindProduct (query) {
      let optional = '?name='+query
      Product.getData(optional).then( response => {
        let data = response.data.data

        this.formData.products = data
        _.forEach(this.formData.products, (item, index) => {
          let data = {
            name: item.name_printed +' '+ item.id,
            code: item.id
          }
          this.formData.productOpt = []
          this.formData.productOpt.push(data)
        })
      })
    },
    asyncFindWarehouse (query) {
      let optional = '?name=' + query
      Warehouse.getData(optional).then( response => {
        let data = response.data.data

        this.formData.warehouses = data
        _.forEach(this.formData.products, (item, index) => {
          let data = {
            name: item.name,
            code: item.id,
            address: item.address
          }
          this.formData.warehouseOpt = []
          this.formData.warehouseOpt.push(data)
        })
      })
    },
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          swal({
            title: "Confirmation Transfer",
            text: "Are you sure transfer warehouse ?",
            showCancelButton: true,
            confirmButtonColor: '#66cc99',
            cancelButtonColor: '#ff6666',
            confirmButtonText: 'Yes, transfer it!',
            cancelButtonText: 'No, cancel!',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger'
          })
          .then((isConfirm) => {
            if (isConfirm) {
              let forms = {
                warehouse_id: this.form.warehouse_id.code,
                product_id: this.stock.product_id,
                qty: this.form.qty,
                process_date: this.form.process_date,
                exp_date: this.stock.exp_date
              }

              console.log(forms)

              Warehouse.transfer( this.form.warehouse_id.code, forms ).then( response => {
                toastr.success('Successfully TOPUP Balance' )
                this.$router.push({ name: 'transactions.index' }) 
              }).catch((error) => {
                let errorObject = JSON.parse(JSON.stringify(error));
                toastr.error( errorObject.response.data.error )
              })
            }
          });
        }
      })
    }
  },
  created() {
    this.getStock()
    this.getProduct()
    this.getWarehouse()
  },
  watch: {
    'formData.products': function () {
      this.formData.productOpt = []
      _.forEach(this.formData.products, (item, index) => {
        let data = {
          name: item.name,
          code: item.id
        }
        this.formData.productOpt.push(data)
      })
    },
    'formData.warehouses': function () {
      this.formData.warehouseOpt = []
      _.forEach(this.formData.warehouses, (item, index) => {
        let data = {
          name: item.name,
          code: item.id,
          address: item.address
        }
        this.formData.warehouseOpt.push(data)
      })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
