<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Payment" header-tag="h4" class="bg-primary-card">
                 <div class="card p-3">
                <div class="table-responsive">
                     <div class="text-left">
                        <div id="search-input-container">
                            <label>
                                <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                            </label>
                            <div class="actions float-right pr-4 mb-3">
                                <button type="button" class="btn btn-icon btn-primary m-r-50" @click="showModal"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                                <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                            </div>
                        </div>
                    </div>
                    <!-- Modal Component -->
                    <b-modal ref="myModalRef" hide-footer>
                        <div slot="modal-title">
                            {{title}}
                        </div>
                        <div class="d-block ">
                            <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <multiselect v-model="form.member_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.member_id') }" id="member_id" :options="formData.memberOpt" track-by="name" label="name" placeholder="Select Member"></multiselect>
                                                <i v-show="errors.has('form-2.member_id')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.member_id')" class="help is-danger text-danger">{{ errors.first('form-2.member_id') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <multiselect v-model="form.type" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.type') }" id="type" :options="formData.typeOpt" track-by="name" label="name" placeholder="Select Type"></multiselect>
                                                <i v-show="errors.has('form-2.type')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.type')" class="help is-danger text-danger">{{ errors.first('form-2.type') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <multiselect v-model="form.status" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.status') }" id="status" :options="formData.statusOpt" track-by="name" label="name" placeholder="Select Status"></multiselect>
                                                <i v-show="errors.has('form-2.type')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.type')" class="help is-danger text-danger">{{ errors.first('form-2.type') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="form.amount" name="amount" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.amount') }" type="text" placeholder="amount">
                                                <i v-show="errors.has('form-2.amount')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.amount')" class="help is-danger text-danger">{{ errors.first('form-2.amount') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <flat-pickr v-model="form.payment_date" :config="config" class="form-control" :readonly=false v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.payment_date') }" placeholder="Payment Date"></flat-pickr>
                                                <i v-show="errors.has('form-2.payment_date')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.payment_date')" class="help is-danger text-danger">{{ errors.first('form-2.payment_date') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <textarea class="form-control" v-model="form.desc" placeholder="Description"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row marginTop">
                                    <div class="col-12 col-md-12">
                                        <input type="submit" id="btncheck" value="Save"
                                                class="btn btn-primary btn-block btn-md btn-responsive"
                                                tabindex="7">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </b-modal>
                    <my-vuetable class="vuetable" ref="datatable"
                        :api-url="dataTable.url"
                        :http-options="dataTable.httpOptions"
                        :data-path="dataTable.dataPath"
                        :multi-sort="dataTable.multiSort"
                        :pagination-path="dataTable.paginationPath"
                        :fields="dataTable.fields"
                        :per-page="dataTable.perPage"
                        :append-params="dataTable.params"
                        detail-row-component="">
                        <template slot="actions" slot-scope="props">
                            <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-pencil"></i>
                            </button>
                            <button class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-trash-o"></i>
                            </button>
                        </template>
                    </my-vuetable>
                </div>
                 </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js"
import flatPickr from 'vue-flatpickr-component';
import Multiselect from 'vue-multiselect'
import 'flatpickr/dist/flatpickr.css';
import { Payment, Member } from "@/api"    
export default {
    components: {
        MyVuetable,
        flatPickr,
        Multiselect
    },
    data() {
        return {
            title: 'Create Payment',
            formFilter: {
                q: ''
            },
            config: {
                enableTime: true,
                dateFormat: 'Y-m-d',
            },
            form: {
                id: '',
                member_id: '',
                type: '',
                status: '',
                amount: '',
                payment_date: '',
                desc: ''
            },
            formData: {
                members: [],
                memberOpt: [],
                status: [],
                statusOpt: [],
                type: [],
                typeOpt: [],
            },
            dataTable: {
                url: Payment.pathUrl,
            //    dataPath: 'body.data',
                perPage: 10,
                multiSort: true,
                paginationPath: "",
                httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
                },
                fields: [
                    {
                        name: 'id',
                        sortField: 'id',
                        title: 'No',
                        width: '5%'
                    },
                    {
                        name: 'member_id',
                        sortField: 'member_id',
                        title: 'Member ID',
                    },
                    {
                        name: 'type_name',
                        sortField: 'type_name',
                        title: 'Type',
                    },
                    {
                        name: 'amount',
                        sortField: 'amount',
                        title: 'Amount',
                    },
                    {
                        name: 'payment_date',
                        sortField: 'payment_date',
                        title: 'Payment Date',
                    },
                    {
                        name: 'status_name',
                        sortField: 'status_name',
                        title: 'Status',
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        titleClass: 'text-right',
                        dataClass: 'text-right'
                    },
                ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        showForm(state, data) {

            this.clearForm()

            this.title = 'Insert Payment'
            if(state == 'edit') {
                this.title = 'Update Payment'
                this.setForm(data)
            }
        },
        setForm(data) {
            _.forEach(this.form, (item, index) => {
                this.form[index] = data[index]
            })

            Member.showData( data.member_id ).then( response => {
                    let data = response.data
                    let obj = {
                        name: data.name_printed,
                        code: data.id
                    }

                    this.form.member_id = obj
                })

            let self = this
            Payment.getStatus().then((result) => {
                let datas =  result.data
                _.forEach(datas, function(value, key) {
                    if (key == data.status) {
                        let obj = {
                            name: value,
                            code: key
                        }

                        self.form.status = obj
                    }
                })
            })

            Payment.getType().then((result) => {
                let datas =  result.data
                _.forEach(datas, function(value, key) {
                    if (key == data.type) {
                        let obj = {
                            name: value,
                            code: key
                        }

                        self.form.type = obj
                    }
                })
            })
                
            this.getMembers()
            this.getStatus()
            this.getTypes()
            this.showModal()
        },
        clearForm() {
            _.forEach(this.form, (item, index) => {
                this.form[index] = ''
            })
            this.$validator.reset()
        },
        getMembers() {
            // let optional = '?limit=528'
            Member.getData().then( response => {
                let data = response.data.data

                this.formData.members = data
            })
        },
        getStatus() {
            Payment.getStatus().then((result) => {
                let datas =  result.data
                this.formData.status = datas
            })
        },
        getTypes() {
            Payment.getType().then((result) => {
                let datas =  result.data
                this.formData.type = datas
            })
        },
        validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    let id = this.form.id
                    this.form.member_id = this.form.member_id.code
                    this.form.status = this.form.status.code
                    this.form.type = this.form.type.code
                    
                    if (! id) {
                        Payment.postData( this.form ).then( response => {
                            this.$refs.myModalRef.hide()
                            this.$refs.datatable.$refs.vuetable.refresh()
                            toastr.success('Success Created!')
                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error(data)
                        })
                    } else {
                        Payment.updateData( id, this.form ).then( response => {
                            this.$refs.myModalRef.hide()
                            this.$refs.datatable.$refs.vuetable.refresh()
                            toastr.success('Success Updated!')

                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                }
            })
        },
        showModal() {
            this.$refs.myModalRef.show()
        },
        onActionRow( state, item ) {
            let id = item.id

            switch(state) {
                case 'edit':
                this.showForm('edit', item)
                break
                case 'delete':
                swal({
                        title: "Restore",
                        text: "Are you sure to delete selected data ?",
                        showCancelButton: true,
                        confirmButtonColor: '#66cc99',
                        cancelButtonColor: '#ff6666',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger'
                    })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            Payment.deleteData(id).then((response) => {

                                this.$refs.datatable.$refs.vuetable.refresh()
                                toastr.success('Success Deleted!')

                            }).catch((error) => {
                                let data = error.response.data
                                toastr.error('Failed')
                            })
                        }
                    })
                break
            }
        },
        doFilter () {
            console.log(this.formFilter)
            this.$refs.datatable.setParams(this.formFilter)
        }
    },
    mounted() {
        this.getMembers()
        this.getTypes()
        this.getStatus()
    },
    watch: {
        'formData.members': function () {
            _.forEach(this.formData.members, (item, index) => {
                let data = {
                    name: item.name_printed,
                    code: item.id
                }
                this.formData.memberOpt.push(data)
            })
        },
         'formData.type': function () {
            _.forEach(this.formData.type, (item, index) => {
                let data = {
                    name: item,
                    code: index
                }
                this.formData.typeOpt.push(data)
            })
        },
        'formData.status': function () {
            _.forEach(this.formData.status, (item, index) => {
                let data = {
                    name: item,
                    code: index
                }
                this.formData.statusOpt.push(data)
            })
        }
    }
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
    @media(max-width:320px){
       body #app .header .navbar-nav .messages-menu > .dropdown-menu{
        transform: translate3d(-80px, 55px, 0px) !important
        }
    }
</style>
