<template>
  <div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-icon btn-primary m-r-50 float-right" @click="newTemp"> <span> Add Items </span> </button>
        <div class="clearfix"></div><br>
        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Product</th>
                  <th>Qty</th>
                  <th> Action </th>
              </tr>
          </thead>
          <tbody>
              <template v-if="form.items.length > 0">
                  <tr v-for="(item, index) in form.items" v-bind:key="index"> 
                      <td> {{ formData.items[index].product }} </td>
                      <td> {{ item.qty }} </td>
                      <td>
                          <button class="btn btn-icon btn-primary btn-round m-r-50" type="button" @click="editTemp( index )">
                              <i class="icon fa fa-fw fa-pencil"></i>
                          </button>
                          <button class="btn btn-icon btn-danger btn-round m-r-50" type="button" @click="removeTemp( index )">
                              <i class="icon fa fa-fw fa-trash"></i>
                          </button>
                      </td>
                  </tr>
              </template>
              <template v-else>
              <tr>
                  <td colspan="8"> <i> Items is Empty </i> </td>
              </tr>
              </template>
          </tbody>
        </table>
    </div>
    <b-modal ref="myModalRef" hide-footer title="Add Item">
        <div class="d-block ">
            <form id="form-validation3" @submit.prevent="validateDelivery('form-delivery')" class="columns column is-multiline is-12" data-vv-scope="form-delivery" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="control has-icon has-icon-right">
                                    <multiselect v-model="formData.item.products" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.products') }" id="products" :options="formData.productOpt" track-by="name" label="name" placeholder="Select Product"></multiselect>
                        
                                <!-- <input v-model="formData.item.products" name="products" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-delivery.products') }" type="number" placeholder="products"> -->
                                <i v-show="errors.has('form-delivery.products')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-delivery.products')" class="help is-danger text-danger">{{ errors.first('form-delivery.products') }}</span>
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="form-group">
                            <p class="control has-icon has-icon-right">
                                <input v-model="formData.item.qty_temp" class="form-control" disabled>
                            </p>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="control has-icon has-icon-right">
                                <input v-model="formData.item.qty" name="qty" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-delivery.qty') }" type="number" placeholder="qty">
                                <i v-show="errors.has('form-delivery.qty')" class="fa fa-warning text-danger"></i>
                            <span v-show="errors.has('form-delivery.qty')" class="help is-danger text-danger">{{ errors.first('form-delivery.qty') }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row marginTop">
                    <div class="col-12 col-md-12">
                        <input type="submit" id="btncheck" value="Save" class="btn btn-primary btn-block btn-md btn-responsive">
                    </div>
                </div>
            </form>
        </div>
    </b-modal>
  </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import Multiselect from 'vue-multiselect'
import { Product, Stocks } from "@/api"

export default {
    props: [ 'items', 'detail', 'member_id' ],
    components: {
        Multiselect
    },
    data() {
        return {
            form: {
                items: []
            },
            formData: {
                products: [],
                productOpt:[],
                items: [],
                item: {
                  id: '',
                  qty: '',
                  product_id: '',
                  products: ''
                }
            },
            value: null,
            is_edit: '',
        }
    },
    mounted() {
        this.form.items = this.items
        this.formData.items = this.detail
    },
    methods: {
        validateDelivery(scope) {
            this.$validator.validateAll(scope).then((result) => {
            if (result) {
                this.formData.item.product_id = this.formData.item.products.code
                
                if (this.is_edit >= 0) {
                    this.form.items.splice(this.is_edit, 1)
                    this.formData.items.splice(this.is_edit, 1)
                }
                this.form.items.push( this.formData.item )
                let name = {
                        product: this.formData.item.products.name
                    }
                this.formData.items.push( name )
                this.$refs.myModalRef.hide()
            }
          })
        },
        showModal() {
            this.$refs.myModalRef.show()
        },
        newTemp() {
           this.clearTemp()
           this.getProduct()
           this.is_edit = null;
           this.showModal()
        },
        editTemp( index ) {
            this.formData.item.qty = this.form.items[index].qty
            let product_id = this.form.items[index].product_id

            Product.showData( product_id ).then( response => {
                let data = response.data
                let obj = {
                    name: data.name,
                    code: data.id
                }

                this.formData.item.products = obj
            })

            this.getProduct()
            this.is_edit = index
            this.showModal()
        },
        removeTemp( index ) {
            this.form.items.splice(this.is_edit, 1)
        },
        clearTemp() {
            _.forEach(this.formData.item, (item, index) => {
                this.formData.item[index] = ''
            })
        },
        getProduct() {
            Product.getData().then( response => {
                let data = response.data.data
                
                this.formData.products = data
            })
        },
        // change_qty (product) {
        //      Product.showData( product.code ).then( response => {

        //      })
        // }
    },
    watch: {
        'formData.products': function () {
            _.forEach(this.formData.products, (item, index) => {
                let data = {
                    name: item.name,
                    code: item.id
                }
                this.formData.productOpt.push(data)
            })
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
