<template>
  <div class="row">
    <div class="col-md-12 col-lg-12">
        <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">        
          <!-- Data User -->
          <div class="card ">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-fw ti-star"></i> Delivery 
                </h3>
                <span class="float-right">
                    <i class="fa fa-fw ti-angle-up clickable"></i>
                </span>
            </div>
            <div class="card-body">
                <div class="row">        
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <div class="col-sm-3 float-md-right txt_media">
                                <label class="form-control-label" for="name">Member:
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <multiselect v-model="form.member_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.member_id') }" id="member_id" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Member" @search-change="asyncFind"></multiselect>

                                <i v-show="errors.has('form-2.member_id')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-2.member_id')" class="help is-danger text-danger">{{ errors.first('form-2.member_id') }}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 float-md-right txt_media">
                                <label class="form-control-label" for="invoice_no">Cost: </label> 
                                <span class="text-danger">*</span>
                            </div>
                            <div class="col-sm-9">
                                <input v-model="form.cost" name="cost" type="text" class="form-control" id="cost" placeholder="Cost" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.cost') }">
                                <i v-show="errors.has('form-2.cost')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-2.cost')" class="help is-danger text-danger">{{ errors.first('form-2.cost') }}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 float-md-right txt_media">
                                <label class="form-control-label" for="invoice_no">Courier: </label> 
                            </div>
                            <div class="col-sm-9">
                                <input v-model="form.courier" name="courier" type="text" class="form-control" id="courier" placeholder="Courir">
                                <i v-show="errors.has('form-2.courier')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-2.courier')" class="help is-danger text-danger">{{ errors.first('form-2.courier') }}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 float-md-right txt_media">
                                <label class="form-control-label" for="courier_ref">Courier Ref: </label> 
                            </div>
                            <div class="col-sm-9">
                                <input v-model="form.courier_ref" name="courier_ref" type="text" class="form-control" id="courier_ref" placeholder="Courier Ref">
                                <i v-show="errors.has('form-2.courier_ref')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-2.courier_ref')" class="help is-danger text-danger">{{ errors.first('form-2.courier_ref') }}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 float-md-right txt_media">
                                <label class="form-control-label" for="name">Status:
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <multiselect v-model="form.status" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.status') }" id="status" :options="formData.statusOpt" track-by="name" label="name" placeholder="Select Status"></multiselect>

                                <i v-show="errors.has('form-2.status')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-2.status')" class="help is-danger text-danger">{{ errors.first('form-2.status') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                          <div class="col-sm-3 float-md-right txt_media">
                            <label class="form-control-label" for="birth_date">Delivery: </label>  <span class="text-danger">*</span>
                        </div>
                        <div class="col-sm-9">
                            <flat-pickr v-model="form.delivery_date" name="delivery_date" :config="config" placeholder="Delivery Date" class="form-control" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.delivery_date') }" :readonly=false></flat-pickr>
                            <i v-show="errors.has('form-2.delivery_date')" class="fa fa-warning text-danger"></i>
                            <span v-show="errors.has('form-2.delivery_date')" class="help is-danger text-danger">{{ errors.first('form-2.delivery_date') }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 float-md-right txt_media">
                            <label class="form-control-label" for="postal_Address">Address:</label>  <span class="text-danger">*</span>
                        </div>
                        <div class="col-sm-9">
                            <textarea v-model="form.address" rows="3" class="form-control resize_vertical" id="address" placeholder="Address" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.address') }"></textarea>
                            <i v-show="errors.has('form-2.address')" class="fa fa-warning text-danger"></i>
                            <span v-show="errors.has('form-2.address')" class="help is-danger text-danger">{{ errors.first('form-2.address') }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 float-md-right txt_media">
                            <label class="form-control-label" for="phone_Number">Zip Code: </label>
                        </div>
                        <div class="col-sm-9">
                            <input v-model="form.address_zipcode" type="text" class="form-control" id="phone_Number" placeholder="Zip Code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 float-md-right txt_media">
                            <label class="form-control-label" for="phone_Number">Country: </label>  <span class="text-danger">*</span>
                        </div>
                        <div class="col-sm-9">
                            <multiselect v-model="form.country_id" id="country_id" :options="formData.countryOpt" track-by="name" label="name" placeholder="Select Country"></multiselect>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- <template v-if="formData.check"> -->
                <child
                :items = form.items
                :detail = formData.items
                ></child>
                <!-- </template> -->
                
                <div class="col-sm-12">
                    <center>
                        <button class="btn btn-primary col-sm-1" type="submit"> Save </button> 
                        <router-link :to="{name: 'deliveries.index'}"><button class="btn btn-warning col-sm-1" type="submit"> Cancel </button> </router-link>
                    </center>
                </div>
            </div>
        </div>
        <!-- End User -->

    </form>
</div>
</div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import Datepicker from 'vuejs-datepicker'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { Delivery, Wallets, Country, Member, Product } from "@/api"
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import child from './_child.vue'

export default {
    components: {
        Multiselect,
        Datepicker,
        flatPickr,
        PulseLoader,
        child
    },
    data() {
        return {
            loading: false,
            config: {
                enableTime: true,
                dateFormat: 'Y-m-d',
            },
            form: {
                id: '',
                courier: '',
                courier_ref: '',
                address: '',
                address_rt: '',
                address_rw: '',
                address_zipcode: '',
                country_id: '',
                status: '',
                items: [],
                member_id: '',
                cost: '',
                delivery_date: ''
            },
            formData: {
                country: [],
                countryOpt: [],
                members: [],
                memberOpt: [],
                products: [],
                productOpt:[],
                status: [],
                statusOpt: [],
                items: [],
                check: false,
                item: {
                  id: '',
                  qty: '',
                  product_id: '',
                  products: ''
              }
          },
          value: null,
          is_edit: '',
      }
  },
  methods: {
    init () {
        if(this.$route.params.id) {
            this.initEdit()
        } else {
            this.initAdd()
        }
    },  
    initAdd() {
        this.getCountry()
        this.getMembers()
        this.getProduct()
        this.getStatus()
    },
    initEdit () {
       let delivery_id = this.$route.params.id
            // this.clearForm()
            Delivery.showData(delivery_id).then(response => {
                let delivery = response.data
                _.forEach(this.form, (item, index) => {
                    this.form[index] = delivery[index]
                })
                this.form.items = []
                _.forEach(delivery.items, (item, index) => {
                    let obj = {
                        id: item.id,
                        qty: item.qty,
                        product_id: item.product_id
                    }

                    let name = {
                        product: item.product.name
                    }

                    this.form.items.push(obj)
                    this.formData.items.push(name)
                })
                this.formData.check = true
                Country.showData( delivery.country_id ).then( response => {
                    let data = response.data
                    let obj = {
                        name: data.name,
                        code: data.id
                    }

                    this.form.country_id = obj
                })

                Member.showData( delivery.member_id ).then( response => {
                    let data = response.data
                    let obj = {
                        name: data.name_printed,
                        code: data.id
                    }

                    this.form.member_id = obj
                })
                let self = this
                Delivery.getStatus().then((result) => {
                    let datas =  result.data
                    _.forEach(datas, function(value, key) {
                        if (key == delivery.status) {
                            let obj = {
                                name: value,
                                code: key
                            }

                            self.form.status = obj
                        }
                    }) 
                })

                this.getCountry()
                this.getMembers()
                this.getStatus()
            })
        },
        getCountry() {
            let optional = '?limit=528'
            Country.getData(optional).then( response => {
                let data = response.data.data

                this.formData.country = data
            })
        },
        getMembers() {
            // let optional = '?limit=528'
            Member.getData().then( response => {
                let data = response.data.data

                this.formData.members = data
            })
        },
        getProduct() {
            Product.getData().then( response => {
                let data = response.data.data
                
                this.formData.products = data
            })
        },
        getStatus() {
            Delivery.getStatus().then((result) => {
                let datas =  result.data
                this.formData.status = datas
            })
        },
        validateForm(scope) {
           this.$validator.validateAll(scope).then((result) => {
            if (result) {
                let id = this.form.id
                this.form.country_id = this.form.country_id.code
                this.form.member_id = this.form.member_id.code
                this.form.status = this.form.status.code
                if (!id) {
                    Delivery.postData( this.form ).then( response => {
                      this.$router.push({ name: 'deliveries.index' })
                      toastr.success('Order #'+this.form.bill_no+' success created! ' )
                  }).catch((error) => {
                    toastr.error( 'Err' + error )
                })
              } else {
                Delivery.updateData( id, this.form ).then( response => {
                   this.$router.push({ name: 'deliveries.index' })
                   toastr.success('Order #'+this.form.bill_no+' success updated! ' )
               }).catch((error) => {
                console.log(error)
                toastr.error( 'Err' + error )
            })
           }
       }
   })
       },
        // validateDelivery(scope) {
        //     this.$validator.validateAll(scope).then((result) => {
        //     if (result) {
        //         this.formData.item.product_id = this.formData.item.products.code
        //         if (this.is_edit != '') {
        //             this.form.items.splice(this.is_edit, 1)
        //         }
        //         this.form.items.push( this.formData.item )
        //         this.$refs.myModalRef.hide()
        //     }
        //   })
        // },
        showModal() {
            this.$refs.myModalRef.show()
        },
        newTemp() {
         this.clearTemp()
         this.showModal()
     },
     editTemp( index ) {
        this.formData.item.qty = this.form.items[index].qty
        let product_id = this.form.items[index].product_id

        Product.showData( product_id ).then( response => {
            let data = response.data
            let obj = {
                name: data.name,
                code: data.id
            }

            this.formData.item.products = obj
        })

        this.getProduct()
        this.is_edit = index
        this.showModal()
    },
    removeTemp( index ) {
        this.form.items.splice(this.is_edit, 1)
    },
    clearTemp() {
        _.forEach(this.formData.item, (item, index) => {
            this.formData.item[index] = ''
        })
    }
},
mounted () {
    this.init()
},
watch: {
    'formData.country': function () {
        _.forEach(this.formData.country, (item, index) => {
            // console.log(item.name)
            let data = {
                name: item.name,
                code: item.id
            }
            this.formData.countryOpt.push(data)
        })
    },
    'formData.members': function () {
        _.forEach(this.formData.members, (item, index) => {
            // console.log(item.name)
            let data = {
                name: item.name_printed,
                code: item.id
            }
            this.formData.memberOpt.push(data)
        })
    },
    'formData.products': function () {
        _.forEach(this.formData.products, (item, index) => {
            let data = {
                name: item.name,
                code: item.id
            }
            this.formData.productOpt.push(data)
        })
    },
    'formData.status': function () {
        _.forEach(this.formData.status, (item, index) => {
            let data = {
                name: item,
                code: index
            }
            this.formData.statusOpt.push(data)
        })
    }
}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>

