<template>
<div class="row">
    <div class="col-lg-12">
        <b-card header="Auditlogs" header-tag="h4" class="bg-primary-card">
            <div class="card p-3">
                <div class="table-responsive">
                    <my-vuetable class="vuetable" ref="datatable"
                        :api-url="dataTable.url"
                        :http-options="dataTable.httpOptions"
                        :data-path="dataTable.dataPath" 
                        :multi-sort="dataTable.multiSort"
                        :pagination-path="dataTable.paginationPath"
                        :fields="dataTable.fields"
                        :per-page="dataTable.perPage"
                        :append-params="dataTable.params"
                        detail-row-component="">
                        <template slot="actions" slot-scope="props">
                            <button class="btn btn-icon btn-warning btn-round m-r-50" @click="onActionRow('show', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-search-plus"></i>
                            </button>
                        </template>
                    </my-vuetable>
                </div>
            </div>
        </b-card>
    </div>
</div>
</template>
<script>
import Vue from 'vue';
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import toastr from "@/vendors/toastr/toastr.min.js";
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'

import { Auditlogs } from "@/api"    
export default {
  //  name: "users_list",
  components: {
    MyVuetable
},
data() {
    return {
        formFilter: {
            name: ''
        },
        dataTable: {
            url: Auditlogs.pathUrl,
            //    dataPath: 'body.data',
            perPage: 10,
            multiSort: true,
            paginationPath: "",
            httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
            },
            fields: [
            {
                name: 'id',
                sortField: 'id',
                title: 'No',
                width: '5%'
            },
            {
                name: 'username',
                sortField: 'username',
                title: 'Username',
            },
            {
                name: 'userrole',
                sortField: 'userrole',
                title: 'User Role',
            },
            {
                name: 'ip',
                sortField: 'ip',
                title: 'IP',
            },
            {
                name: 'model',
                sortField: 'model',
                title: 'Model'
            },
            {
                name: 'action',
                sortField: 'action',
                title: 'Method',
            },
            {
                name: '__slot:actions',
                title: 'Actions',
            },
            ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        doFilter () {
            this.$refs.datatable.setParams(this.formFilter)
        },
        onActionRow (state, item) {
            let id = item.id

            switch(state) {
                case 'show':
                this.$router.push({ name:'member.show', params: { id: id } }) 
                break
                case 'delete': 
                swal({
                    title: "Restore",
                    text: "Are you sure to delete selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        Auditlogs.deleteData(id).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh();
                            toastr.success('Success Deleted!')

                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                });
                break;
            }


        }
    },
    mounted() {}
}
</script>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
@media(max-width:320px){
 body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
