<template>
  <div>
   <form @submit.prevent="validateForm('form-1')" class="columns column is-multiline is-12" data-vv-scope="form-1">
    <div class="row">
        <div class="col-sm-6">
            <div class="column is-12 row">
                <label class="label col-sm-4" for="name">Name
                    <span class="text-danger">*</span>
                </label>
                <p class="control has-icon has-icon-right col-sm-8">
                    <input v-model="form.name" name="name" id="name" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.name') }" type="text" placeholder="Input the Name">
                    <i v-show="errors.has('form-1.name')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-1.name')" class="help is-danger text-danger">{{ errors.first('form-1.name') }}</span>
                </p>
            </div>
            <div class="column is-12 row">
                <label class="label col-sm-4" for="product_type">Product Type
                    <span class="text-danger">*</span>
                </label>
                <p class="control has-icon has-icon-right col-sm-8">
                 <multiselect v-model="form.product_type_id" id="product_type_id" :options="formData.optType" :value="value" track-by="name" label="name" placeholder="Select Product Type"></multiselect>
                 <i v-show="errors.has('form-1.product_type_id')" class="fa fa-warning text-danger"></i>
                 <span v-show="errors.has('form-1.product_type_id')" class="help is-danger text-danger">{{ errors.first('form-1.product_type_id') }}</span>
             </p>
         </div>
         <div class="column is-12 row">
            <label class="label col-sm-4" for="product_type">Image </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input @change="onFileChange" id="file" name="image_path" class="form-control" type="file" placeholder="image_path">
            </p>
        </div>
        <div class="column is-12 row">
            <label class="label col-sm-4" for="product_type">Brochure File </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input @change="onFileChangePdf" id="brochure_file" name="brochure_file" class="form-control" type="file" placeholder="brochure_file">
            </p>
        </div>  
        <div class="column is-12 row">
            <label class="label col-sm-4" for="name"> Amount </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input v-model="form.desc_short" name="desc_short" id="desc_short" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.desc_short') }" type="text" placeholder="Input the Amount">
            </p>
        </div>   
    </div>
    <div class="col-sm-6">
        <div class="column is-12 row">
            <label class="label col-sm-4" for="base_price">Base Price
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input v-model="form.base_price" name="base_price" id="base_price" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.base_price') }" type="number" placeholder="Base Price">
                <i v-show="errors.has('form-1.base_price')" class="fa fa-warning text-danger"></i>
                <span v-show="errors.has('form-1.base_price')" class="help is-danger text-danger">{{ errors.first('form-1.base_price') }}</span>
            </p>
        </div>
        <div class="column is-12 row">
            <label class="label col-sm-4" for="retail_price">Retail Price
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input v-model="form.retail_price" name="retail_price" id="retail_price" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.retail_price') }" type="number" placeholder="Retail Price">
                <i v-show="errors.has('form-1.retail_price')" class="fa fa-warning text-danger"></i>
                <span v-show="errors.has('form-1.retail_price')" class="help is-danger text-danger">{{ errors.first('form-1.retail_price') }}</span>
            </p>
        </div>
        <div class="column is-12 row">
            <label class="label col-sm-4" for="base_price">Bonus Value
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input v-model="form.bonus_value" name="bonus_value" id="bonus_value" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.bonus_value') }" type="number" placeholder="Bonus Price">
                <i v-show="errors.has('form-1.bonus_value')" class="fa fa-warning text-danger"></i>
                <span v-show="errors.has('form-1.bonus_value')" class="help is-danger text-danger">{{ errors.first('form-1.bonus_value') }}</span>
            </p>
        </div>
        <div class="column is-12 row">
            <label class="label col-sm-4" for="base_price">Point Value
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input v-model="form.point_value" name="point_value" id="point_value" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.point_value') }" type="number" placeholder="Point Price">
                <i v-show="errors.has('form-1.point_value')" class="fa fa-warning text-danger"></i>
                <span v-show="errors.has('form-1.point_value')" class="help is-danger text-danger">{{ errors.first('form-1.point_value') }}</span>
            </p>
        </div>
        <div class="column is-12 row">
            <label class="label col-sm-4" for="base_price">Weight
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-8">
                <input v-model="form.weight" name="weight" id="weight" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.weight') }" type="number" placeholder="Weight">
                <i v-show="errors.has('form-1.weight')" class="fa fa-warning text-danger"></i>
                <span v-show="errors.has('form-1.weight')" class="help is-danger text-danger">{{ errors.first('form-1.weight') }}</span>
            </p>
        </div>         
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="column is-12 row">
            <label class="label col-sm-2" for="tags">Tags
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-9">
                <multiselect v-model="formData.tags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="name" :options="formData.optTag" :multiple="true" :taggable="false"></multiselect>
                <i v-show="errors.has('form-1.tags')" class="fa fa-warning text-danger"></i>
                <span v-show="errors.has('form-1.tags')" class="help is-danger text-danger">{{ errors.first('form-1.tags') }}</span>
            </p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="column is-12 row">
            <label class="label col-sm-4" for="name"> Description
                <span class="text-danger">*</span>
            </label>
            <p class="control has-icon has-icon-right col-sm-12">
                <trumbowyg v-model="form.desc" class="form-control"></trumbowyg>
            </p>
        </div>
    </div>
</div>

<div class="column is-12">
    <div class="control text-center">
        <button class="button btn btn-primary" type="submit" name="button">Save</button>
        <button class="button btn btn-secondary" type="reset" name="button" @click="errors.clear('form-1')">Reset</button>
    </div>
</div>
</form>
</div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js";
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import toastr from "@/vendors/toastr/toastr.min.js";
import Multiselect from 'vue-multiselect';
import select2 from "@/vendors/select2/dist/js/select2.min.js"
import { ProductType, Product, Tags } from "@/api"
import trumbowyg from 'vue-trumbowyg'
import 'trumbowyg/dist/ui/trumbowyg.css'

export default {
    components: {
        Multiselect,
        trumbowyg
    },
    data() {
        return {
            form: {
                id: '',
                name: '',
                base_price: '',
                retail_price: '',
                bonus_value: '',
                point_value: '',
                weight: '',
                product_type_id: '',
                company_id: '',
                image_path: '',
                brochure_file: '',
                tag_ids: [],
                desc_short: '',
                desc: ''
            },
            formData: {
                product_type: [],
                optType: [],
                tags: [],
                optTag: [],
                tags: []
            },
            value: null,
            formTemp: {
                product_type_id: '',
            }
        };
    },
    methods: {
        init () {
            if(this.$route.params.id) {
                this.initEdit()
            } else {
                this.initAdd()
            }
        },  
        initAdd() {
            this.getProductType()
            this.getTags()
        },
        initEdit () {
            let product_id = this.$route.params.id

            Product.showData(product_id).then(response => {
                let product = response.data
                let temp = {
                    code: product.product_type.id,
                    name: product.product_type.name
                }
                this.form.id = product_id
                this.form.name = product.name
                this.form.base_price = product.base_price
                this.form.bonus_value = product.bonus_value
                this.form.point_value = product.point_value
                this.form.weight = product.weight
                this.form.retail_price = product.retail_price
                this.formData.tags = product.tags
                this.form.product_type_id = temp
                this.form.desc = product.desc
                this.form.desc_short = product.desc_short
                this.form.image_path = product.image_path

                this.getProductType()
                this.getTags()

            })

        },
        getProductType () {
            ProductType.getData().then(response => {
                let data = response.data.data

                this.formData.product_type = data
            });
        },
        getTags () {
            Tags.getData().then( response =>  {
                let data = response.data.data

                this.formData.tags = data
            })
        },
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        onFileChangePdf(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createPdf(files[0]);
        },
        createImage(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.form.image_path = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        createPdf(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.form.brochure_file = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    this.formTemp.product_type_id = this.form.product_type_id
                    this.form.product_type_id = this.form.product_type_id.code
                    let id = this.form.id
                    var data = new FormData()
                    data.append('name', this.form.name)
                    data.append('base_price',  this.form.base_price)
                    data.append('bonus_value',  this.form.bonus_value)
                    data.append('point_value',  this.form.point_value)
                    data.append('weight',  this.form.weight)
                    data.append('retail_price',  this.form.retail_price)
                    data.append('product_type_id',  this.form.product_type_id)
                    data.append('desc_short',  this.form.desc_short)
                    data.append('desc',  this.form.desc)
                    _.forEach(this.formData.tags, ( item, index ) => {
                     data.append('tag_ids[]',  item.id)
                 })
                    data.append('company_id',  1)

                    if (! id) {
                        data.append('image_path',  document.getElementById('file').files[0])   
                        data.append('brochure_file',  document.getElementById('brochure_file').files[0])   
                        Product.postData( data ).then( response => {
                          this.$router.push({ path:'/admin/product' })
                          toastr.success('Success product Created!')
                      }).catch((error) => {
                        this.form.product_type_id = this.formTemp.product_type_id
                        toastr.error('Create Product Failed! '+ error)
                        console.log(error)
                    })
                  } else {
                    data.append('_method', 'PATCH')
                    if (document.getElementById('file').files[0] != undefined) {
                        data.append('image_path',  document.getElementById('file').files[0])
                    }

                    if (document.getElementById('brochure_file').files[0] != undefined) {
                        data.append('brochure_file',  document.getElementById('brochure_file').files[0])
                    }
                    Product.updateData( id, data ).then( response => {
                     this.$router.push({ path:'/admin/product' })
                     toastr.success('Success Product Updated!')
                 }).catch((error) => {
                    this.form.product_type_id = this.formTemp.product_type_id
                    toastr.error('Failed Update Product!')
                })
             }
         }
     });
        },
    },
    mounted () {
        this.init()
    },
    watch: {
        'formData.product_type': function(value) {
        // let data = []

        _.forEach(this.formData.product_type, (item, index) => {
            // console.log(item.name)
            let data = {
                name: item.name,
                code: item.id
            }
            this.formData.optType.push(data)
        })
        // this.formData.optType = data
    },
    'formData.tags': function(value) {
        // let data = []

        _.forEach(this.formData.tags, (item, index) => {
            // console.log(item.name)
            let data = {
                name: item.name,
                id: item.id
            }
            this.formData.optTag.push(data)
        })
        // this.formData.optType = data
    }
},
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>

