<template>
	<div class="row">
		<div class="col-md-8 col-lg-8">
			<div class="card ">
				<div class="card-header">
					<h3 class="card-title">
						<i class="fa fa-fw ti-wallet"></i> TOPUP Wallet 
					</h3>
				</div>
				<div class="card-body">
          <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">        
            <div class="form-group">
              <label> Member ID </label>
              <multiselect v-model="form.member_id" @input="getWallet" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.member_id') }" id="member_id" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Member" @search-change="asyncFind"></multiselect>

              <i v-show="errors.has('form-2.member_id')" class="fa fa-warning text-danger"></i>
              <span v-show="errors.has('form-2.member_id')" class="help is-danger text-danger">{{ errors.first('form-2.member_id') }}</span>
            </div>

            <div class="form-group">
              <label> Wallet </label>
              <multiselect v-model="form.wallet_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.wallet_id') }" id="wallet_id" :options="formData.walletOpt" track-by="name" label="name" placeholder="Select Wallet"></multiselect>

              <i v-show="errors.has('form-2.wallet_id')" class="fa fa-warning text-danger"></i>
              <span v-show="errors.has('form-2.wallet_id')" class="help is-danger text-danger">{{ errors.first('form-2.wallet_id') }}</span>
            </div>

            <div class="form-group">
              <label> Operation </label>
              <select class="form-control" v-model="operation">
                <option value="add"> Add Balance </option>
                <option value="subtract"> Subtract Balance </option>
              </select>
            </div>

            <div class="form-group">
              <label> Amount </label>
              <input type="number" v-model="balanceTemp" class="form-control" placeholder="Input Amount" min="0" @keyup="countBalance">
            </div>

            <div class="col-sm-12">
              <center>
                <button class="btn btn-primary col-sm-1" type="submit"> Save </button> 
                <router-link :to="{name: 'member.index'}"><button class="btn btn-warning col-sm-1" type="submit"> Cancel </button> </router-link>
              </center>
            </div>
          </form>
        </div>
      </div>	
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fa fa-fw ti-info"></i> Information 
          </h3>
        </div>
        <div class="card-body">
          <center>
            <h5>Wallet Balance</h5>
            <h1>{{ form.balance }}</h1>
          </center>
          <hr/>
          <p>Member ID: {{ form.member_id.code }}</p>
          <p>Member Name: {{ form.member_id.name }}</p>
        </div>
      </div>	
    </div>
  </div>
</template>

<script type="text/javascript">
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import Multiselect from 'vue-multiselect'
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import { Member, Wallets  } from "@/api"
import toastr from "@/vendors/toastr/toastr.min.js"
export default {
	components: {
		Multiselect
	},
	data() {
		return {
      form: {
        id: '',
        member_id: '',
        type: '',
        balance: 0,
        wallet_id: ''
      },
      operation: '',
      balanceTemp: 0,
      formData: {
        members: [],
        memberOpt: [],
        wallets: [],
        walletOpt:[],
      },
    }
  },
  methods: {
    countBalance() {
      if (this.operation == 'add') {
        this.form.balance = parseInt(this.form.wallet_id.balance) + parseInt(this.balanceTemp)
      } else {
        this.form.balance = parseInt(this.form.wallet_id.balance) - parseInt(this.balanceTemp)
      }
    },
    getMembers() {
      Member.getData().then( response => {
        let data = response.data.data

        this.formData.members = data
      })
    },
    asyncFind (query) {
      let optional = '?id='+query
      Member.getData(optional).then( response => {
        let data = response.data.data

        this.formData.members = data
        _.forEach(this.formData.members, (item, index) => {
         let data = {
          name: item.name_printed +' '+ item.id,
          code: item.id
        }
        this.formData.memberOpt = []
        this.formData.memberOpt.push(data)
      })
      })
    },
    getWallet() {
      Wallets.getData( this.form.member_id.code ).then( response => {
        let data = response.data.data
        this.formData.wallets = []
        this.formData.wallets = data
      })
    },
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          this.form.member_id = this.form.member_id.code
          this.form.id = this.form.wallet_id.code
          this.form.type = this.form.wallet_id.type

          Wallets.updateData( this.form.id, this.form.member_id , this.form ).then( response => {
            toastr.success('Successfully TOPUP Balance' )
            this.$router.go(0);
          }).catch((error) => {
            console.log(error)
          })
        }
      })
    }
  },
  created() {
    this.getMembers()
  },
  watch: {
    'formData.members': function () {
      this.formData.memberOpt = []
      _.forEach(this.formData.members, (item, index) => {
        let data = {
          name: item.name_printed +' ['+ item.id+']',
          code: item.id
        }
        this.formData.memberOpt.push(data)
      })
    },
    'formData.wallets': function () {
      this.formData.walletOpt = []
      _.forEach(this.formData.wallets, (item, index) => {
        let data = {
          name: item.balance+ ' ['+ item.type_name +']',
          code: item.id,
          type: item.type,
          balance: item.balance
        }
        this.formData.walletOpt.push(data)
      })
    },
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
