<template>
    <div>
        <div class="row">

            <div class="col-lg-9">
                <b-card header="Downline Member" header-tag="h4" class="bg-primary-card">
                    <div class="table-responsive">
                        <div class="row" v-if="form.member_id">
                            <div class="col-sm-6">
                                <b>
                                    Member Parent : {{ form.member_id.name }} <br> 
                                    Member ID : {{ form.member_id.code }} <br>
                                </b>        
                            </div>
                            <div class="col-sm-6">
                                <b>
                                    Achievement: {{ form.achievement }} <br>
                                    Group Point: {{ form.member_id.current_group_points }} <br>
                                    Personal Point: {{ form.member_id.current_personal_points }}
                                </b>
                            </div>
                        </div> 
                        <br>
                        <table class="table">
                            <thead>
                              <tr class style="text-align: left;">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Achievement</th>
                                <th>Group Point</th>
                                <th>Personal Point</th>
                            </tr>
                        </thead>
                        <tbody>

                          <tr v-for="(item ,index)  in (arrayTreeObj)" :key="index" v-bind:class="[(item.id != selectedRowID.id) ? 'my-label':'text-green bg-light-green-11','']">
                            <td data-th="Name" @click="toggle(item, index)">

                                <span :class="iconName(item)" v-bind:style="setPadding(item)">                

                                    {{item.id}}
                                </span>

                            </td>
                            <td data-th="Name"> {{item.name}}</td>
                            <td width="20%" data-th="Achievement"> {{item.achievement}} </td>
                            <td width="20%" data-th="Group Point"> {{item.current_group_points}} </td>
                            <td width="20%" data-th="Personal Point"> {{item.current_personal_points}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </b-card>
    </div>
    <div class="col-lg-3">
        <b-card header="Filters" header-tag="h4" class="bg-primary-card">
            <div class="form-group">
                <label>Member ID</label>
                <multiselect v-model="form.member_id" id="member_id" @input="setDownline" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Member" @search-change="asyncFind"></multiselect>
            </div>

            <button class="btn btn-primary" type="button"> Reset </button>
        </b-card>
    </div>
    
</div>
</div>
</template>
<script>
import Vue from 'vue'
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import Item  from './item'
import { Member } from "@/api"    
export default {
    components: {
        Multiselect,
        Item
    },
    data: function() {
        return {
            isExpanded: true,
            selectedRowID: {},
            form: {
                member_id: '',
            },
            formData: {
                members: [],
                memberOpt: [],
            },
            members: [],
            itemId: null,
        }
    },
    methods: {
        notify: function() {
            this.$q.notify('Running on Quasar v' + this.$q.version)
        },
        recursive(obj, newObj, level, itemId, isExpend) {
            let vm = this;

            obj.forEach(function(o) {
                if (o.downlines && o.downlines.length != 0) {
                    o.level = level;
                    o.leaf = false;
                    newObj.push(o);
                    if (o.id == itemId) {
                        o.expend = isExpend;
                    }
                    if (o.expend == true) {
                        vm.recursive(o.downlines, newObj, o.level + 1, itemId, isExpend);
                    }
                } else {
                    o.level = level;
                    o.leaf = true;
                    newObj.push(o);
                    return false;
                }
            });
        },
        iconName(item) {
            if (item.expend == true) {
                return "fa fa-minus-circle";
            }

            if (item.downlines && item.downlines.length > 0) {
                return "fa fa-plus-circle";
            }
            return "done";
        },

        toggle(item, index) {
            let vm = this;
            vm.itemId = item.id;

            item.leaf = false;

            if ( item.leaf == false && item.expend == undefined && item.downlines != undefined ) {

                if (item.downlines.length != 0) {
                    vm.recursive(item.downlines, [], item.level + 1, item.id, true);
                }
            }


            if (item.expend == true && item.downlines != undefined) {
                var __subindex = 0;
                item.downlines.forEach(function(o) {
                    o.expend = undefined;
                });

                vm.$set(item, "expend", undefined);
                vm.$set(item, "leaf", false);
                vm.itemId = null;
            }
        },
        setPadding(item) {
            return `padding-left: ${item.level * 30}px;`;
        },
        asyncFind (query) {
            let optional = '?id='+query
            Member.getData(optional).then( response => {
                let data = response.data.data

                this.formData.members = data
                _.forEach(this.formData.members, (item, index) => {
                    let data = {
                        name: item.name_printed +' '+ item.id,
                        code: item.id
                    }
                    this.formData.memberOpt = []
                    this.formData.memberOpt.push(data)
                })
            })
        },
        getMembers() {
            Member.getData().then( response => {
                let data = response.data.data

                this.formData.members = data
            })
        },
        setDownline() {
            Member.downlines(this.form.member_id.code, 'parent').then( response => {
                let data = response.data

                this.members = data.downlines
            })
        },
    },
    computed: {
        arrayTreeObj() {
            let vm = this;
            var newObj = [];
            vm.recursive(vm.members, newObj, 0, vm.itemId, vm.isExpanded);
            return newObj;
        }
    },
    created () {
        this.getMembers()
    },
    watch: {
        selectedIDRow: function(val) {
            if (this.selectedRowID != null) {
                this.$set(this.selectedRowID, "id", val);
            }
        },
        'formData.members': function () {
            this.formData.memberOpt = []
            _.forEach(this.formData.members, (item, index) => {
                let data = {
                    name: item.name_printed +' ['+ item.id+']',
                    code: item.id,
                    current_group_points: item.current_group_points,
                    current_personal_points: item. current_personal_points
                }
                this.formData.memberOpt.push(data)
            })
        },
    },
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style type="text/css">
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
</style>