<template>
  <div class="row">
    <div class="col-lg-12">
      <b-card header="Downline Members Parents" header-tag="h4" class="bg-primary-card">
        <multiselect v-model="form.member_id" :options="formData.memberOpt" track-by="name" @input="setDownline" label="name" placeholder="Select Member" @search-change="asyncFind"></multiselect>
        <div class="tree">
          <ul id="tree">
            <item
            class="item"
            :model="members">
          </item>
        </ul>
      </div>

    </b-card>
  </div>
</div>
</template>
<script>
import Vue from 'vue'
import { Member } from '@/api'
import Item  from './item'
import Multiselect from 'vue-multiselect';
export default {
  components: {
    'item': Item,
    Multiselect
  },
  data() {
    return {
     form: {
      member_id: ''
    },
    members: {},
    formData: {
     memberOpt: [],
     members: []
   },
   type: this.$route.params.status
 }
},
methods: {
  setDownline() {
    Member.downlines(this.form.member_id.code, 'parent').then( response => {
      let data = response.data

      this.members = data
      console.log(this.members)
    })
  },
  getMembers() {
    Member.getData().then( response => {
      let data = response.data.data

      this.formData.members = data
    })
  },
  asyncFind (query) {
    let optional = '?id='+query
    Member.getData(optional).then( response => {
      let data = response.data.data

      this.formData.members = data
      _.forEach(this.formData.members, (item, index) => {
       let data = {
        name: item.name_printed +' '+ item.id,
        code: item.id
      }
      this.formData.memberOpt = []
      this.formData.memberOpt.push(data)
    })
    })
  },
},
mounted() {
  this.getMembers()
  this.setDownline()
},
watch: {
 'formData.members': function () {
  this.formData.memberOpt = []
  _.forEach(this.formData.members, (item, index) => {
   let data = {
    name: item.name_printed +' ['+ item.id+']',
    code: item.id
  }
  this.formData.memberOpt.push(data)
})
},
}
}
</script>
<style>
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
/* Code based on this sample http://thecodeplayer.com/walkthrough/css3-family-tree */

/*Now the CSS*/
.tree * {margin: 0; padding: 0;}

.tree ul {
 padding-top: 20px; position: relative;

 transition: all 0.5s;
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
}

.tree li {
 float: left; text-align: center;
 list-style-type: none;
 position: relative;
 padding: 20px 5px 0 5px;

 transition: all 0.5s;
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
 content: '';
 position: absolute; top: 0; right: 50%;
 border-top: 1px solid #8dc63f;
 width: 50%; height: 20px;
}
.tree li::after{
 right: auto; left: 50%;
 border-left: 1px solid #8dc63f;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #8dc63f;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #8dc63f;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #8dc63f;
	padding: 1em 0.75em;
	text-decoration: none;
	color: #666767;
	font-family: arial, verdana, tahoma;
	font-size: 0.85em;
	display: inline-block;

  /*
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  */

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/* -------------------------------- */
/* Now starts the vertical elements */
/* -------------------------------- */

.tree ul.vertical, ul.vertical ul {
  padding-top: 0px;
  left: 50%;
}

/* Remove the downward connectors from parents */
.tree ul ul.vertical::before {
	display: none;
}

.tree ul.vertical li {
	float: none;
  text-align: left;
}

.tree ul.vertical li::before {
  right: auto;
  border: none;
}

.tree ul.vertical li::after{
	display: none;
}

.tree ul.vertical li a{
	padding: 10px 0.75em;
  margin-left: 16px;
}

.tree ul.vertical li::before {
  top: -20px;
  left: 0px;
  border-bottom: 1px solid #8dc63f;
  border-left: 1px solid #8dc63f;
  width: 20px; height: 60px;
}

.tree ul.vertical li:first-child::before {
  top: 0px;
  height: 40px;
}

/* Lets add some extra styles */

div.tree > ul > li > ul > li > a {
  width: 11em;
}

div.tree > ul > li > a {
  font-size: 1em;
  font-weight: bold;
}


/* ------------------------------------------------------------------ */
/* Time for some hover effects                                        */
/* We will apply the hover effect the the lineage of the element also */
/* ------------------------------------------------------------------ */
.tree li a:hover, .tree li a:hover+ul li a {
	background: #8dc63f;
  color: white;
  /* border: 1px solid #aaa; */
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #aaa;
}

</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
