<template>

 <li>
    <div
      :class="{bold: isFolder}"
      @click="toggle"
      @dblclick="changeType">
      {{ model.name }}
      <b><span v-if="isFolder">[{{ open ? '-' : '+' }}]</span></b>
    </div>
    <ul v-show="open" v-if="isFolder">
      <item
        v-for="(model, index) in model.downlines"
        :key="index"
        :model="model">
      </item>
    </ul>
  </li>
</template>
<script>
import Vue from 'vue'
export default {
  name: 'item',
   props: {
    model: Object
  },
  data: function () {
    return {
      open: false
    }
  },
  computed: {
    isFolder: function () {
      return this.model.downlines &&
        this.model.downlines.length
    }
  },
  methods: {
    toggle: function () {
      if (this.isFolder) {
        this.open = !this.open
      }
    },
    changeType: function () {
      if (!this.isFolder) {
        Vue.set(this.model, 'downlines', [])
        // this.addChild()
        this.open = true
      }
    },
    addChild: function () {
      this.model.downlines.push({
        name: 'new stuff'
      })
    }
  }
}
</script>

<style type="text/css">
ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
</style>