<template>
  <div>
      <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-fw ti-star"></i> Article 
                    </h3>
                    <span class="float-right">
                        <i class="fa fa-fw ti-angle-up clickable"></i>
                    </span>
                </div>
                <div class="card-body">
                    <form @submit.prevent="validateForm('form-1')" class="columns column is-multiline is-12" data-vv-scope="form-1">
                        <div class="column is-12 row">
                            <label class="label col-sm-4" for="name">Title
                                <span class="text-danger">*</span>
                            </label>
                            <p class="control has-icon has-icon-right col-sm-6">
                                <input v-model="form.title" name="title" id="title" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-1.title') }" type="text" placeholder="Title">
                                <i v-show="errors.has('form-1.title')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-1.title')" class="help is-danger text-danger">{{ errors.first('form-1.title') }}</span>
                            </p>
                        </div>
                        <div class="column is-12 row">
                            <label class="label col-sm-4" for="name">Type
                                <span class="text-danger">*</span>
                            </label>
                            <p class="control has-icon has-icon-right col-sm-6">
                                <multiselect v-model="form.type" id="type_opt" :options="formData.typeOpt" track-by="name" :value="value" label="name" placeholder="Select Type"></multiselect>
                                <i v-show="errors.has('form-1.type')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-1.type')" class="help is-danger text-danger">{{ errors.first('form-1.type') }}</span>
                            </p>
                        </div>
                        <div class="column is-12 row">
                            <label class="label col-sm-4" for="name"> Publish Date
                                <span class="text-danger">*</span>
                            </label>
                            <p class="control has-icon has-icon-right col-sm-6">
                                <flat-pickr v-model="form.publish_date" :config="config" class="form-control" :readonly=false placeholder="Publish Date"></flat-pickr>
                                <i v-show="errors.has('form-1.publish_date')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-1.publish_date')" class="help is-danger text-danger">{{ errors.first('form-1.publish_date') }}</span>
                            </p>
                        </div>
                        <div class="column is-12 row">
                            <label class="label col-sm-4" for="product_type">Image </label>
                            <p class="control has-icon has-icon-right col-sm-6">
                                <input @change="onFileChange" id="file" name="image_path" class="form-control" type="file" placeholder="image_path" accept="image/*">
                            </p>
                        </div>
                        <div class="column is-12 row">
                            <label class="label col-sm-4" for="name"> Status
                                <span class="text-danger">*</span>
                            </label>
                            <p class="control has-icon has-icon-right col-sm-6">
                                <multiselect v-model="form.status" id="product_type_id" :options="formData.statusOpt" track-by="name" label="name" placeholder="Select Status"></multiselect>
                                
                                <i v-show="errors.has('form-1.status')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-1.status')" class="help is-danger text-danger">{{ errors.first('form-1.status') }}</span>
                            </p>
                        </div>
                        <div class="column is-12 row">
                            <label class="label col-sm-4" for="name"> Description
                                <span class="text-danger">*</span>
                            </label>
                            <p class="control has-icon has-icon-right col-sm-12">
                                <trumbowyg v-model="form.html" class="form-control"></trumbowyg>
                                <i v-show="errors.has('form-1.html')" class="fa fa-warning text-danger"></i>
                                <span v-show="errors.has('form-1.html')" class="help is-danger text-danger">{{ errors.first('form-1.html') }}</span>
                            </p>
                        </div>
                        <div class="column is-12">
                            <div class="control text-center">
                                <button class="button btn btn-primary" type="submit" name="button">Save</button>
                                <button class="button btn btn-secondary" type="reset" name="button" @click="errors.clear('form-1')">Reset</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import select2 from "@/vendors/select2/dist/js/select2.min.js"
import { Article } from "@/api"
import trumbowyg from 'vue-trumbowyg'
import 'trumbowyg/dist/ui/trumbowyg.css'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

export default {
    components: {
        Multiselect,
        trumbowyg,
        flatPickr
    },
    data() {
        return {
            form: {
                id: '',
                title: '',
                type: '',
                html: '',
                status: '',
                image_path: '',
                publish_date: ''
            },
            company_id: this.$route.params.company_id,
            config: {
                enableTime: true,
                dateFormat: 'Y-m-d',
            },
            value: 0,
            formData: {
                types: [],
                typeOpt: [],
                status: [],
                statusOpt: []
            }
        }
    },
    methods: {
        init () {
            if(this.$route.params.id) {
                this.initEdit()
            } else {
                this.initAdd()
            }
        },  
        initAdd() {
            this.getTypes()
            this.getStatus()
        },
        initEdit () {
            let article_id = this.$route.params.id

            Article.showData( article_id, this.company_id).then(response => {
                let article = response.data
                _.forEach(this.form, (item, index) => {
                    this.form[index] = article[index]
                })

                let self = this
                Article.getStatus().then((result) => {
                    let datas =  result.data
                    _.forEach(datas, function(value, key) {
                        if (key == article.status) {
                            let obj = {
                                name: value,
                                code: key
                            }

                            self.form.status = obj
                        }
                    })
                })

                Article.getType().then((result) => {
                    let datas =  result.data
                    _.forEach(datas, function(value, key) {
                        if (key == article.type) {
                            let obj = {
                                name: value,
                                code: key
                            }

                            self.form.type = obj
                        }
                    })
                })


                this.getTypes()
                this.getStatus()

            })

        },
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.form.image_path = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    let id = this.form.id
                    this.form.type = this.form.type.code
                    this.form.status = this.form.status.code
                    var data = new FormData()
                    data.append('title', this.form.title)
                    data.append('type', this.form.type)
                    data.append('html', this.form.html)
                    data.append('status', this.form.status)
                    data.append('publish_date', this.form.publish_date)

                    if (! id) {
                        data.append('image_path',  document.getElementById('file').files[0])  
                        Article.postData( this.company_id, data ).then( response => {
                            this.$router.push({ name: 'articles.index' }) 
                            toastr.success('Success Created!')
                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    } else {
                        data.append('_method', 'PUT')
                        if (document.getElementById('file').files[0] != undefined) {
                            data.append('image_path',  document.getElementById('file').files[0])
                        }
                        console.log(this.form.html)
                        Article.updateData( id, this.company_id, data ).then( response => {
                            this.$router.push({ name: 'articles.index' })
                            toastr.success('Success Updated!')
                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                }
            })
        },
        getStatus() {
            Article.getStatus().then((result) => {
                let datas =  result.data
                this.formData.status = datas
            })
        },
        getTypes() {
            Article.getType().then((result) => {
                let datas =  result.data
                this.formData.types = datas
            })
        },
    },
    mounted () {
        this.init()
    },
    watch: {
        'formData.types': function () {
            _.forEach(this.formData.types, (item, index) => {
                let data = {
                    name: item,
                    code: index
                }
                this.formData.typeOpt.push(data)
            })
        },
        'formData.status': function () {
            _.forEach(this.formData.status, (item, index) => {
                let data = {
                    name: item,
                    code: index
                }
                this.formData.statusOpt.push(data)
            })
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>

