<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Article List" header-tag="h4" class="bg-primary-card">
                 <div class="card p-3">
                <div class="table-responsive">
                     <div class="text-left">
                        <div id="search-input-container">
                            <label>
                                <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                            </label>
                            <div class="actions float-right pr-4 mb-3">
                                <router-link :to="{ path: 'articles/create' }">
                                    <button type="button" class="btn btn-icon btn-primary m-r-50"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                                </router-link>
                                <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                            </div>
                        </div>
                    </div>
                    <my-vuetable class="vuetable" ref="datatable"
                        :api-url="dataTable.url"
                        :http-options="dataTable.httpOptions"
                        :data-path="dataTable.dataPath"
                        :multi-sort="dataTable.multiSort"
                        :pagination-path="dataTable.paginationPath"
                        :fields="dataTable.fields"
                        :per-page="dataTable.perPage"
                        :append-params="dataTable.params"
                        detail-row-component="">
                        <template slot="actions" slot-scope="props">
                            <button class="btn btn-icon btn-warning btn-round m-r-50" @click="onActionRow('show', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-search-plus"></i>
                            </button>
                            <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-pencil"></i>
                            </button>
                            <button class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-trash-o"></i>
                            </button>
                        </template>
                    </my-vuetable>
                </div>
                 </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import toastr from "@/vendors/toastr/toastr.min.js";
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'

import { Article } from "@/api"    
export default {
  //  name: "users_list",
    components: {
        MyVuetable
    },
    data() {
        return {
            formFilter: {
                q: ''
            },
            dataTable: {
                url: Article.pathUrl+'/companies/'+this.$route.params.company_id+'/articles',
            //    dataPath: 'body.data',
                perPage: 10,
                multiSort: true,
                paginationPath: "",
                httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
                },
                fields: [
                    {
                        name: 'id',
                        sortField: 'id',
                        title: 'No',
                        width: '5%'
                    },
                    {
                        name: 'title',
                        sortField: 'title',
                        title: 'Title',
                        width: '20%'
                    },
                    {
                        name: 'status_name',
                        sortField: 'status_name',
                        title: 'Status',
                    },
                    {
                        name: 'type_name',
                        sortField: 'type_name',
                        title: 'Type',
                    },
                    {
                        name: 'publish_date',
                        sortField: 'publish_date',
                        title: 'Publish Date',
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        titleClass: 'text-right',
                        dataClass: 'text-right'
                    },
                ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        doFilter () {
            this.$refs.datatable.setParams(this.formFilter)
        },
        onActionRow (state, item) {
            let id = item.id

            switch(state) {
                case 'edit':
                    this.$router.push({ name:'articles.edit', params: { id: id } }) 
                break
                case 'show':
                    
                break
                case 'delete': 
                    swal({
                        title: "Restore",
                        text: "Are you sure to delete selected data ?",
                        showCancelButton: true,
                        confirmButtonColor: '#66cc99',
                        cancelButtonColor: '#ff6666',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger'
                    })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            Article.deleteData(id, this.$route.params.company_id).then((response) => {

                                this.$refs.datatable.$refs.vuetable.refresh();
                                toastr.success('Success Deleted!')

                            }).catch((error) => {
                                let data = error.response.data
                                toastr.error('Failed')
                            })
                        }
                    });
                break;
            }


        }
    },
    mounted() {}
}
</script>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
    @media(max-width:320px){
       body #app .header .navbar-nav .messages-menu > .dropdown-menu{
        transform: translate3d(-80px, 55px, 0px) !important;
        }
    }
</style>
