<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="text-center mbl m-t-10">
                    <img :src="form.image_path" alt="img" class="rounded-circle img-bor"/>
                  </div>
                </div>
                <div class="profile_user">
                  <h3 class="user_name_max">{{ form.name }}</h3>
                  <p>{{ form.brochure_file }}</p>
                </div>
                <br/>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <b-tabs ref="tabs" class="profile-tabs">
                      <b-tab title="Detail Product" active>
                        <div id="tab-activity" class="tab-pane animated fadeInRight  active">
                          <div class="table-responsive">
                            <table class="table table-responsive ">
                              <tbody class="text-align">
                                <tr>
                                  <td> ID: </td>
                                  <td> {{ form.id }} </td>
                                </tr>
                                <tr>
                                  <td> NAME: </td>
                                  <td> {{ form.name }} </td>
                                </tr>
                                <tr>
                                  <td> TYPE: </td>
                                  <td> {{ form.product_type_id.name }} </td>
                                </tr>
                                <tr>
                                  <td> BASE PRICE: </td>
                                  <td> {{ form.base_price }} </td>
                                </tr>
                                <tr>
                                  <td> RETAIL PRICE: </td>
                                  <td> {{ form.base_price }} </td>
                                </tr>
                                <tr>
                                  <td> POINT VALUE: </td>
                                  <td> {{ form.point_value }} </td>
                                </tr>
                                <tr>
                                  <td> Note: </td>
                                  <td> {{ form.desc_short }} </td>
                                </tr>
                                <tr>
                                  <td> Description: </td>
                                  <td> <span v-html="form.desc"></span> </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </b-tab>
                    </b-tabs>
                    <!-- Tab panes -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { Product } from "@/api"

  export default {
    name: "detail_product",
    data() {
      return {
        form: {
          id: '',
          name: '',
          base_price: '',
          retail_price: '',
          bonus_value: '',
          point_value: '',
          product_type_id: '',
          company_id: '',
          image_path: '',
          brochure_file: '',
          tag_ids: [],
          desc_short: '',
          desc: ''
        }
      }
    },
    mounted: function() {
      let product_id = this.$route.params.id

      Product.showData(product_id).then(response => {
        let product = response.data
        let temp = {
          code: product.product_type.id,
          name: product.product_type.name
        }
        this.form.id = product_id
        this.form.name = product.name
        this.form.base_price = product.base_price
        this.form.bonus_value = product.bonus_value
        this.form.point_value = product.point_value
        this.form.retail_price = product.retail_price
       // this.formData.tags = product.tags
        this.form.product_type_id = temp
        this.form.desc = product.desc
        this.form.brochure_file = product.brochure_file
        this.form.image_path = product.image_path
        this.form.desc_short = product.desc_short
      })
    },
    destroyed: function() {

    }
  }
</script>
<style src="@/vendors/simple-line-icons/css/simple-line-icons.css"></style>
<style src="@/assets/css/custom_css/user_profile.css" scoped></style>
