<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Orders List" header-tag="h4" class="bg-primary-card">
                <div class="card p-3">
                    <div class="table-responsive">
                        <div class="text-left">
                            <div id="search-input-container">
                                <label>
                                    <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                                </label>
                                <div class="actions float-right pr-4 mb-3">
                                    <router-link :to="{ path: 'orders/create' }">
                                        <button type="button" class="btn btn-icon btn-primary m-r-50"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                                    </router-link>
                                    <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                                </div>
                            </div>
                        </div>
                        <my-vuetable class="vuetable" ref="datatable"
                        :api-url="dataTable.url"
                        :http-options="dataTable.httpOptions"
                        :data-path="dataTable.dataPath"
                        :multi-sort="dataTable.multiSort"
                        :pagination-path="dataTable.paginationPath"
                        :fields="dataTable.fields"
                        :per-page="dataTable.perPage"
                        :append-params="dataTable.params"
                        detail-row-component="">
                        <template slot="actions" slot-scope="props">
                            <button v-bind:style="{ display: props.rowData.status == 0 ? '' : 'none' }" class="btn btn-icon btn-warning btn-round m-r-50" @click="onActionRow('paid', props.rowData, props.rowIndex)">
                                COMPLETED
                            </button>
                            <button v-bind:style="{ display: props.rowData.status == 2 ? '' : 'none' }" class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('paid', props.rowData, props.rowIndex)">
                                CANCEL
                            </button>
                            <button class="btn btn-icon btn-info btn-round m-r-50" @click="onActionRow('show', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-search-plus"></i>
                            </button>
                            <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-pencil"></i>
                            </button>
                        </template>
                    </my-vuetable>
                </div>
            </div>
        </b-card>
    </div>
</div>
</template>
<script>
import Vue from 'vue';
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import toastr from "@/vendors/toastr/toastr.min.js";
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import accounting from 'accounting'
import { Orders } from "@/api"    
export default {
  //  name: "users_list",
  components: {
    MyVuetable
},
data() {
    return {
        display: 'none',
        form: {
            wallet_id: '',
            status: '',
            transactions: []
        },
        formFilter: {
            q: ''
        },
        dataTable: {
            url: Orders.pathUrl,
            //    dataPath: 'body.data',
            perPage: 10,
            multiSort: true,
            paginationPath: "",
            httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
            },
            fields: [
            {
                name: 'id',
                sortField: 'id',
                title: 'No',
                width: '5%'
            },
            {
                name: 'wallet.member.id',
                title: 'Member ID',
            },
            {
                name: 'wallet.member.name_printed',
                sortField: 'wallet_id',
                title: 'Member',
            },
            {
                name: 'wallet.type_name',
                sortField: 'wallet.type_name',
                title: 'Wallet',
            },
            {
                name: 'wallet.balance',
                sortField: 'wallet.balance',
                title: 'Balance',
                callback: this.formatNumber
            },
            {
                name: 'bill_no',
                sortField: 'bill_no',
                title: 'Nota',
            },
            {
                name: 'status_name',
                sortField: 'status_name',
                title: 'Status',
            },
            {
                name: 'created_at',
                sortField: 'created_at',
                title: 'Created At',
            },
            {
                name: '__slot:actions',
                title: 'Actions',
                titleClass: 'text-right',
                dataClass: 'text-right'
            },
            ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        formatNumber (value) {
            return accounting.formatNumber(value, 2)
        },
        doFilter () {
            console.log(this.formFilter)
            this.$refs.datatable.setParams(this.formFilter)
        },
        onActionRow (state, item) {
            let id = item.id

            switch(state) {
                case 'edit':
                this.$router.push({ name:'orders.edit', params: { id: id } }) 
                break
                case 'show':
                this.$router.push({ name:'orders.show', params: { id: id } }) 
                break
                case 'paid': 
                Orders.showData(id).then(response => {
                    let order = response.data
                    _.forEach(this.form, (item, index) => {
                        this.form[index] = order[index]
                    })
                })
                swal({
                    title: "Change Status Payment",
                    text: "Are you sure to change status ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        if (this.form.status == 0) {
                            this.form.status = 2
                        } else if (this.form.status == 2) {
                            this.form.status = 3
                        }
                        Orders.updateData( id, this.form ).then( response => {
                           toastr.success('Success Change Status Payment! ')
                           window.location.reload(true)

                       }).catch((error) => {
                        let errorObject=JSON.parse(JSON.stringify(error));
                        toastr.error( errorObject.response.data.error )
                    })
                   }
               });
                break
                case 'delete': 
                swal({
                    title: "Restore",
                    text: "Are you sure to delete selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        Orders.deleteData(id).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh();
                            toastr.success('Success Deleted!')

                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                });
                break;
            }


        }
    },
    mounted() {}
}
</script>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
@media(max-width:320px){
 body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
