<template>
	<div>
		<div class="card" id="section-to-print">
			<div class="card-header">
				<h3 class="card-title">
					<i class="fa fa-fw ti-credit-card"></i> Order Detail
				</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-12 col-lg-6 col-xl-6 invoice_bg">
						<h4><strong>Order Details:</strong></h4>
						<address>
							<label>Order ID : {{ orders.id }}</label>
							<label>Nota : {{ orders.bill_no }}</label>
							<br/> <label>Invoice No : {{ orders.invoice_no }}</label>
							<br/> <label>Invoice Date : {{ orders.invoice_date }}</label>
							<br/> <label>Status : {{ orders.status_name }}</label> 
						</address>
					</div>
				</div>
				<div class="col-md-12">
					<div class="table-responsive">
						<b-table striped hover :items="orders.transactions" :fields="fields">
							<template slot="amount" slot-scope="row">
								{{ formatNumber(row.item.amount) }}
							</template>
							<template slot="product" slot-scope="row">
								{{ row.item.product.name }}
							</template>
						</b-table>
					</div>
				</div>
				<div class="row" v-if="orders.transactions.length > 0">
					<div class="col-sm-6 col-md-7"></div>
					<div class="col-sm-6 col-md-4">
						<table class="table">
							<tr>
								<th>Total Points</th>
								<th>:</th>
								<th> {{ total_point }} </th>
							</tr>
							<tr>
								<th>Grand Total</th>
								<th>:</th>
								<th>{{ formatNumber(total_amount) }}</th>
							</tr>
						</table>
					</div>
				</div>
				<div class="btn-section">
					<div class="col-md-12 col-sm-12 col-12">
						<span class="float-right">
							<button type="button" class="btn btn-responsive button-alignment btn-primary mb-3" data-toggle="button">
								<span style="color:#fff;" onclick="javascript:window.print();">
									<i class="fa fa-fw ti-printer"></i>
									Print
								</span>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { Orders} from "@/api"
import accounting from 'accounting'

export default {
	data() {
		return {
			orders: [],
			fields: [
			'code',
			'product',
			'qty',
			'amount',
			'bonus',
			'points',
			'point_date',
			'process_date'
			]
		}	
	},
	computed: {
		total_qty () {
			return this.orders.transactions.reduce( (qty, value) => {
				return qty + parseInt(value.qty)
			}, 0)
		},
		total_amount () {
			return this.orders.transactions.reduce( (amount, value) => {
				return amount + parseFloat(value.amount)
			}, 0)
		},
		total_point () {
			return this.orders.transactions.reduce( (point, value) => {
				return point + parseInt(value.points)
			}, 0)
		}
	},
	methods: {
		formatNumber (value) {
			return accounting.formatNumber(value, 2)
		},
		getOrder () {
			let order_id = this.$route.params.id
			Orders.showData(order_id).then(response => {
				let order = response.data

				this.orders = order
			})
		}
	},
	mounted() {
		this.getOrder()
	}
}
</script>
<style src="@/vendors/simple-line-icons/css/simple-line-icons.css"></style>
<style src="@/assets/css/custom_css/user_profile.css" scoped></style>
<style type="text/css">
@media print {
	body * {
		visibility: hidden;
	}
	#section-to-print, #section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
	}
	.btn-section {
		display: none;
	}
}
</style>
