<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="text-center mbl m-t-10">
                    <img src="../../assets/img/authors/avatar1.jpg" alt="img" class="rounded-circle img-bor"/>
                  </div>
                </div>
                <div class="profile_user">
                  <h3 class="user_name_max">Addison</h3>
                  <p>Addisone@sf.com</p>
                  <span class="fa-stack faceb fa-lg">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-stack-1x fa-facebook fa-inverse"></i>
                 </span>
                 <span class="fa-stack googleplus fa-lg">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-flag fa-stack-1x fa-google-plus fa-inverse"></i>
                 </span>
                 <span class="fa-stack tweet-btn fa-lg">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-flag fa-stack-1x fa-twitter fa-inverse"></i>
                 </span>
               </div>
               &nbsp;&nbsp;
               <div class="profile_user">
                <button type="button" class="btn btn-success ">Follow</button>
                <button type="button" class="btn btn-primary ">Message</button>
              </div>
              <br/>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <b-tabs ref="tabs" class="profile-tabs">
                    <b-tab title="Activities" active>
                      <div id="tab-activity" class="tab-pane animated fadeInRight  active">
                        <div class="table-responsive">
                          <table class="table table-responsive ">
                            <tbody class="text-align">
                              <tr>
                                <td class="text-center">
                                  <i class="icon-bubble icons"></i>
                                </td>
                                <td>
                                  Jasmine Barlee posted a comment in Avengers Initiative
                                  project.
                                </td>
                                <td>
                                  2016/08/15 10:50
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-rocket icons"></i>
                                </td>
                                <td>
                                  Beau Pomeroy changed order status from <span
                                  class="label label-primary">Pending</span> to <span
                                  class="label label-success">Completed</span>
                                </td>
                                <td>
                                  2015/07/19 07:16
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-emotsmile icons"></i>
                                </td>
                                <td>
                                  Flynn Toosey posted a comment in Lost in Translation
                                  opening scene discussion.
                                </td>
                                <td>
                                  2014/09/16 10:10
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-people icons"></i>
                                </td>
                                <td>
                                  Alex Smithers posted a comment in Avengers Initiative
                                  project.
                                </td>
                                <td>
                                  2015/11/20 05:15
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-heart icons"></i>
                                </td>
                                <td>
                                  Ben Drennan changed order status from <span
                                  class="label label-warning">On Hold</span> to <span
                                  class="label label-danger">Disabled</span>
                                </td>
                                <td>
                                  2015/03/13 06:16
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-key icons"></i>
                                </td>
                                <td>
                                  Darcy Whitford posted a comment in Lost in Translation
                                  opening scene discussion.
                                </td>
                                <td>
                                  2015/11/10 08:15
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-hourglass icons"></i>
                                </td>
                                <td>
                                  Jordan Quinlivan changed order status from <span
                                  class="label label-primary">Pending</span> to <span
                                  class="label label-success">Completed</span>
                                </td>
                                <td>
                                  2014/05/02 10:08
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-info icons"></i>
                                </td>
                                <td>
                                  Mary Dobbie posted a comment in Avengers Initiative
                                  project.
                                </td>
                                <td>
                                  2015/09/15 11:08
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <i class="icon-present icons"></i>
                                </td>
                                <td>
                                  Lauren Monahan posted a comment in Avengers Initiative
                                  project.
                                </td>
                                <td>
                                  2015/08/08 12:08
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </b-tab>
                  </b-tabs>
                  <!-- Tab panes -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
// import animate_css from "animate.css/animate.min.css"
export default {
  name: "user_profile",
  mounted: function() {

  },
  destroyed: function() {

  }
}
</script>
<style src="@/vendors/simple-line-icons/css/simple-line-icons.css"></style>
<style src="@/assets/css/custom_css/user_profile.css" scoped></style>
