<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <b-tabs ref="tabs" class="profile-tabs">
                                            <b-tab title="Member Detail" active>
                                                <div id="tab-activity" class="tab-pane  active">
                                                    <PreviewMember></PreviewMember>
                                                </div>
                                            </b-tab>
                                            <b-tab title="Wallets">
                                                <div id="tab-activity" class="tab-pane ">
                                                    <wallet></wallet>
                                                </div>
                                            </b-tab>
                                            <b-tab title="Attachments">
                                                <div id="tab-activity" class="tab-pane ">
                                                    <attachment></attachment>
                                                   
                                                </div>
                                            </b-tab>
                                            <b-tab title="Pairing Counters">
                                                <div id="tab-activity" class="tab-pane ">
                                                     <pairing_counter></pairing_counter>
                                                </div>
                                            </b-tab>
                                            <b-tab title="Stocks">
                                                <div id="tab-activity" class="tab-pane ">
                                                    <stock></stock>
                                                </div>
                                            </b-tab>
                                            <b-tab title="Transaction Point">
                                                <div id="tab-activity" class="tab-pane ">
                                                    <points></points>
                                                </div>
                                            </b-tab>
                                        </b-tabs>
                                        <!-- Tab panes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import PreviewMember from "./parts/preview_member.vue"
import wallet from "./wallets/index.vue"
import pairing_counter from "./pairing_counter/index.vue"
import attachment from "./attachments/index.vue"
import stock from "./stocks/index.vue"
import points from "./transaction_points/index.vue"
export default {
    components: {
        PreviewMember,
        wallet,
        pairing_counter,
        attachment,
        stock,
        points
    },
    mounted () {
        this.$route.meta.title = "Member Show #" + this.$route.params.id

        // add a temporary variable
        this.$router.replace({query: {temp: Date.now()}})
        // remove the temporary variable query
        this.$router.replace({query: {temp: undefined}})
    },
    name: "user_profile",
}
</script>
<style src="@/vendors/simple-line-icons/css/simple-line-icons.css"></style>
<style src="@/assets/css/custom_css/user_profile.css" scoped></style>
