<template>
    <div class="container-fluid login">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-10 col-sm-8 mx-auto login-form">

                    <h2 class="text-center logo_h2">
                        <img src="../../assets/img/pages/logo-gvi.png" alt="Logo">
                    </h2>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <b-alert variant="danger"
                                        dismissible
                                        :show="showDismissibleAlert"
                                        @dismissed="showDismissibleAlert=false">
                                These credentials do not match our records.
                                </b-alert>
                                <vue-form :state="formstate" @submit.prevent="onSubmit">
                                    <div class="row">
                                        <div class="col-sm-12 mt-3 ">
                                            <div class="form-group">
                                                <validate tag="div">
                                                    <input v-model="model.username" name="username" id="username" type="text" required autofocus placeholder="Username" class="form-control" />
                                                    <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                                        <div slot="required">Username is a required field</div>
                                                        <div slot="Username">Username is not valid</div>
                                                    </field-messages>
                                                </validate>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <validate tag="div">
                                                    <input v-model="model.password" name="password" id="password" type="password" required placeholder="Password" class="form-control" minlength="6" maxlength="10" />
                                                    <field-messages name="password" show="$invalid && $submitted" class="text-danger">
                                                        <div slot="required">Password is required</div>
                                                        <div slot="minlength">Password should be atleast 6 characters long</div>
                                                        <div slot="maxlength">Password should be atmost 10 characters long</div>
                                                    </field-messages>
                                                </validate>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group checkbox">
                                                <label for="remember">
                                                    <input type="checkbox" name="remember" id="remember">&nbsp; Remember Me
                                                </label>
                                            </div>
                                        </div>
                                        <input type="submit" value="Sign In" class="btn btn-primary btn-block mb-3"/>
                                        <div class="col-sm-6">
                                            <router-link to="/forgot_password" class="float-left" exact >Forgot Password ? </router-link>
                                        </div>
                                    </div>
                                </vue-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from "vue"
import VueForm from "vue-form";
import options from "../../validations/validations.js";
import {Auth} from '@/api'

Vue.use(VueForm, options);

export default {
    name: "login",
    data() {
        return {
            formstate: {},
            model: {
                username: "",
                password: ""

            },
            showDismissibleAlert: false
        }
    },
    methods: {
        onSubmit() {
            if (this.formstate.$invalid) {
                return;
            } else {
                Auth.login(this.model).then((response) => {
                    // console.log(response)
                    this.handleLogin( response.data )
                    // window.axios.defaults.headers.common['X-CSRF-TOKEN'] = response.data.csrfToken;
                    this.$router.push("/admin/index1");
				}).catch((error) => {
                    this.showDismissibleAlert = true
				})
                // 
            }
        },

        handleLogin(data) {
            
            this.$store.dispatch('setUser', data)
            // this.$store.dispatch('setAuthority', authority)
            this.$store.dispatch('setLoggedIn', true)
            localStorage.setItem('user', JSON.stringify(data));
        }
    },
    mounted: function() {
    },
    destroyed: function() {

    }
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/assets/css/login.css" scoped></style>
<style type="text/css" scoped>
.login {
    padding-top: 6.5%;
    padding-bottom: 2%;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #5A93AF 0%, #004E74 100%);
    overflow-y: auto;
}
</style>
