<template>
    <div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-fw ti-star"></i> Reports Download 
                        </h3>
                        <span class="float-right">
                            <i class="fa fa-fw ti-angle-up clickable"></i>
                        </span>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="validateForm('form-1')" class="columns column is-multiline is-12" data-vv-scope="form-1">
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <label for="input-text" class="control-label float-right txt_media1">Type</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" v-model="form.type">
                                        <option value=""> Select Type </option>
                                        <option value="bonus"> Bonus </option>
                                        <option value="transactions"> Transactions </option>
                                    </select>
                                </div>
                            </div>
                            <template v-if="form.type == 'transactions'">
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <label for="input-text" class="control-label float-right txt_media1">Start Date</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <flat-pickr v-model="form.start_date" name="start_date" :config="config" class="form-control"></flat-pickr>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <label for="input-text" class="control-label float-right txt_media1">End Date</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <flat-pickr v-model="form.end_date" name="end_date" :config="config" class="form-control"></flat-pickr>
                                    </div>
                                </div>
                            </template>
                            <template v-if="form.type == 'bonus'">
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <label for="input-text" class="control-label float-right txt_media1">Process Date</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <flat-pickr v-model="form.process_date" name="process_date" :config="config" class="form-control"></flat-pickr>
                                    </div>
                                </div>
                            </template>
                            <div class="column is-12" v-if="form.type == 'transactions'">
                                <div class="control text-center">
                                    <a target="_blank" :href="'http://dev.greenvit.co.id/reports/transactions?start_date='+ form.start_date +'&end_date='+ form.end_date"><button class="button btn btn-primary" type="button" name="button">Download</button></a>
                                </div>
                            </div>
                            <div class="column is-12" v-if="form.type == 'bonus'">
                                <div class="control text-center">
                                    <a target="_blank" :href="'http://dev.greenvit.co.id/reports/transactions?process_date='+ form.process_date"><button class="button btn btn-primary" type="button" name="button">Download</button></a>
                                </div>
                            </div>
                            <div class="column is-12" v-if="form.type == ''">
                                <div class="control text-center">
                                    <a href="#"><button class="button btn btn-primary" type="button" name="button">Download</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
export default {
    components: {
        flatPickr
    },
    data() {
        return {
            format: 'yyyy-MM-dd',
            config: {
                enableTime: false,
                dateFormat: 'Y-m-d',
            },
            form: {
                type: '',
                start_date: '',
                end_date: '',
                process_date: ''
            }
        }
    },
    methods: {
        download () {
            let api = ''
        }
    }
}
</script>
