<template>
    <div class="row">
        <preloader v-show="loader"></preloader>

        <div class="col-lg-12">
            <b-card header="Filters" header-tag="h4" class="bg-primary-card">
                <div class="row">
                    <div class="col-sm-6">
                        <label> Type </label>
                        <div class="form-group">
                            <select class="form-control" v-model="type" @change="changeType">
                                <option value="">- Choose Type -</option>
                                <option value="id"> Member ID </option>
                                <option value="name"> Name </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label> Member </label>
                        <div class="form-group" v-if="type == 'id'">
                            <input type="text" name="" class="form-control" v-model="formFilter.id" placeholder="Input Member ID / Name">
                        </div>
                        <div class="form-group" v-else>
                            <input type="text" name="" class="form-control" v-model="formFilter.name" placeholder="Input Member ID / Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label> Cycle </label>
                        <div class="form-group">
                            <select class="form-control" v-model="formFilter.cycle">
                                <option value="">- Choose Cycle -</option>
                                <option value="MONTHLY"> MONTHLY</option>
                                <option value="WEEKLY"> WEEKLY</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="button"> Search </button>
                        </div>
                    </div>
                </div>
            </b-card>
        </div>
        <div class="col-lg-12">
            <b-card header="Bonus Logs" header-tag="h4" class="bg-primary-card">
                <button class="btn btn-primary pull-right" type="button" @click="showModal"> Calculate Bonus </button> <br><br>
                <b-tabs ref="tabs" class="profile-tabs">
                    <b-tab title="Monthly" active>
                        <div id="tab-activity" class="tab-pane  active">
                            <Monthly></Monthly>
                        </div>
                    </b-tab>
                    <b-tab title="Weekly">
                        <div id="tab-activity" class="tab-pane ">
                            <Weekly></Weekly>
                        </div>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
        <b-modal ref="myModalRef" hide-footer title="Calculate Bonus">
            <div class="d-block ">
                <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">
                    <div class="form-group">
                        <label> Weekly Date Start </label>
                        <input type="date" class="form-control" v-model="calculate.weekly_date_start">
                    </div>
                    <div class="form-group">
                        <label> Weekly Date End </label>
                        <input type="date" class="form-control" v-model="calculate.weekly_date_end">
                    </div>
                    <div class="form-group">

                        <input type="checkbox" v-model="all_bonus"><span> Calculate All Bonus </span>
                    </div>
                    <button class="btn btn-primary" type="submit"> Calculate Bonus </button>
                </form>
            </div>
        </b-modal>
    </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js"
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import Multiselect from 'vue-multiselect'
import accounting from 'accounting'
import DetailRow from './show.vue'
import { BonusLog } from "@/api" 
import preloader from "@/components/layout/preloader";
import Monthly from './monthly.vue'
import Weekly from './weekly.vue'

Vue.component('my-detail-row', DetailRow)   
export default {
  //  name: "users_list",
  components: {
    MyVuetable,
    flatPickr,
    Multiselect,
    preloader,
    Monthly,
    Weekly
},
data() {
    return {
        loader: false,
        formFilter: {
            id: '',
            name: '',
            cycle: '',
        },
        type: '',
        config: {
            enableTime: false,
            dateFormat: 'Y-m-d',
        },
        formData: {
            id: '',
            name: '',
            cutoff_day: '',
            next_cutoff_date: '',
        },
        all_bonus: false,
        calculate: {
            date_start: '',
            date_end: '',
            process_date: '',
            weekly_date_start: '',
            weekly_date_end: '',
            weekly_process_date: ''
        },
        value: null,
    }
},
methods: {
    changeType () {
        if (this.type == 'id') {
            this.formFilter.name = ''
        } else {
            this.formFilter.id = ''
        }
    },
    doFilter () {
        console.log(this.type)
        this.$refs.datatable.setParams(this.formFilter)
    },
    validateForm(scope) {
        this.loader = true
        let params = ''
        if (!this.all_bonus) {
            params = this.calculate 
        }
        BonusLog.postData(params).then(response => {
            this.loader = false
            this.$refs.myModalRef.hide();
            toastr.success('Calculated Bonus Successfully ' ) 
        })
        .catch(function (error) {
            this.$refs.myModalRef.hide();
        });
    },
    showModal() {
        this.$refs.myModalRef.show();
    },
},
mounted() {

}
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style src="@/assets/css/custom_css/user_profile.css" scoped></style>
<style>
@media(max-width:320px){
   body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
