<template>
    <div class="row">
        <!-- <div class="col-lg-12"> -->
            <preloader v-show="loader"></preloader>
            <div class="col-lg-12">
                    <div class="card p-3">
                        <div class="table-responsive">
                             <div class="text-left">
                                <div id="search-input-container">
                                    <label>
                                        <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.member_id">
                                    </label>
                                </div>
                            </div>
                            <my-vuetable class="vuetable" ref="datatable"
                                :api-url="dataTable.url"
                                :http-options="dataTable.httpOptions"
                                :data-path="dataTable.dataPath"
                                :multi-sort="dataTable.multiSort"
                                :pagination-path="dataTable.paginationPath"
                                :fields="dataTable.fields"
                                :per-page="dataTable.perPage"
                                :append-params="dataTable.params"
                                detail-row-component="my-detail-row"
                                @vuetable:cell-clicked="onCellClicked">
                            </my-vuetable>
                        </div>
                    </div>
            </div>
        <!-- </div> -->
    </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js"
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import Multiselect from 'vue-multiselect'
import accounting from 'accounting'
import DetailRow from './show.vue'
import { BonusLog } from "@/api" 
import preloader from "@/components/layout/preloader";
Vue.component('my-detail-row', DetailRow)   
export default {
  //  name: "users_list",
    components: {
        MyVuetable,
        flatPickr,
        Multiselect,
        preloader
    },
    data() {
        return {
            loader: false,
            formFilter: {
                member_id: ''
            },
            value: null,
            dataTable: {
                url: BonusLog.pathUrl + '?cycle=MONTHLY',
            //    dataPath: 'body.data',
                perPage: 10,
                multiSort: true,
                paginationPath: "",
                httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
                },
                fields: [
                    // {
                    //     name: 'id',
                    //     sortField: 'id',
                    //     title: 'No',
                    //     width: '5%'
                    // },
                    {
                        name: 'member_id',
                        sortField: 'member_id',
                        title: 'Member ID'
                       
                    },
                    {
                        name: 'process_date',
                        sortField: 'process_date',
                        title: 'Process Date',
                    },
                    // {
                    //     name: 'close_point',
                    //     sortField: 'close_point',
                    //     title: 'Close Point',
                    // },
                    {
                        name: 'pass_up',
                        sortField: 'pass_up',
                        title: 'Pass Up',
                    },
                    {
                        name: 'details.discount_bonus_group',
                        sortField: 'details.discount_bonus_group',
                        title: 'Dicount Group',
                        callback: this.formatNumber
                    },
                    {
                        name: 'details.discount_bonus_personal',
                        sortField: 'details.discount_bonus_personal',
                        title: 'Dicount Personal',
                        callback: this.formatNumber
                    },
                    {
                        name: 'total',
                        sortField: 'total',
                        title: 'Total',
                        callback: this.formatNumber
                    },
                    // {
                    //     name: '__slot:actions',
                    //     title: 'Actions',
                    //     titleClass: 'text-right',
                    //     dataClass: 'text-right'
                    // },
                ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {}
            },
        }
    },
    methods: {
        doFilter () {
            this.$refs.datatable.setParams(this.formFilter)
        },
        formatNumber (value) {
            return accounting.formatNumber(value, 2)
        },
        onActionRow( state, item ) {
            let id = item.id

            switch(state) {
                case 'edit':
                this.$router.push({ name:'bonus.show', params: { id: id } }) 
                break
            }
        },
        doFilter () {
            this.$refs.datatable.setParams(this.formFilter)
        },
        onCellClicked (data, field, event) {
              this.$refs.datatable.$refs.vuetable.toggleDetailRow(data.id)
        },
        validateForm(scope) {
            this.loader = true
            let params = ''
            if (!this.all_bonus) {
                params = this.calculate 
            }
            BonusLog.postData(params).then(response => {
                this.loader = false
                toastr.success('Calculated Bonus Successfully ' )
            });
        }
    },
    mounted() {
     
    }
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
    @media(max-width:320px){
       body #app .header .navbar-nav .messages-menu > .dropdown-menu{
        transform: translate3d(-80px, 55px, 0px) !important;
        }
    }
</style>
