<template>
    <div @click="onClick">
      <div class="inline field">
      <label>Achievement Share Bonus: </label>
      <span>{{ formatNumber(rowData.details.achievement_share_bonus) }}</span>
    </div>
    <div class="inline field">
      <label>Discount Bonus: </label>
      <span>{{formatNumber(rowData.details.discount_bonus)}}</span>
    </div>
    <div class="inline field">
      <label>First Sales Bonus: </label>
      <span>{{formatNumber(rowData.details.first_sales_bonus)}}</span>
    </div>
    <div class="inline field">
      <label>Leadership Development Bonus: </label>
      <span>{{formatNumber(rowData.details.leadership_development_bonus)}}</span>
    </div>
    <div class="inline field">
      <label>Leadership Matching Bonus: </label>
      <span>{{formatNumber(rowData.details.leadership_matching_bonus)}}</span>
    </div>
    </div>
  </template>

  <script>
  import accounting from 'accounting'
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      onClick (event) {
        console.log('my-detail-row: on-click', event.target)
      },
      formatNumber (value) {
            return accounting.formatNumber(value, 2)
        },
    },
  }
  </script>