<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Stocks List" header-tag="h4" class="bg-primary-card">
                <div class="table-responsive">
                     <div class="text-left">
                        <div id="search-input-container">
                            <label>
                                <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                            </label>
                            <div class="actions float-right pr-4 mb-3">
                                <button type="button" class="btn btn-icon btn-primary m-r-50" @click="showModal"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                                <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                            </div>
                        </div>
                    </div>
                    <!-- Modal Component -->
                    <b-modal ref="myModalRef" hide-footer title="Create Stocks">
                        <div class="d-block ">
                            <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <multiselect v-model="formData.product_id" id="product_type_id" :options="formOpt.productOpt" :value="value" track-by="name" label="name" placeholder="Select Product"></multiselect>
                                                <i v-show="errors.has('form-2.product_id')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.product_id')" class="help is-danger text-danger">{{ errors.first('form-2.product_id') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <input v-model="formData.qty" name="qty" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.qty') }" type="text" placeholder="qty">
                                                <i v-show="errors.has('form-2.qty')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.qty')" class="help is-danger text-danger">{{ errors.first('form-2.qty') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p class="control has-icon has-icon-right">
                                                <flat-pickr v-model="formData.exp_date" :config="config" class="form-control" :readonly=false placeholder="Expired Date"></flat-pickr>
                                                <i v-show="errors.has('form-2.exp_date')" class="fa fa-warning text-danger"></i>
                                                <span v-show="errors.has('form-2.exp_date')" class="help is-danger text-danger">{{ errors.first('form-2.exp_date') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row marginTop">
                                    <div class="col-12 col-md-12">
                                        <input type="submit" id="btncheck" value="Save"
                                                class="btn btn-primary btn-block btn-md btn-responsive"
                                                tabindex="7">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </b-modal>
                    <my-vuetable class="vuetable" ref="datatable"
                        :api-url="dataTable.url"
                        :http-options="dataTable.httpOptions"
                        :data-path="dataTable.dataPath"
                        :multi-sort="dataTable.multiSort"
                        :pagination-path="dataTable.paginationPath"
                        :fields="dataTable.fields"
                        :per-page="dataTable.perPage"
                        :append-params="dataTable.params"
                        detail-row-component="">
                        <template slot="actions" slot-scope="props">
                            <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-pencil"></i>
                            </button>
                            <button class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-trash-o"></i>
                            </button>
                        </template>
                    </my-vuetable>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {fieldsBagName: 'formFields'});
import VueForm from "vue-form";
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js';
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js";
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import Multiselect from 'vue-multiselect';
import { Stocks, Product } from "@/api"    
export default {
  //  name: "users_list",
    components: {
        MyVuetable,
        flatPickr,
        Multiselect
    },
    data() {
        return {
            formFilter: {
                q: ''
            },
            config: {
                enableTime: false,
                dateFormat: 'Y-m-d',
            },
            member_id: this.$route.params.id,
            formData: {
                id: '',
                product_id: '',
                qty: '',
                exp_date: '',
            },
            formOpt: {
                product: [],
                productOpt: []
            },
            value: null,
            product_name: '',
            dataTable: {
                url: Stocks.pathUrl+'/members/'+this.$route.params.id+'/stocks',
            //    dataPath: 'body.data',
                perPage: 10,
                multiSort: true,
                paginationPath: "",
                httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
                },
                fields: [
                    {
                        name: 'id',
                        sortField: 'id',
                        title: 'No',
                        width: '5%'
                    },
                    {
                        name: 'product.name',
                        sortField: 'product.name',
                        title: 'Product'
                       
                    },
                    {
                        name: 'qty',
                        sortField: 'qty',
                        title: 'Quantity',
                    },
                    {
                        name: 'exp_date',
                        sortField: 'exp_date',
                        title: 'Expired Date',
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        titleClass: 'text-right',
                        dataClass: 'text-right'
                    },
                ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {
                    member_id: this.member_id
                }
            },
        }
    },
    methods: {
        showForm(state, data) {

            this.clearForm()

            let title = 'Insert Stocks'
            if(state == 'edit') {
                title = 'Update Stocks'
                this.setForm(data)
            }
        },
        setForm(data) {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = data[index]
            })
             Product.showData( data.product_id ).then( response => {
                    let data = response.data
                    let obj = {
                        name: data.name,
                        code: data.id
                    }

                    this.formData.product_id = obj
                })

            this.getProducts()
            this.showModal()
        },
        clearForm() {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = ''
            })
            this.$validator.reset();
        },
        getProducts() {
            // let optional = '?limit=100';
            Product.getData().then( response => {
                let data = response.data.data

                this.formOpt.product = data
            })
        },
        validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    this.$refs.myModalRef.hide();        
                    let id = this.formData.id
                    this.formData.product_id = this.formData.product_id.code;
                    if (! id) {
                        Stocks.postData( this.member_id, this.formData ).then( response => {
                            toastr.success('Stocks successfully created!')
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            toastr.error('Failed')
                        })
                    } else {
                        Stocks.updateData( id, this.member_id , this.formData ).then( response => {
                            // this.$refs.myModalRef.hide();
                            toastr.success('Stocks successfully updated!')
                            this.$refs.datatable.$refs.vuetable.refresh();
                        }).catch((error) => {
                            toastr.error('Failed')
                        })
                    }
                }
            });
        },
        showModal() {
            this.$refs.myModalRef.show();
        },
        onActionRow( state, item ) {
            let id = item.id;

            switch(state) {
                case 'edit':
                this.showForm('edit', item)
                break;
                case 'delete':
                swal({
                        title: "Restore",
                        text: "Are you sure to delete selected data ?",
                        showCancelButton: true,
                        confirmButtonColor: '#66cc99',
                        cancelButtonColor: '#ff6666',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger'
                    })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            Stocks.deleteData(id, this.member_id).then((response) => {

                                this.$refs.datatable.$refs.vuetable.refresh();
                                toastr.success('Success Deleted!')

                            }).catch((error) => {
                                let data = error.response.data
                                toastr.error('Failed')
                            })
                        }
                    });
                break;
            }
        },
        doFilter () {
            console.log(this.formFilter)
            this.$refs.datatable.setParams(this.formFilter)
        }
    },
    mounted() {
        this.getProducts()
    },
    watch: {
        'formOpt.product': function () {
            _.forEach(this.formOpt.product, (item, index) => {
            // console.log(item.name)
                let data = {
                    name: item.name,
                    code: item.id
                }
                this.formOpt.productOpt.push(data)
            })
        }
    }
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="../../../assets/css/custom_css/toastr_notificatons.css"></style>
<style>
    @media(max-width:320px){
       body #app .header .navbar-nav .messages-menu > .dropdown-menu{
        transform: translate3d(-80px, 55px, 0px) !important;
        }
    }
</style>
