<template>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <form @submit.prevent="validateForm('form-2')"  data-vv-scope="form-2">        
        <!-- Data User -->
        <div class="card ">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fa fa-fw ti-star"></i> Orders 
            </h3>
            <span class="float-right">
              <i class="fa fa-fw ti-angle-up clickable"></i>
            </span>
          </div>
          <div class="card-body">
            <div class="row">        
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-3 float-md-right txt_media">
                    <label class="form-control-label" for="name">Member:
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="col-sm-9">
                    <multiselect v-model="form.member_id" @input="getWallet" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.member_id') }" id="member_id" :options="formData.memberOpt" track-by="name"  label="name" placeholder="Select Member" @search-change="asyncFind"></multiselect>

                    <i v-show="errors.has('form-2.member_id')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-2.member_id')" class="help is-danger text-danger">{{ errors.first('form-2.member_id') }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3 float-md-right txt_media">
                    <label class="form-control-label" for="name">Wallet:
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="col-sm-9">
                    <multiselect v-model="form.wallet_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.wallet_id') }" id="member_id" :options="formData.walletOpt" track-by="name" label="name" placeholder="Select Wallet"></multiselect>

                    <i v-show="errors.has('form-2.wallet_id')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-2.wallet_id')" class="help is-danger text-danger">{{ errors.first('form-2.wallet_id') }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3 float-md-right txt_media">
                    <label class="form-control-label" for="invoice_no">Nota: </label>  <span class="text-danger">*</span>
                  </div>
                  <div class="col-sm-9">
                    <input v-model="form.bill_no" name="nota" type="text" class="form-control" id="nota" placeholder="Nota"  v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.nota') }">
                    <i v-show="errors.has('form-2.nota')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-2.nota')" class="help is-danger text-danger">{{ errors.first('form-2.nota') }}</span>
                  </div>
                </div>
                <div class="form-group row" v-bind:style="{ display: form.id === '' ? '' : 'none' }">
                  <div class="col-sm-3 float-md-right txt_media">
                    <label class="form-control-label" for="invoice_no">Status: </label>  <span class="text-danger">*</span>
                  </div>
                  <div class="col-sm-9">
                    <multiselect v-model="form.status" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.status') }" id="status" :options="formData.statusOpt" track-by="name" label="name" placeholder="Select Status"></multiselect>

                    <i v-show="errors.has('form-2.status')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-2.status')" class="help is-danger text-danger">{{ errors.first('form-2.status') }}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-3 float-md-right txt_media">
                    <label class="form-control-label" for="name">Warehouse: </label>
                  </div>
                  <div class="col-sm-9">
                    <multiselect v-model="form.warehouse_id" :options="formData.warehouseOpt" track-by="name" label="name" placeholder="Transfer to warehouse.."></multiselect>
                  </div>
                </div>

                <b><i><p style="color: red">Note: Field Warehouse untuk melakukan transfer ke warehouse lain</p></i></b>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn btn-icon btn-primary m-r-50 float-right" @click="showModal"> <span> Add Transaction </span> </button>
                <div class="clearfix"></div><br>
                <div class="table-responsive">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <!-- <th>Code</th> -->
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Amount</th>
                        <th>Points</th>
                        <th>Proccess Date</th>
                        <th>Point Date</th>
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-if="form.transactions.length > 0">
                        <tr v-for="(item, index) in form.transactions" v-bind:key="index"> 
                          <td> {{ item.product.name }} </td>
                          <td> {{ item.qty }} </td>
                          <td> {{ formatNumber(item.amount) }} </td>
                          <td> {{ item.points }} </td>
                          <td> {{ item.process_date }} </td>
                          <td> {{ item.point_date }} </td>
                          <td>
                            <button type="button" class="btn btn-icon btn-primary btn-round m-r-50" @click="editTemp( index, 'edit' )">
                              <i class="icon fa fa-fw fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-icon btn-danger btn-round m-r-50" @click="removeTemp( index )">
                              <i class="icon fa fa-fw fa-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </template>
                      <template v-else>
                        <tr>
                          <td colspan="8"> <i> Transaction is Empty </i> </td>
                        </tr>
                      </template>
                    </tbody>
                    <tfoot v-if="form.transactions.length > 0">
                      <tr>
                        <th>Total</th>
                        <th>{{ total_qty }}</th>
                        <th>{{ formatNumber(total_amount) }}</th>
                        <th>{{ total_point }}</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-7"></div>
              <div class="col-md-4">
                <table class="table">
                  <tr>
                    <th>Total Points</th>
                    <th>:</th>
                    <th> {{ total_point }} </th>
                  </tr>
                  <tr>
                    <th>Grand Total</th>
                    <th>:</th>
                    <th>{{ formatNumber(total_amount) }}</th>
                  </tr>
                </table>
              </div>
            </div>

            <div class="col-sm-12">
              <center>
                <button class="btn btn-primary col-sm-1" type="submit"> Save </button> 
                <router-link :to="{name: 'orders.index'}"><button class="btn btn-warning col-sm-1" type="submit"> Cancel </button> </router-link>
              </center>
            </div>
          </div>
        </div>
        <!-- End User -->

      </form>
      <b-modal size="lg" ref="myModalRef" hide-footer title="Add Transaction">
        <div class="d-block ">
          <form id="form-validation3" @submit.prevent="validateTransaction('form-transaction')" class="columns column is-multiline is-12" data-vv-scope="form-transaction" >
            <div class="row">
              <div class="col-sm-6">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Product: </label>
                    <p class="control has-icon has-icon-right">
                     <multiselect v-model="formData.transaction.product_id" @input="get_product_id" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('form-2.product_id') }" id="product_id" :options="formData.productOpt" track-by="name" label="name" placeholder="Select Product" @search-change="asyncFindProduct"></multiselect>
                     <i v-show="errors.has('form-transaction.product_id')" class="fa fa-warning text-danger"></i>
                     <span v-show="errors.has('form-transaction.product_id')" class="help is-danger text-danger">{{ errors.first('form-transaction.product_id') }}</span>
                   </p>
                 </div>
               </div>
               <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Qty: </label>
                  <p class="control has-icon has-icon-right">
                    <input v-model="formData.transaction.qty" name="qty" @keyup="get_point" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-transaction.qty') }" type="number" placeholder="qty">
                    <i v-show="errors.has('form-transaction.qty')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-transaction.qty')" class="help is-danger text-danger">{{ errors.first('form-transaction.qty') }}</span>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Amount: </label>
                  <p class="control has-icon has-icon-right">
                    <input disabled v-model="formData.transaction.amount" name="amount" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-transaction.amount') }" type="number" placeholder="amount">
                    <i v-show="errors.has('form-transaction.amount')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-transaction.amount')" class="help is-danger text-danger">{{ errors.first('form-transaction.amount') }}</span>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Point: </label>
                  <p class="control has-icon has-icon-right">
                    <input disabled v-model="formData.transaction.points" name="points" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-transaction.points') }" type="number" placeholder="points">
                    <i v-show="errors.has('form-transaction.points')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-transaction.points')" class="help is-danger text-danger">{{ errors.first('form-transaction.points') }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Process Date: </label>
                  <p class="control has-icon has-icon-right">
                    <datepicker v-model="formData.transaction.process_date" :format="customFormatter" :bootstrap-styling="true" name="process_date" placeholder="Process Date"></datepicker>
                    <i v-show="errors.has('form-transaction.process_date')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-transaction.process_date')" class="help is-danger text-danger">{{ errors.first('form-transaction.process_date') }}</span>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Point Date: </label>
                  <p class="control has-icon has-icon-right">
                    <datepicker v-model="formData.transaction.point_date" :format="customFormatter" :bootstrap-styling="true" name="point_date" placeholder="Point Date"></datepicker>
                    <i v-show="errors.has('form-transaction.poin_date')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-transaction.poin_date')" class="help is-danger text-danger">{{ errors.first('form-transaction.poin_date') }}</span>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label">Description: </label>
                  <p class="control has-icon has-icon-right">
                    <textarea v-model="formData.transaction.desc" rows="3" class="form-control resize_vertical" id="note" placeholder="Note"></textarea>
                    <i v-show="errors.has('form-transaction.desc')" class="fa fa-warning text-danger"></i>
                    <span v-show="errors.has('form-transaction.desc')" class="help is-danger text-danger">{{ errors.first('form-transaction.desc') }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row marginTop">
            <div class="col-12 col-md-12">
              <input type="submit" id="btncheck" value="Save" class="btn btn-primary btn-block btn-md btn-responsive">
            </div>
          </div>
        </form>
      </div>
    </b-modal>
  </div>
</div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import toastr from "@/vendors/toastr/toastr.min.js"
import Multiselect from 'vue-multiselect'
import Datepicker from 'vuejs-datepicker'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { Orders, Wallets, Country, Member, Product, Warehouse } from "@/api"
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import Autocomplete from 'vue2-autocomplete-js'
import accounting from 'accounting'
import moment from 'moment'

export default {
  components: {
    Multiselect,
    Datepicker,
    flatPickr,
    PulseLoader,
    Autocomplete
  },
  data() {
    return {
      loading: false,
      config: {
        enableTime: true,
        dateFormat: 'Y-m-d',
      },
      form: {
        id: '',
        wallet_id: '',
        invoice_no: 1,
        bill_no: '',
        status: '',
        warehouse_id: '',
        transactions: [],
        member_id: '',
        transferred: ''
      },
      formData: {
        country: [],
        countryOpt: [],
        members: [],
        memberOpt: [],
        wallets: [],
        walletOpt:[],
        products: [],
        productOpt:[],
        warehouses: [],
        warehouseOpt:[],
        status:[],
        statusOpt:[],
        transaction: {
          id: '',
          code: 1,
          desc: '',
          amount: '',
          qty: '',
          process_date: '',
          point_date: '',
          product_id: '',
          points: '',
          product: {
            name: ''
          }
        },
        type: ''
      },
      value: null,
      is_edit: '',
      formTemp: {
        product_type_id: '',
        country: null,
        points: '',
        amount: ''
      }
    }
  },
  computed: {
    total_qty () {
      return this.form.transactions.reduce( (qty, value) => {
        return qty + parseInt(value.qty)
      }, 0)
    },
    total_amount () {
      return this.form.transactions.reduce( (amount, value) => {
        return amount + parseFloat(value.amount)
      }, 0)
    },
    total_point () {
      return this.form.transactions.reduce( (point, value) => {
        return point + parseInt(value.points)
      }, 0)
    }
  },
  methods: {
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD HH:mm:ss');
    },
    formatNumber (value) {
      return accounting.formatNumber(value, 2)
    },
    init () {
      if(this.$route.params.id) {
        this.initEdit()
      } else {
        this.initAdd()
      }
    },  
    initAdd() {
      this.getMembers()
      this.getProduct()
      this.getStatus()
      this.getWarehouse()
    },
    get_point( event ) {
      let qty = event.target.value

      this.formData.transaction.points = qty * this.formTemp.points 
      this.formData.transaction.amount = qty * this.formTemp.amount 
    },
    initEdit () {
     let order_id = this.$route.params.id
     
     Orders.showData(order_id).then(response => {
      let order = response.data
      _.forEach(this.form, (item, index) => {
        this.form[index] = order[index]
      })

      Member.showData( order.wallet.member_id ).then( response => {
        let data = response.data
        let obj = {
          name: data.name_printed,
          code: data.id
        }

        this.form.member_id = obj

        Wallets.showData( order.wallet.member_id, order.wallet_id ).then( response => {
          let data = response.data
          let obj = {
            name: data.balance,
            code: data.id
          }

          this.form.wallet_id = obj
        })

        this.getWallet()
      })

      Warehouse.showData(order.warehouse_id).then( response => {
        let data = response.data
        let obj = {
          name: data.name,
          code: data.id
        }

        this.form.warehouse_id = obj

      })

      let self = this
      Orders.getStatus().then((result) => {
        let datas =  result.data
        _.forEach(datas, function(value, key) {
          if (key == order.status) {
            let obj = {
              name: value,
              code: key
            }

            self.form.status = obj
          }
        })
      })

      this.getMembers()
      this.getStatus()
      this.getProduct()
      this.getWarehouse()
    })
   },
   getCountry() {
    let optional = '?limit=528'
    Country.getData(optional).then( response => {
      let data = response.data.data

      this.formData.country = data
    })
  },
  getMembers() {
    Member.getData().then( response => {
      let data = response.data.data

      this.formData.members = data
    })
  },
  getWallet() {
    Wallets.getData( this.form.member_id.code ).then( response => {
      let data = response.data.data
      this.formData.wallets = []
      this.formData.wallets = data
    })
  },
  getProduct() {
    Product.getData().then( response => {
      let data = response.data.data
      this.formData.products = []
      this.formData.products = data
    })
  },
  get_product_id( product ) {
    let id = product.code
    Product.showData( id ).then( response => {
      let data = response.data
      this.formData.transaction.amount = data.base_price
      this.formData.transaction.points = data.point_value
      this.formTemp.points = data.point_value
      this.formTemp.amount = data.base_price
    })
  },
  getStatus() {
    Orders.getStatus().then((result) => {
      let datas =  result.data
      this.formData.status = datas
    })
  },
  getWarehouse() {
    Warehouse.getData().then((response) => {
      let data = response.data.data
      this.formData.warehouses = []
      this.formData.warehouses = data
    })
  },
  validateForm(scope) {
    this.$validator.validateAll(scope).then((result) => {
      if (result) {
        let id = this.form.id

        if (!id) {
          let datas = []
          this.form.transactions.map( result => {
            let data = {
              code: result.code,
              desc: result.desc,
              amount: result.amount,
              qty: result.qty,
              process_date: result.process_date,
              point_date: result.point_date,
              product_id: result.product_id,
              points: result.points
            }
            datas.push(data)
          })
          this.form.transactions = datas  
          console.log(this.form.transactions)
          let formData = {
            wallet_id: this.form.wallet_id.code,
            invoice_no: this.form.invoice_no,
            bill_no: this.form.bill_no,
            warehouse_id: this.form.warehouse_id.code,
            status: this.form.status.code,
            transactions: datas
          }

          Orders.postData( formData ).then( response => {
            this.$router.push({ name: 'orders.index' })
            toastr.success('Order #'+this.form.bill_no+' success created! ' )
          }).catch((error) => {
            let errorObject=JSON.parse(JSON.stringify(error));
            toastr.error( errorObject.response.data.error )
          })
        } else {
          let datas = []
          this.form.transactions.map( result => {
            let product_id
            if (result.product_id.code != null) {
              product_id = result.product_id.code
            } else {
              product_id = result.product_id
            }
            let data
            if (result.id == '') {
              data = {
                code: result.code,
                desc: result.desc,
                amount: result.amount,
                qty: result.qty,
                process_date: result.process_date,
                point_date: result.point_date,
                product_id: product_id,
                points: result.points
              }
            } else {
              data = {
                id: result.id,
                code: result.code,
                desc: result.desc,
                amount: result.amount,
                qty: result.qty,
                process_date: result.process_date,
                point_date: result.point_date,
                product_id: product_id,
                points: result.points
              }
            }

            datas.push(data)
          })
          this.form.transactions = datas

          let formData = {
            wallet_id: this.form.wallet_id.code,
            invoice_no: this.form.invoice_no,
            bill_no: this.form.bill_no,
            warehouse_id: this.form.warehouse_id.code,
            status: this.form.status.code,
            transactions: datas
          }

          Orders.updateData( id, formData ).then( response => {
           this.$router.push({ name: 'orders.index' })
           toastr.success('Order #'+this.form.bill_no+' success updated! ' )
         }).catch((error) => {
          let errorObject=JSON.parse(JSON.stringify(error));
          toastr.error( errorObject.response.data.error )
        })
       }
     }
   })
  },
  validateTransaction(scope) {
    this.$validator.validateAll(scope).then((result) => {
      if (result) {
        if (this.is_edit >= 0 && this.formData.type != 'point') {
          this.form.transactions.splice(this.is_edit, 1)
        }
        this.formData.transaction.process_date = moment(this.formData.transaction.process_date).format('YYYY-MM-DD HH:mm:ss')
        this.formData.transaction.point_date = moment(this.formData.transaction.point_date).format('YYYY-MM-DD HH:mm:ss')
        this.formData.transaction.product.name = this.formData.transaction.product_id.name
        this.formData.transaction.product_id = this.formData.transaction.product_id.code

        this.form.transactions.push( this.formData.transaction )
        this.$refs.myModalRef.hide()
        this.formData.transaction = {
          id: '',
          code: '',
          desc: '',
          amount: '',
          qty: '',
          process_date: '',
          point_date: '',
          product_id: '',
          points: '',
          product: {
            name: ''
          }
        }
      }
    })
  },
  showModal() {
    this.formData.type = 'add'
    this.is_edit = 'add'
    this.clearDetail()
    this.$refs.myModalRef.show()
  },
  clearDetail() {
    this.formData.transaction.code = ''
    this.formData.transaction.desc = ''
    this.formData.transaction.amount = ''
    this.formData.transaction.process_date = '' 
    this.formData.transaction.point_date = ''
    this.formData.transaction.product_id = ''
    this.formData.transaction.points = ''
    this.formData.transaction.qty = ''
    this.formData.transaction.product.name = ''
  },
  editTemp( index, type ) {
    this.formData.type = type
    this.formData.transaction.code = this.form.transactions[index].code
    this.formData.transaction.desc = this.form.transactions[index].desc
    this.formData.transaction.amount = this.form.transactions[index].amount
    this.formData.transaction.process_date = this.form.transactions[index].process_date
    this.formData.transaction.point_date = this.form.transactions[index].point_date
    this.formData.transaction.product_id = this.form.transactions[index].product_id
    this.formData.transaction.points = this.form.transactions[index].points
    this.formData.transaction.qty = this.form.transactions[index].qty

    this.formTemp.points = this.form.transactions[index].points
    this.formTemp.amount = this.form.transactions[index].amount
    this.is_edit = index
    Product.showData( this.form.transactions[index].product_id ).then( response => {
      let data = response.data
      let obj = {
        name: data.name,
        code: data.id
      }
      this.formData.transaction.product_id = obj
    })

    this.getProduct()
    this.$refs.myModalRef.show()
  },
  removeTemp( index ) {
    this.form.transactions.splice(this.is_edit, 1)
  },
  asyncFind (query) {
    let optional = '?id='+query
    Member.getData(optional).then( response => {
      let data = response.data.data

      this.formData.members = data
      _.forEach(this.formData.members, (item, index) => {
       let data = {
        name: item.name_printed +' '+ item.id,
        code: item.id
      }
      this.formData.memberOpt = []
      this.formData.memberOpt.push(data)
    })
    })
  },
  asyncFindProduct (query) {
    let optional = '?name='+query
    Product.getData(optional).then( response => {
      let data = response.data.data

      this.formData.products = data
      _.forEach(this.formData.products, (item, index) => {
       let data = {
        name: item.name_printed +' '+ item.id,
        code: item.id
      }
      this.formData.productOpt = []
      this.formData.productOpt.push(data)
    })
    })
  }
},
mounted () {
  this.init()
},
watch: {
  'formData.members': function () {
    this.formData.memberOpt = []
    _.forEach(this.formData.members, (item, index) => {
     let data = {
      name: item.name_printed +' ['+ item.id+']',
      code: item.id
    }
    this.formData.memberOpt.push(data)
  })
  },
  'formData.wallets': function () {

    this.formData.walletOpt = []
    _.forEach(this.formData.wallets, (item, index) => {
      let data = {
        name: item.balance+ ' ['+ item.type_name +']',
        code: item.id
      }
      this.formData.walletOpt.push(data)
    })
  },
  'formData.products': function () {
    this.formData.productOpt = []
    _.forEach(this.formData.products, (item, index) => {
      let data = {
        name: item.name,
        code: item.id
      }
      this.formData.productOpt.push(data)
    })
  },
  'formData.status': function () {
    _.forEach(this.formData.status, (item, index) => {
      let data = {
        name: item,
        code: index
      }
      this.formData.statusOpt.push(data)
    })
  },
  'formData.warehouses': function () {
    this.formData.warehouseOpt = []
    _.forEach(this.formData.warehouses, (item, index) => {
      let data = {
        name: item.name,
        code: item.id
      }
      this.formData.warehouseOpt.push(data)
    })
  }
}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>