<template>
    <div class="row">
        <div class="col-lg-12">
            <b-card header="Attachments List" header-tag="h4" class="bg-primary-card">
                <div class="table-responsive">
                   <div class="text-left">
                    <div id="search-input-container">
                        <label>
                            <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" @keyup="doFilter" v-model="formFilter.q">
                        </label>
                        <div class="actions float-right pr-4 mb-3">
                            <button type="button" class="btn btn-icon btn-primary m-r-50" @click="showModal"><i aria-hidden="true" class="icon fa fa-fw fa-plus"></i></button>
                            <!-- <button class="btn btn-primary" @click="showModal"> Add </button> -->
                        </div>
                    </div>
                </div>
                <!-- Modal Component -->
                <b-modal ref="myModalRef" hide-footer title="Create Attachments">
                    <div class="d-block ">
                        <form id="form-validation3" @submit.prevent="validateForm('form-2')" class="columns column is-multiline is-12" data-vv-scope="form-2" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="control has-icon has-icon-right">
                                         <select v-model="formData.type" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.type') }">
                                            <option value="" disabled hidden>Select Type</option>
                                            <option v-for="option in options" v-bind:key="option.index" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <i v-show="errors.has('form-2.type')" class="fa fa-warning text-danger"></i>
                                        <span v-show="errors.has('form-2.type')" class="help is-danger text-danger">{{ errors.first('form-2.type') }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="control has-icon has-icon-right">
                                        <input @change="onFileChange" id="file" name="attachment" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('form-2.attachment') }" type="file" placeholder="attachment">
                                        <i v-show="errors.has('form-2.attachment')" class="fa fa-warning text-danger"></i>
                                        <span v-show="errors.has('form-2.attachment')" class="help is-danger text-danger">{{ errors.first('form-2.attachment') }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="control has-icon has-icon-right">
                                        <textarea v-model="formData.desc" rows="3" class="form-control resize_vertical" id="desc" placeholder="desc"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row marginTop">
                            <div class="col-12 col-md-12">
                                <input type="submit" id="btncheck" value="Save"
                                class="btn btn-primary btn-block btn-md btn-responsive"
                                tabindex="7">
                            </div>
                        </div>
                    </form>
                </div>

            </b-modal>
            <my-vuetable class="vuetable" ref="datatable"
            :api-url="dataTable.url"
            :http-options="dataTable.httpOptions"
            :data-path="dataTable.dataPath"
            :multi-sort="dataTable.multiSort"
            :pagination-path="dataTable.paginationPath"
            :fields="dataTable.fields"
            :per-page="dataTable.perPage"
            :append-params="dataTable.params"
            detail-row-component="">
            <template slot="actions" slot-scope="props">
                           <!--  <button class="btn btn-icon btn-primary btn-round m-r-50" @click="onActionRow('edit', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-pencil"></i>
                            </button> -->
                            <button class="btn btn-icon btn-info btn-round m-r-50" @click="onActionRow('download', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-download"></i>
                            </button>
                            <button class="btn btn-icon btn-danger btn-round m-r-50" @click="onActionRow('delete', props.rowData, props.rowIndex)">
                                <i class="icon fa fa-fw fa-trash-o"></i>
                            </button>
                        </template>
                    </my-vuetable>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, {fieldsBagName: 'formFields'})
import VueForm from "vue-form"
import validator from "@/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js"
import swal from '@/vendors/sweetalert2/dist/sweetalert2.min.js'
import MyVuetable from '@/components/plugins/vuetable/MyVuetable'
import toastr from "@/vendors/toastr/toastr.min.js"
import { Attachments } from "@/api"    
export default {
  //  name: "users_list",
  components: {
    MyVuetable
},
data() {
    return {
        formFilter: {
            q: ''
        },
        member_id: this.$route.params.id,
        formData: {
            id: '',
            type: '',
            attachment: '',
            desc: ''
        },
        options: [
        { text: 'KTP', value: '1' },
        { text: 'NPWP', value: '2' },
        { text: 'Other', value: '0' }
        ],
        dataTable: {
            url: Attachments.pathUrl+'/members/'+this.$route.params.id+'/attachments',
            //    dataPath: 'body.data',
            perPage: 10,
            multiSort: true,
            paginationPath: "",
            httpOptions: {
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken,
                    Accept: "application/json"
                }
            },
            fields: [
            {
                name: 'id',
                sortField: 'id',
                title: 'No',
                width: '5%'
            },
            {
                name: 'type_name',
                sortField: 'type_name',
                title: 'Type'
            },
            {
                name: 'desc',
                sortField: 'desc',
                title: 'Description'
            },
            {
                name: '__slot:actions',
                title: 'Actions',
                titleClass: 'text-right',
                dataClass: 'text-right'
            },
            ],
                // sortOrder: [
                //     {
                //         field: 'created_at',
                //         sortField: 'created_at',
                //         direction: 'desc'
                //     }
                // ],
                params: {
                    member_id: this.member_id
                }
            },
        }
    },
    methods: {
        modtype (value) {
            return value
        },
        showForm(state, data) {

            this.clearForm()

            let title = 'Insert Attachments'
            if(state == 'edit') {
                title = 'Update Attachments'
                this.setForm(data)
            }
        },
        setForm(data) {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = data[index]
            })
            this.showModal()
        },
        clearForm() {
            _.forEach(this.formData, (item, index) => {
                this.formData[index] = ''
            })
            this.$validator.reset()
        },
        validateForm(scope) {
            console.log(this.$validator)
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    let id = this.formData.id
                    if (! id) {
                        let data = new FormData()
                        data.append('type', this.formData.type)
                        data.append('desc', this.formData.desc)
                        data.append('attachment',  document.getElementById('file').files[0])
                        Attachments.postData( this.member_id, data ).then( response => {
                            this.$refs.myModalRef.hide()
                            toastr.success('Attachments successfully created!')
                            this.$refs.datatable.$refs.vuetable.refresh()
                        }).catch((error) => {
                            toastr.error('Error '+ error)
                        })
                    } else {
                        let data = new FormData()
                        data.append('type', this.formData.type)
                        data.append('desc', this.formData.desc)
                        data.append('attachment',  document.getElementById('file').files[0])
                        // data.append('_method', 'PATCH')
                        Attachments.updateData( id, this.member_id , data ).then( response => {
                            this.$refs.myModalRef.hide()
                            toastr.success('Attachments successfully updated!')
                            this.$refs.datatable.$refs.vuetable.refresh()
                        }).catch((error) => {
                            toastr.error('Error '+ error)
                        })
                    }
                }
            })
        },
        showModal() {
            this.$refs.myModalRef.show()
        },
        onActionRow( state, item ) {
            let id = item.id

            switch(state) {
                case 'download':
                Attachments.download(id, this.member_id).then((result) => {
                    let blob = new Blob([result.data], {type:result.headers['content-type']})
                    let filename = (result.headers['Content-Disposition'] || '').split('filename=')[1]
                    let link = document.createElement('a')
                    link.href = window.URL.createObjectURL(blob)
                    link.download = filename
                    link.click()
                }).catch((error) => {
                    console.log(error)
                })

                break
                case 'delete':
                swal({
                    title: "Restore",
                    text: "Are you sure to delete selected data ?",
                    showCancelButton: true,
                    confirmButtonColor: '#66cc99',
                    cancelButtonColor: '#ff6666',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger'
                })
                .then((isConfirm) => {
                    if (isConfirm) {
                        Attachments.deleteData(id, this.member_id).then((response) => {

                            this.$refs.datatable.$refs.vuetable.refresh()
                            toastr.success('Success Deleted!')

                        }).catch((error) => {
                            let data = error.response.data
                            toastr.error('Failed')
                        })
                    }
                })
                break
            }
        },
        doFilter () {
            console.log(this.formFilter)
            this.$refs.datatable.setParams(this.formFilter)
        },
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files
            if (!files.length)
                return
            this.createImage(files[0])
        },
        createImage(file) {
            var image = new Image()
            var reader = new FileReader()
            var vm = this

            reader.onload = (e) => {
                vm.formData.attachment = e.target.result
            }
            reader.readAsDataURL(file)
        },
        removeImage: function (e) {
            this.formData.attachment = ''
        }
    },
    mounted() {}
}
</script>
<style src="@/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css"></style>
<style src="@/vendors/sweetalert2/dist/sweetalert2.min.css"></style>
<style src="@/vendors/toastr/toastr.min.css"></style>
<style src="@/assets/css/custom_css/toastr_notificatons.css"></style>
<style>
@media(max-width:320px){
 body #app .header .navbar-nav .messages-menu > .dropdown-menu{
    transform: translate3d(-80px, 55px, 0px) !important;
}
}
</style>
