<template>
  <div>
      <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-fw ti-star"></i> Edit Registration 
                        </h3>
                        <span class="float-right">
                            <i class="fa fa-fw ti-angle-up clickable"></i>
                        </span>
                    </div>
                    <div class="card-body">
                        <formData></formData>
                    </div>
                </div>
            </div>
      </div>
  </div>
</template>
<script>
import formData from './parts/_form'
export default {
  components: {
      formData
  }
}
</script>

